{% block body %}
{% if BOARDS %}
<table class="tcal">
    <tr>
        <th>Forum</th>
        <th>Themen</th>
        <th>Beiträge</th>
        <th>Letzter Beitrag</th>
        {% if EDITABLE %}
        <th style="width: 30px;"></th>
        {% endif %}
    </tr>
    {% for board in BOARDS %}
    <tr class="row{{ loop.index is odd ? 'odd' : '' }}">
        {% set RECENT_POST = board.getLatestPost %}
        <td>
            <a href="alliance.php?SHOW_BOARD=1&bid={{ board.getId }}">{{ board.getName|raw }}</a>
        </td>
        <td>{{ board.getTopicCount }}</td>
        <td>{{ board.getPostCount }}</td>
        <td>
            {% if RECENT_POST %}
            <a href="?SHOW_TOPIC=1&bid={{ board.getId }}&tid={{ RECENT_POST.getTopicId }}">{{
                RECENT_POST.getTopic.getName|raw }}</a><br />
            <span>{{ RECENT_POST.getDate|date('d.m.Y H:i') }}</span> von:<br />
            <span>{{ RECENT_POST.getUser.getName | bbcode }}</span>
            {% else %}
            -
            {% endif %}
        </td>
        {% if EDITABLE %}
        {% set handle = this.getUniqId %}
        <td style="text-align: center;">
            <a href="javascript:void(0)" onclick="openBoardSettings(this,{{ board.getId }})"
                onmouseover="cp('{{ handle }}','buttons/b_down2')" onmouseout="cp('{{ handle }}','buttons/b_down1')">
                <img src="assets/buttons/b_down1.png" title="Editieren" name="{{ handle }}" />
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<br />
{% endif %}
<form action="alliance.php" method="post">
    <table class="use" {% if not EDITABLE %}style="display:none;" {% endif %}>
        <tr>
            <th>Forum erstellen</th>
        </tr>
        <tr>
            <td>
                Name <input type="text" size="20" name="board" /> <input type="submit" class="button" value="Erstellen"
                    name="B_ADD_BOARD" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}
