{% macro useravatar(user) %}
<div class="userAvatar">
    <a href="/userprofile.php?uid={{ user.getId }}">
        {% if user.getAvatar %}
        <img src="/{{ ASSET_PATHS.user }}/{{ user.getAvatar }}.png" title="{{ user.getName|bbcode2txt }}" />
        {% else %}
        <img src="/{{ ASSET_PATHS.faction }}/{{ user.getFactionId }}kn.png" title"{{ user.getName|bbcode2txt }}" />
        {% endif %}
    </a>
</div>
{% endmacro %}

{% macro userprofile(id) %}
{% set handle = getUniqId() %}
<a href="/userprofile.php?uid={{ id }}" onmouseover="cp('{{ handle }}','buttons/info2', 'png');"
    onmouseout="cp('{{ handle }}','buttons/info1', 'png');"><img src="/assets/buttons/info1.png" name="{{ handle }}"
        title="Siedlerprofil ansehen" /></a>
{% endmacro %}

{% macro userinfo(user) %}
{{ user.getName|bbcode }} ({{ user.getId }})
<img src="/assets/buttons/rpg{{ user.getRpgBehavior.value }}.png" title="{{ user.getRpgBehavior.getDescription }}" />
{% if user.isShowOnlineState %}
{% if user.isOnline %}
<img src="/assets/buttons/user_online.png" title="User ist online" />
{% else %}
<img src="/assets/buttons/user_offline.png" title="User ist offline" />
{% endif %}
{% endif %}
{% endmacro %}

{% macro navigation_item(title, viewValue, iconUrl) %}
{% set linkid = 'nav_item_' ~ iconUrl %}
{% set view = getView(viewValue) %}
{% set viewTitle = view.getTitle %}
{% set viewUrl = view.getPhpPage %}
<div class="navigation_item border_box" onmouseover="cp('{{ linkid }}','navigation/menu_{{ iconUrl }}1', 'png')"
    onmouseout="cp('{{ linkid }}','navigation/menu_{{ iconUrl }}0', 'png')">
    <a class="navitem_link" href="javascript:void(0)"
        onclick="switchInnerContent('{{ viewValue }}', '{{ viewTitle }}', '{{ viewUrl }}');cClick();">
        <img class="navitem_img" src="/assets/navigation/menu_{{ iconUrl }}0.png" id="{{ linkid }}"
            title="{{ title }}" />
        <div class="navitem_title">{{ title }}</div>
    </a>
</div>
{% endmacro %}

{% macro navigation(hasStationsNavigation, isAdmin) %}
{{ _self.navigation_item('Kolonien', 'colony', 'planets') }}
{{ _self.navigation_item('Schiffe', 'ship', 'ships') }}
{% if hasStationsNavigation %}
{{ _self.navigation_item('Stationen', 'station', 'station') }}
{% endif %}
{{ _self.navigation_item('KommNet', 'comm', 'comm') }}
{{ _self.navigation_item('Nachrichten', 'pm', 'msg') }}
{{ _self.navigation_item('Forschung', 'research', 'forsch') }}
{{ _self.navigation_item('Handel', 'trade', 'trade') }}
{{ _self.navigation_item('Allianz', 'alliance', 'ally') }}
{{ _self.navigation_item('Datenbank', 'database', 'data') }}
{{ _self.navigation_item('Ereignisse', 'history', 'history') }}
{{ _self.navigation_item('Karte', 'starmap', 'map') }}
{% if isAdmin %}
{% set linkid = 'nav_item_ticks' %}
<div class="navigation_item border_box" onmousedown="if(event.button === 0) { window.location.href='/admin'; }"
    onmouseover="cp('{{ linkid }}','navigation/menu_ticks1', 'png')"
    onmouseout="cp('{{ linkid }}','navigation/menu_ticks0', 'png')">
    <a class="navitem_link" href="'/admin'">
        <img class="navitem_img" src="/assets/navigation/menu_ticks0.png" id="{{ linkid }}" title="'Admin'" />
        <div class="navitem_title">'Admin'</div>
    </a>
</div>
{% endif %}
{% endmacro %}

{% macro adminnavigation() %}
{{ _self.navigation_item('Spielerliste', '/admin/?SHOW_PLAYER_LIST=1', 'ally') }}
{{ _self.navigation_item('Nachrichten', '/admin/?SHOW_MASS_MAIL=1', 'msg') }}
{{ _self.navigation_item('Karteneditor', '/admin/?SHOW_MAP_EDITOR=1&layerid=1', 'map') }}
{{ _self.navigation_item('Kolonie-Sandbox', '/admin/?SHOW_COLONY_SANDBOX=1', 'sandbox') }}
{{ _self.navigation_item('Ticks', '/admin/?SHOW_TICKS=1', 'ticks') }}
{{ _self.navigation_item('Skripte', '/admin/?SHOW_SCRIPTS=1', 'scripts') }}
{% endmacro %}

{% macro coloniesnavlet(colonies) %}
{% for item in colonies %}
{% set href = '/colony.php?SHOW_COLONY=1&id=' ~ item.colonyid %}

{% if item['type'] == 1 %}
<a href="{{ href }}" style="margin: 7px 5px 7px 5px; text-align: center; float: left" class="action">
    <img src="/assets/planets/{{ item.classid }}.png" title="{{ item.nameandsector|bbcode2txt }}" />
</a>
{% elseif item['type'] == 2 %}
<a href="{{ href }}" style="height: 50px; width: 30px; margin: 7px 5px 7px 5px; text-align: center; float: left"
    class="action">
    <img src="/assets/planets/{{ item.classid }}.png" title="{{ item.nameandsector|bbcode2txt }}"
        style="position:relative; margin-top: 10px;" />
</a>
{% else %}
<a href="{{ href }}" style="height: 50px; width: 40px; margin: 7px 5px 7px 5px; text-align: center; float: left"
    class="action">
    <img src="/assets/planets/{{ item.classid }}.png" title="{{ item.nameandsector|bbcode2txt }}"
        style="position:relative; margin-top: 10px;" />
</a>
{% endif %}
{% endfor %}
{% endmacro %}

{% macro pmwindow(id) %}
{% set handle = getUniqId() %}
{% if USER.getId != id %}
<a href="javascript:void(0);" onmouseover="cp('{{ handle }}','buttons/msg2', 'png');"
    onmouseout="cp('{{ handle }}','buttons/msg1', 'png');"
    onclick="closePopup();openPmWindow({{ USER.getId }}, {{ id }}, 1,1);"><img src="/assets/buttons/msg1.png"
        name="{{ handle }}" title="Nachricht senden" /></a>
{% endif %}
{% endmacro %}

{% macro contactModeSwitcher(contact, div) %}
{% if contact %}
{% set mode = contact.getMode %}
{% set description = contact.getMode|clmodeDescription %}
{% if div %}
<span class="cltype{{ mode }}" id="contact{{ contact.getId }}"
    onclick="showContactModeSwitcher('${div}',{{ contact.getId }});">{{ description }}</span>
{% else %}
<span class="cltype{{ mode }}" style="cursor: auto;">{{ description }}</span>
{% endif %}
{% endif %}
{% endmacro %}
