<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:stu="stu" lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#121220" />
    <script src="{{ JAVASCRIPTPATH }}/js/prototype.js"></script>
    <script src="{{ JAVASCRIPTPATH }}/js/scriptaculous/scriptaculous.js"></script>
    <script src="{{ JAVASCRIPTPATH }}/js/starmap.js"></script>
    <script src="{{ JAVASCRIPTPATH }}/js/default.js"></script>
    <title>{{ PAGETITLE|bbcode2txt }}</title>
    <script>
        var gfx_path = '/assets';
    </script>
    <script src="{{ JAVASCRIPTPATH }}/js/overlib.js"></script>
    <script src="{{ JAVASCRIPTPATH }}/js/drag.js"></script>
    <script src="{{ JAVASCRIPTPATH }}/js/overlib_exclusive.js"></script>
    <link rel="STYLESHEET" type="text/css" href="{{ JAVASCRIPTPATH }}/css/{{ USER.getCss }}.css" />
    <link rel="STYLESHEET" type="text/css" href="{{ JAVASCRIPTPATH }}/css/stu.css" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
</head>

<body onload="startUp();">
    <div id="overDiv">...</div>
    <div class="container">
        <div class="header">
            <div onclick="goToUrl('/maindesk.php'); return false;" class="header_box header_box_user border_box action">
                <img style="width: 30px; height: 30px;" src="/assets/buttons/b_from1.png"
                    title="Zurück zu Spielmodus" />
                <br />
                <span style="color: orange; font-size: 150%;">Klick führt zurück aufs Maindesk</span>
            </div>
            <div class="header_box header_box_logout border_box action" onclick="goToUrl('/game.php?B_LOGOUT=1')"
                onmouseover="cp('header_menu_logout','navigation/menu_logout1', 'png')"
                onmouseout="cp('header_menu_logout','navigation/menu_logout0', 'png')">
                <div>
                    <img style="width: 40px; height: 40px;" id="header_menu_logout"
                        src="/assets/navigation/menu_logout0.png" title="Logout" />
                    <div style="margin-top: 5px">Logout</div>
                </div>
            </div>
            {% if WIKI %}
            <div class="header_box header_box_help border_box action" onclick="openNewTab('{{ WIKI }}')"
                onmouseover="cp('header_menu_docu','navigation/menu_doku1', 'png')"
                onmouseout="cp('header_menu_docu','navigation/menu_doku0', 'png')">
                <div>
                    <img style="width: 40px; height: 40px;" id="header_menu_docu"
                        src="/assets/navigation/menu_doku0.png" title="Wiki" />
                    <div style="margin-top: 5px">Wiki</div>
                </div>
            </div>
            {% endif %}
            {% if FORUM %}
            <div class="header_box header_box_help border_box action" onclick="openNewTab('{{ FORUM }}')"
                onmouseover="cp('header_menu_board','navigation/menu_scripts1', 'png')"
                onmouseout="cp('header_menu_board','navigation/menu_scripts0', 'png')">
                <div>
                    <img style="width: 40px; height: 40px;" id="header_menu_board"
                        src="/assets/navigation/menu_scripts0.png" title="Forum" />
                    <div style="margin-top: 5px">Forum</div>
                </div>
            </div>
            {% endif %}
            <div class="header_box header_box_settings border_box action" onclick="goToUrl('options.php')"
                onmouseover="cp('header_menu_settings','navigation/menu_option1', 'png')"
                onmouseout="cp('header_menu_settings','navigation/menu_option0', 'png')">
                <div>
                    <img style="width: 40px; height: 40px;" id="header_menu_settings"
                        src="/assets/navigation/menu_option0.png" title="Einstellungen" />
                    <div style="margin-top: 5px">Einstellungen</div>
                </div>
            </div>
            <div class="headerBottom"> </div>
        </div>
        <div style="margin-top: 80px;">
            <div class="sidebar">
                {% from 'html/macros.twig' import npcnavigation %}
                {{ npcnavigation() }}
            </div>
            <div id="innerContent" class="innerContent">
                {% block body %}
                ...
                {% endblock %}
            </div>
        </div>
    </div>
    {% include 'html/executeJavascriptAfterRender.twig' %}
</body>

</html>
