{% macro initial_js(shipId) %}
<script language="Javascript">
    var sstr = '{{ SESSIONSTRING }}';
    var shipid = {{ shipId }};
</script>
<script type="text/javascript" src="{{ JAVASCRIPTPATH }}/js/ship.js"></script>
<script type="text/javascript" src="{{ JAVASCRIPTPATH }}/js/shipmanagement.js"></script>
<script type="text/javascript" src="{{ JAVASCRIPTPATH }}/js/station.js"></script>
{% endmacro %}

{% macro shipimage(ship) %}
{% if ship.isTrumfield %}
<img src="assets/ships/wrack/{{ ship.getFormerRumpId }}.png" title="{{ rumpname }}"
    onload="adjustCellHeight(this); adjustCellWidth(this);" />
{% else %}
{% set rumpid = ship.getRumpId %}
{% set rumpname = ship.getRumpName %}

{% if ship.getCloakState %}
{% set imagesrc = 'assets/ships/' ~ rumpid ~ '_cloaked.png' %}
{% set imagestyle = 'opacity:0.55; z-index: 5;' %}
{% else %}
{% set imagesrc = 'assets/ships/' ~ rumpid ~ '.png' %}
{% set imagestyle = 'z-index: 5;' %}
{% endif %}

<img src="assets/buttons/warp_1.png" class="indexedGraphics" style="z-index: 1;" />
<img src="{{ imagesrc }}" class="indexedGraphicsShips" style="{{ imagestyle }}" title="{{ rumpname }}"
    onload="adjustCellHeight(this); adjustCellWidth(this);" />
{% if ship.getWarpState %}
<img src="assets/buttons/warp_2.png" class="indexedGraphics" style="z-index: 2;" />
<img src="assets/buttons/warp_3.png" class="indexedGraphics" style="z-index: 3;" />
<img src="assets/buttons/warp_4.png" class="indexedGraphics" style="z-index: 6;" />
{% endif %}
{% if ship.getImpulseState %}
<img src="assets/buttons/warp_2.png" class="indexedGraphics" style="z-index: 2;" />
{% endif %}
{% if ship.getWebState %}
<img src="assets/buttons/{{ ship.getHoldingWebImageStyle
}}" class="indexedGraphics" style="z-index: 4;" />
{% endif %}

{% endif %}
{% endmacro %}

{% macro shipimagewithoutwarp(ship) %}
{% if ship.isTrumfield %}
<img src="assets/ships/wrack/{{ ship.getFormerRumpId }}.png" title="{{ ship.getRumpName }}" />
{% else %}
{% if ship.getCloakState %}
<img src="assets/ships/{{ ship.getRumpId }}_cloaked.png" style="opacity:0.55;" title="{{ ship.getRumpName }}" />
{% else %}
<img src="assets/ships/{{ ship.getRumpId }}.png" title="{{ ship.getRumpName }}" />
{% endif %}
{% endif %}
{% endmacro %}

{% macro shipimagenameastitle(ship) %}
{% if ship.getCloakState %}
<img src="assets/ships/{{ ship.getRumpId }}_cloaked.png" style="opacity:0.55;" title="{{ ship.getName|bbcode2txt }}" />
{% else %}
<img src="assets/ships/{{ ship.getRumpId }}.png" title="{{ ship.getName|bbcode2txt }}" />
{% endif %}
{% endmacro %}

{% macro nbsblock(WRAPPER, hasNbs, cloakNbs, stationNbs, fleetNbs, shipNbs) %}
{% set SHIP = WRAPPER.get %}
{% if not hasNbs and not cloakNbs %}
<table class="tcal">
    <tr>
        <td>Es befinden sich keine Schiffe in diesem Sektor</td>
    </tr>
</table>
{% endif %}
{% if cloakNbs %}
<table class="tcal">
    <tr>
        <td style="color: #f1a005;">Es befinden sich getarnte Schiffe in diesem Sektor</td>
    </tr>
</table>
{% endif %}
{% if hasNbs %}
<table class="tcal nbs" id="nbstab">
    {{ _self.nbslist_header() }}
    {% if stationNbs %}
    <tr>
        <td colspan="2"></td>
        <td colspan="5">Stationen</td>
    </tr>
    {% for station in stationNbs %}
    <tr class="row">
        {{ _self.attackShipForm(WRAPPER, station) }}
    </tr>
    {% endfor %}
    {% endif %}
    {% if fleetNbs %}
    {% for data in fleetNbs %}
    <tr>
        <td colspan="2">
            {{ data.getVisibleShipsCount }} Schiffe
            {% if data.showManagement and not SHIP.getFleetId and not SHIP.isBase %}
            (<a href="?B_JOIN_FLEET_NBS=1&id={{ SHIP.getId }}&fleetid={{ data.getId }}" title="Flotte beitreten">+</a>)
            {% endif %}
        </td>
        <td colspan="4">
            {% if data.getDefendedColony %}
            <img src="/assets/buttons/defend1.png" title="verteidigt die Kolonie" />
            {% endif %}
            {% if data.getBlockedColony %}
            <img src="/assets/buttons/block1.png" title="blockiert die Kolonie" />
            {% endif %}
            {% if data.showManagement %}
            <a href="?SHOW_SHIP=1&id={{ data.getLeadShip.getId }}">{{ data.getName|bbcode }}</a>
            {% else %}
            <span>{{ data.getName|bbcode }}</span>
            {% endif %}
            {% if data.isHidden %}
            <span id="showfleet{{ data.getId }}">
                (<a href="javascript:void(0);" onclick="showFleet({{ data.getId }});">aufklappen</a>)
            </span>
            <span style="display: none;" id="hidefleet{{ data.getId }}">
                (<a href="javascript:void(0);" onclick="hideFleet({{ data.getId }});">zuklappen</a>)
            </span>
            {% else %}
            <span style="display: none;" id="showfleet{{ data.getId }}">
                (<a href="javascript:void(0);" onclick="showFleet({{ data.getId }});">aufklappen</a>)
            </span>
            <span id="hidefleet{{ data.getId }}">
                (<a href="javascript:void(0);" onclick="hideFleet({{ data.getId }});">zuklappen</a>)
            </span>
            {% endif %}
            {% if SHIP.isBase and data.getLeadShip.isOwnedByCurrentUser %}
            <span>
                (<a
                    href="station.php?B_DOCK_FLEET=1&id={{ SHIP.getId }}&fid={{ data.getId }}&sstr={{ SESSIONSTRING }}">andocken</a>)
            </span>
            {% endif %}
        </td>
        <td>
            {% set style = data.isHidden ? '' : 'display: none;' %}
            <div id="fleetuser{{ data.getId }}" style="{{ style }}">
                {% set fromType = SHIP.isBase ? 4 : 2 %}
                <a href="javascript:void(0);" onclick="openPmWindow({{ SHIP.getId }},{{ data.getId }},{{ fromType }},3)"
                    title="Nachricht an {{ data.getUserName|bbcode2txt }} verfassen"
                    onmouseover="cp('nbsPm{{ data.getId }}','buttons/msg2')"
                    onmouseout="cp('nbsPm{{ data.getId }}','buttons/msg1')">
                    <img src="/assets/buttons/msg1.png" name="nbsPm{{ data.getId }}" />
                </a>
                <span>{{ data.getUserName|bbcode }}</span>
                ({{ data.getUserId }})
            </div>
        </td>
    </tr>
    {% for nbsItem in data.getVisibleShips %}
    {% set style = data.isHidden ? 'display: none;' : '' %}
    <tr class="row fleet{{ data.getId }}" style="{{ style }}">
        {{ _self.attackShipForm(WRAPPER, nbsItem) }}
    </tr>
    {% endfor %}
    {% endfor %}
    {% endif %}
    {% if shipNbs %}
    <tr>
        <td colspan="2"></td>
        <td colspan="5">Einzelschiffe</td>
    </tr>
    {% for nbsItem in shipNbs %}
    <tr class="row">
        {{ _self.attackShipForm(WRAPPER, nbsItem) }}
    </tr>
    {% endfor %}
    {% endif %}
</table>
{% endif %}
{% endmacro %}

{% macro attackShipForm(wrapper, nbsItem) %}
<form id="nbsf_{{ nbsItem.getId }}" method="post" action="ship.php">
    <input type="hidden" name="id" value="{{ wrapper.get.getId }}" />
    <input type="hidden" name="target" value="{{ nbsItem.getId }}" />
    <input type="hidden" name="B_ATTACK_SHIP" value="1" />
    <input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
    {{ _self.nbslist_body(wrapper, nbsItem) }}
</form>
{% endmacro %}

{% macro nbslist_header() %}
<tr>
    <td class="darkbg" style="font-weight: bold; width: 60px;" colspan="2">Aktionen</td>
    <td class="darkbg"></td>
    <td class="darkbg"></td>
    <td class="darkbg" style="font-weight: bold;">Name</td>
    <td class="darkbg" style="font-weight: bold;">Zustand</td>
    <td class="darkbg" style="font-weight: bold;">Siedler</td>
</tr>
{% endmacro %}

{% macro nbslist_body(WRAPPER, nbsItem) %}
{% set SHIP = WRAPPER.get %}
{% if SHIP.displayNbsActions %}
{% set nameWithoutMarkup = nbsItem.getName|bbcode2txt %}
<td style="width: 30px; text-align: center;">
    {% if canAttackTarget(SHIP, nbsItem) %}
    <div style="cursor: pointer;" onClick="$('nbsf_{{ nbsItem.getId }}').submit();"
        onmouseover="cp('att_{{ nbsItem.getId }}','buttons/phaser2')"
        onmouseout="cp('att_{{ nbsItem.getId }}','buttons/phaser1')">
        <img src="assets/buttons/phaser1.png" name="att_{{ nbsItem.getId }}"
            title="{{ nameWithoutMarkup }} angreifen" />
    </div>
    {% endif %}
</td>
<td style="width: 120px;">
    {% if not nbsItem.getCloakState %}
    <div style="float:left; margin-right:4px;">
        <a href="javascript:void(0);" onclick="showScanWindow({{ SHIP.getId }},{{ nbsItem.getId }})"
            onmouseover="cp('scn_{{ nbsItem.getId }}','buttons/lupe2')"
            onmouseout="cp('scn_{{ nbsItem.getId }}','buttons/lupe1')">
            <img src="assets/buttons/lupe1.png" name="scn_{{ nbsItem.getId }}"
                title="{{ nameWithoutMarkup }} scannen" />
        </a>
    </div>
    {% endif %}
    {% if SHIP.canIntercept and nbsItem.isInterceptable and SHIP.hasWarpdrive %}
    <div style="float:left; margin-right:4px;">
        <a href="?B_INTERCEPT=1&id={{ SHIP.getId }}&target={{ nbsItem.getId }}&sstr={{ SESSIONSTRING }}"
            onmouseover="cp('int_{{ nbsItem.getId }}','buttons/inc2')"
            onmouseout="cp('int_{{ nbsItem.getId }}','buttons/inc1')">
            <img src="assets/buttons/inc1.png" name="int_{{ nbsItem.getId }}"
                title="{{ nameWithoutMarkup }} abfangen" />
        </a>
    </div>
    {% endif %}
    {% if nbsItem.getWarpState %}
    <span style="width: 100%; color: #474791;">Im Warp</span>
    {% else %}
    {% if not nbsItem.getCloakState %}
    {% if not nbsItem.isDestroyed %}
    <div style="float:left; margin-right:4px;">
        <a href="javascript:void(0);" onclick="showETransferWindow({{ nbsItem.getId }})"
            onmouseover="cp('etr_{{ nbsItem.getId }}','buttons/e_trans2')"
            onmouseout="cp('etr_{{ nbsItem.getId }}','buttons/e_trans1')">
            <img src="assets/buttons/e_trans1.png" name="etr_{{ nbsItem.getId }}"
                title="Energie zur {{ nameWithoutMarkup }} transferieren" />
        </a>
    </div>
    {% endif %}
    <div style="float:left; margin-right:4px;">
        <a href="javascript:void(0);" onclick="showBToWindow({{ nbsItem.getId }})"
            onmouseover="cp('bto_{{ nbsItem.getId }}','buttons/b_down2')"
            onmouseout="cp('bto_{{ nbsItem.getId }}','buttons/b_down1')">
            <img src="assets/buttons/b_down1.png" name="bto_{{ nbsItem.getId }}"
                title="Zur {{ nameWithoutMarkup }} runterbeamen" />
        </a>
        <a href="javascript:void(0);" onclick="showBFromWindow({{ nbsItem.getId }})"
            onmouseover="cp('bfr_{{ nbsItem.getId }}','buttons/b_up2')"
            onmouseout="cp('bfr_{{ nbsItem.getId }}','buttons/b_up1')">
            <img src="assets/buttons/b_up1.png" name="bfr_{{ nbsItem.getId }}"
                title="Von der {{ nameWithoutMarkup }} hochbeamen" />
        </a>
    </div>
    {% if (nbsItem.isOwnedByCurrentUser or nbsItem.hasUplink) and SHIP.isTroopQuartersHealthy %}
    <div style="float:left; margin-right:4px;">
        <a href="javascript:void(0);" onclick="showBTroopTransferWindow({{ nbsItem.getId }}, false, true);">
            <img src="assets/buttons/bt_down1.png" title="Truppen zur {{ nameWithoutMarkup }} beamen" />
        </a>
        <a href="javascript:void(0);" onclick="showBTroopTransferWindow({{ nbsItem.getId }}, false, false);">
            <img src="assets/buttons/bt_up1.png" title="Truppen von der {{ nameWithoutMarkup }} beamen" />
        </a>
    </div>
    {% endif %}
    {% if SHIP.isTorpedoStorageHealthy %}
    <div style="float:left; margin-right:4px;">
        <a href="javascript:void(0);" onclick="showBTorpTransferWindow({{ nbsItem.getId }}, true);">
            <img src="assets/buttons/btorp_down1.png" title="Torpedos zur {{ nameWithoutMarkup }} beamen" />
        </a>
        <a href="javascript:void(0);" onclick="showBTorpTransferWindow({{ nbsItem.getId }}, false);">
            <img src="assets/buttons/btorp_up1.png" title="Torpedos von der {{ nameWithoutMarkup }} beamen" />
        </a>
    </div>
    {% endif %}
    {% if nbsItem.isTractorbeamPossible and not SHIP.isTractoring %}
    <div style="float:left; margin-right:4px;">
        <a href="?B_ACTIVATE_TRACTOR=1&id={{ SHIP.getId }}&target={{ nbsItem.getId }}&sstr={{ SESSIONSTRING }}"
            onmouseover="cp('tra_{{ nbsItem.getId }}','buttons/trak2')"
            onmouseout="cp('tra_{{ nbsItem.getId }}','buttons/trak1')">
            <img src="assets/buttons/trak1.png" name="tra_{{ nbsItem.getId }}"
                title="Traktorstrahl auf die {{ nameWithoutMarkup }} richten" />
        </a>
    </div>
    {% endif %}
    {% if nbsItem.isOwnedByCurrentUser and nbsItem.isShuttle and SHIP.hasFreeShuttleSpace %}
    <div style="float:left; margin-right:4px;">
        <a href="?B_STORE_SHUTTLE=1&id={{ SHIP.getId }}&target={{ nbsItem.getId }}&sstr={{ SESSIONSTRING }}"
            onmouseover="cp('store_{{ nbsItem.getId }}','buttons/landshuttle2', 'png')"
            onmouseout="cp('store_{{ nbsItem.getId }}','buttons/landshuttle1', 'png')">
            <img src="assets/buttons/landshuttle1.png" name="store_{{ nbsItem.getId }}" title="Shuttle aufsammeln" />
        </a>
    </div>
    {% endif %}
    {% if SHIP.isShuttle and nbsItem.isOwnedByCurrentUser %}
    <div style="float:left; margin-right:4px;">
        <a href="?B_LAND_SHUTTLE=1&id={{ nbsItem.getId }}&shuttle={{ SHIP.getId }}&sstr={{ SESSIONSTRING }}"
            onmouseover="cp('land_{{ nbsItem.getId }}','buttons/landshuttle2', 'png')"
            onmouseout="cp('land_{{ nbsItem.getId }}','buttons/landshuttle1', 'png')">
            <img src="assets/buttons/landshuttle1.png" name="land_{{ nbsItem.getId }}"
                title="In Shuttle-Rampe landen" />
        </a>
    </div>
    {% endif %}
    {% if wrapper.getTrackerSystemData and wrapper.getTrackerSystemData.isUseable and not nbsItem.isDestroyed %}
    <div style="float:left; margin-right:4px;">
        <a href="?B_TRACK=1&id={{ SHIP.getId }}&target={{ nbsItem.getId }}&sstr={{ SESSIONSTRING }}"
            onmouseover="cp('track_{{ nbsItem.getId }}','buttons/mark_1', 'png')"
            onmouseout="cp('track_{{ nbsItem.getId }}','buttons/mark', 'png')">
            <img src="assets/buttons/mark.png" name="track_{{ nbsItem.getId }}" title="Ziel markieren" />
        </a>
    </div>
    {% endif %}
    {% endif %}
    {% if nbsItem.isBase and not nbsItem.isDestroyed and not SHIP.getDockedTo %}
    <div style="float:left; margin-right:4px;">
        <a href="?B_DOCK=1&id={{ SHIP.getId }}&target={{ nbsItem.getId }}&sstr={{ SESSIONSTRING }}"
            onmouseover="cp('dock_{{ nbsItem.getId }}','buttons/dock2')"
            onmouseout="cp('dock_{{ nbsItem.getId }}','buttons/dock1')">
            <img src="assets/buttons/dock1.png" name="dock_{{ nbsItem.getId }}"
                title="An die {{ nameWithoutMarkup }} andocken" />
        </a>
    </div>
    {% endif %}
    {% endif %}
</td>
{% else %}
<td colspan="2" style="text-align: center;">
    {% if SHIP.getWarpState %}
    {% if SHIP.canIntercept and nbsItem.isInterceptable and SHIP.hasWarpdrive %}
    <a href="?B_INTERCEPT=1&id={{ SHIP.getId }}&target={{ nbsItem.getId }}&sstr={{ SESSIONSTRING }}"
        onmouseover="cp('int_{{ nbsItem.getId }}','buttons/inc2')"
        onmouseout="cp('int_{{ nbsItem.getId }}','buttons/inc1')">
        <img src="assets/buttons/inc1.png" name="int_{{ nbsItem.getId }}"
            title="{{ nbsItem.getName|bbcode2txt }} abfangen" />
    </a>
    {% endif %}
    {% if not nbsItem.getCloakState %}
    <a href="javascript:void(0);" onclick="showScanWindow({{ SHIP.getId }},{{ nbsItem.getId }})"
        onmouseover="cp('scn_{{ nbsItem.getId }}','buttons/lupe2')"
        onmouseout="cp('scn_{{ nbsItem.getId }}','buttons/lupe1')">
        <img src="assets/buttons/lupe1.png" name="scn_{{ nbsItem.getId }}"
            title="{{ nbsItem.getName|bbcode2txt }} scannen" />
    </a>
    {% endif %}
    <span style="width: 100%; color: #49495f;">Warpantrieb aktiv</span>
    {% endif %}
    {% if SHIP.getCloakState %}
    <div style="width: 100%; color: #404040;">Tarnung aktiv</div>
    {% endif %}
</td>
{% endif %}
<td style="{{ nbsItem.getHoldingWebBackgroundStyle }}" class="nbsshipimage">
    {% if nbsItem.isOwnedByCurrentUser %}
    <a href="ship.php?SHOW_SHIP=1&id={{ nbsItem.getId }}">
        {{ _self.shipimagewithoutwarp(nbsItem) }}
    </a>
    {% else %}
    {{ _self.shipimagewithoutwarp(nbsItem) }}
    {% endif %}
</td>
<td>
    {% if nbsItem.hasLogBook %}
    <img src="assets/buttons/log.png" title="Logbuch verfügbar" />
    {% endif %}
</td>
<td>
    {% if nbsItem.isOwnedByCurrentUser %}
    <a href="ship.php?SHOW_SHIP=1&id={{ nbsItem.getId }}"><span>{{ nbsItem.getName|bbcode }}</span></a>
    {% else %}
    {{ nbsItem.getName|bbcode }}
    {% endif %}
</td>
{% if nbsItem.isTrumfield %}
<td style="width: 160px;">{{ nbsItem.getHull }}</td>
<td>{{ nbsItem.getUserName|bbcode }}</td>
{% else %}
<td style="width: 160px;">
    {{ nbsItem.getHull }}/{{ nbsItem.getMaxHull }}
    {% if nbsItem.getShieldState %}
    (<span class="activeshield">{{ nbsItem.getShield }}</span>)
    {% endif %}
</td>
<td>
    {% if nbsItem.isContactable %}
    {% set fromType = SHIP.isBase ? 4 : 2 %}
    {% set toType = nbsItem.isBase ? 4 : 2 %}
    <a href="javascript:void(0);"
        onclick="openPmWindow({{ SHIP.getId }},{{ nbsItem.getId }},{{ fromType }},{{ toType }})"
        title="Nachricht an {{ nbsItem.getUserName|bbcode2txt }} verfassen"
        onmouseover="cp('nbsPm{{ nbsItem.getId }}','buttons/msg2')"
        onmouseout="cp('nbsPm{{ nbsItem.getId }}','buttons/msg1')">
        <img src="/assets/buttons/msg1.png" name="nbsPm{{ nbsItem.getId }}" /></a>
    {% endif %}
    {{ nbsItem.getUserName|bbcode }} ({{ nbsItem.getUserId }})
</td>
{% endif %}
{% endmacro %}

{% macro shipstorage(ship) %}
<table class="use" style="width: 200px;">
    <tr>
        <th><img onClick="window.scrollTo(0,0);" src="assets/buttons/lager.png" title="Lagerraum" /> Lagerraum
            {{ ship.getStorageSum }}/{{ ship.getMaxStorage }}</th>
    <tr>
        <td>
            {% for storage in ship.getStorage %}
            {% if storage.getAmount %}
            {% set commodity = storage.getCommodity %}
            {% if loop.index0 % 2 == 0 %}
            <div style="float: left; width: 50%;">
                <img src="assets/commodities/{{ commodity.getId }}.png" title="{{ commodity.getName }}" />
                {{ storage.getAmount }}
            </div>
            {% else %}
            <div style="float: right; width: 50%;">
                <img src="assets/commodities/{{ commodity.getId }}.png" title="{{ commodity.getName }}" />
                {{ storage.getAmount }}
            </div>
            {% if loop.last %}
            <div style="float: left; width: 50%;"> </div>
            {% endif %}
            <br style="clear: both;" />
            {% endif %}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    </tr>
</table>
{% endmacro %}
