{% macro shipimage(ship) %}
{% set rumpid = ship.getRumpId %}
{% set rumpname = ship.getRumpName %}

{% if ship.isCloaked %}
{% set imagesrc = 'assets/ships/' ~ rumpid ~ '_cloaked.png' %}
{% set imagestyle = 'opacity:0.55; z-index: 5;' %}
{% else %}
{% set imagesrc = 'assets/ships/' ~ rumpid ~ '.png' %}
{% set imagestyle = 'z-index: 5;' %}
{% endif %}

<img src="/assets/buttons/warp_1.png" class="indexedGraphics" style="z-index: 1;" />
<img src="{{ imagesrc }}" class="indexedGraphicsShips" style="{{ imagestyle }}" title="{{ rumpname }}"
    onload="adjustCellHeight(this); adjustCellWidth(this);" />
{% if ship.isWarped %}
<img src="/assets/buttons/warp_2.png" class="indexedGraphics" style="z-index: 2;" />
<img src="/assets/buttons/warp_3.png" class="indexedGraphics" style="z-index: 3;" />
<img src="/assets/buttons/warp_4.png" class="indexedGraphics" style="z-index: 6;" />
{% endif %}
{% if ship.getImpulseState %}
<img src="/assets/buttons/warp_2.png" class="indexedGraphics" style="z-index: 2;" />
{% endif %}
{% if ship.isHeldByTholianWeb %}
<img src="/assets/buttons/{{ ship.getHoldingWebImageStyle
}}" class="indexedGraphics" style="z-index: 4;" />
{% endif %}

{% endmacro %}

{% macro spacecraftImageWithoutWarp(ship) %}
{% if ship.isCloaked %}
<img src="/assets/ships/{{ ship.getRumpId }}_cloaked.png" style="opacity:0.55;" title="{{ ship.getRumpName }}" />
{% else %}
<img src="/assets/ships/{{ ship.getRumpId }}.png" title="{{ ship.getRumpName }}" />
{% endif %}
{% endmacro %}

{% macro shipimagenameastitle(ship) %}
{% if ship.isCloaked %}
<img src="/assets/ships/{{ ship.getRumpId }}_cloaked.png" style="opacity:0.55;" title="{{ ship.getName|bbcode2txt }}" />
{% else %}
<img src="/assets/ships/{{ ship.getRumpId }}.png" title="{{ ship.getName|bbcode2txt }}" />
{% endif %}
{% endmacro %}

{% macro trumfieldImage(trumfield) %}
<img src="/assets/ships/wrack/{{ trumfield.getFormerRumpId }}.png" title="Trümmerfeld"
    onload="adjustCellHeight(this); adjustCellWidth(this);" />
{% endmacro %}

{% macro nbsblock(WRAPPER, hasNbs, cloakNbs, stationNbs, fleetNbs, shipNbs, trumfieldNbs) %}
{% from 'html/macros.twig' import onClickSpacecraft %}
{% set SPACECRAFT = WRAPPER.get %}
{% if not hasNbs and not cloakNbs %}
<table class="tcal">
    <tr>
        <td>Es befinden sich keine Schiffe in diesem Sektor</td>
    </tr>
</table>
{% endif %}
{% if cloakNbs %}
<table class="tcal">
    <tr>
        <td style="color: #f1a005;">Es befinden sich getarnte Schiffe in diesem Sektor</td>
    </tr>
</table>
{% endif %}
{% if hasNbs %}
<table class="tcal nbs" id="nbstab">
    {{ _self.nbslist_header() }}
    {% if stationNbs %}
    <tr>
        <td colspan="2"></td>
        <td colspan="5">Stationen</td>
    </tr>
    {% for station in stationNbs %}
    <tr class="row">
        {{ _self.nbslist_body(WRAPPER, station) }}
    </tr>
    {% endfor %}
    {% endif %}
    {% if fleetNbs %}
    {% for data in fleetNbs %}
    <tr>
        <td colspan="2">
            {{ data.getVisibleShipsCount }} Schiffe
            {% if data.showManagement and not SPACECRAFT.getFleetId and not SPACECRAFT.isStation %}
            (<a href="?B_JOIN_FLEET_NBS=1&id={{ SPACECRAFT.getId }}&fleetid={{ data.getId }}"
                title="Flotte beitreten">+</a>)
            {% endif %}
        </td>
        <td colspan="4">
            {% if data.getDefendedColony %}
            <img src="/assets/buttons/defend1.png" title="verteidigt die Kolonie" />
            {% endif %}
            {% if data.getBlockedColony %}
            <img src="/assets/buttons/block1.png" title="blockiert die Kolonie" />
            {% endif %}
            {% if data.showManagement %}
            <a {{ onClickSpacecraft(data.getLeadShip) }}>{{ data.getName|bbcode }}</a>
            {% else %}
            <span>{{ data.getName|bbcode }}</span>
            {% endif %}
            {% if data.isHidden %}
            <span id="showfleet{{ data.getId }}">
                (<a href="javascript:void(0);" onclick="showFleet({{ data.getId }});">aufklappen</a>)
            </span>
            <span style="display: none;" id="hidefleet{{ data.getId }}">
                (<a href="javascript:void(0);" onclick="hideFleet({{ data.getId }});">zuklappen</a>)
            </span>
            {% else %}
            <span style="display: none;" id="showfleet{{ data.getId }}">
                (<a href="javascript:void(0);" onclick="showFleet({{ data.getId }});">aufklappen</a>)
            </span>
            <span id="hidefleet{{ data.getId }}">
                (<a href="javascript:void(0);" onclick="hideFleet({{ data.getId }});">zuklappen</a>)
            </span>
            {% endif %}
            {% if SPACECRAFT.isStation and data.getLeadShip.isSelectable %}
            <span>
                (<a href="javascript:void(0);"
                    onClick="actionToInnerContent('B_DOCK_FLEET', 'id={{ SPACECRAFT.getId }}&fid={{ data.getId }}&sstr={{ SESSIONSTRING }}', null, 'station.php');">andocken</a>)
            </span>
            {% endif %}
        </td>
        <td>
            {% set style = data.isHidden ? '' : 'display: none;' %}
            <div id="fleetuser{{ data.getId }}" style="{{ style }}">
                {% set fromType = SPACECRAFT.isStation ? 4 : 2 %}
                <a href="javascript:void(0);"
                    onclick="openPmWindow({{ SPACECRAFT.getId }},{{ data.getId }},{{ fromType }},3);"
                    title="Nachricht an {{ data.getUserName|bbcode2txt }} verfassen"
                    onmouseover="cp('nbsPm{{ data.getId }}','buttons/msg2')"
                    onmouseout="cp('nbsPm{{ data.getId }}','buttons/msg1')">
                    <img src="/assets/buttons/msg1.png" name="nbsPm{{ data.getId }}" />
                </a>
                <span>{{ data.getUserName|bbcode }}</span>
                ({{ data.getUserId }})
            </div>
        </td>
    </tr>
    {% for nbsItem in data.getVisibleShips %}
    {% set style = data.isHidden ? 'display: none;' : '' %}
    <tr class="row fleet{{ data.getId }}" style="{{ style }}">
        {{ _self.nbslist_body(WRAPPER, nbsItem) }}
    </tr>
    {% endfor %}
    {% endfor %}
    {% endif %}
    {% if shipNbs %}
    <tr>
        <td colspan="2"></td>
        <td colspan="5">Einzelschiffe</td>
    </tr>
    {% for nbsItem in shipNbs %}
    <tr class="row">
        {{ _self.nbslist_body(WRAPPER, nbsItem) }}
    </tr>
    {% endfor %}
    {% endif %}

    {% if trumfieldNbs %}
    <tr>
        <td colspan="2"></td>
        <td colspan="5">Trümmerfelder</td>
    </tr>
    {% for trumfield in trumfieldNbs %}
    <tr class="row">
        {% include 'html/spacecraft/nbsTrumfieldBody.twig' %}
    </tr>
    {% endfor %}
    {% endif %}

</table>
{% endif %}
{% endmacro %}

{% macro nbslist_header() %}
<tr>
    <td class="darkbg" style="font-weight: bold; width: 60px;" colspan="2">Aktionen</td>
    <td class="darkbg"></td>
    <td class="darkbg"></td>
    <td class="darkbg" style="font-weight: bold;">Name</td>
    <td class="darkbg" style="font-weight: bold;">Zustand</td>
    <td class="darkbg" style="font-weight: bold;">Siedler</td>
</tr>
{% endmacro %}

{% macro nbslist_body(WRAPPER, nbsItem) %}
{% from 'html/macros.twig' import onClickSpacecraft %}
{% set SPACECRAFT = WRAPPER.get %}
{% set spacecraftId = SPACECRAFT.getId %}
{% set targetId = nbsItem.getId %}
{% if SPACECRAFT.displayNbsActions %}
{% set nameWithoutMarkup = nbsItem.getName|bbcode2txt %}
<td style="width: 30px; text-align: center;">
    {% if canAttackTarget(SPACECRAFT, nbsItem) %}
    <div style="cursor: pointer;"
        onClick="actionToInnerContent('B_ATTACK_SPACECRAFT', 'id={{ spacecraftId }}&target={{ targetId }}&sstr={{ SESSIONSTRING }}');"
        onmouseover="cp('att_{{ targetId }}','buttons/phaser2')"
        onmouseout="cp('att_{{ targetId }}','buttons/phaser1')">
        <img src="/assets/buttons/phaser1.png" name="att_{{ targetId }}" title="{{ nameWithoutMarkup }} angreifen" />
    </div>
    {% endif %}
</td>
<td style="width: 120px;">
    {% if nbsItem.isScanPossible %}
    <div style="float:left; margin-right:4px;">
        <a href="javascript:void(0);" onclick="showScanWindow({{ spacecraftId }},{{ targetId }});"
            onmouseover="cp('scn_{{ targetId }}','buttons/lupe2')"
            onmouseout="cp('scn_{{ targetId }}','buttons/lupe1')">
            <img src="/assets/buttons/lupe1.png" name="scn_{{ targetId }}" title="{{ nameWithoutMarkup }} scannen" />
        </a>
    </div>
    {% endif %}
    {% if SPACECRAFT.canIntercept and nbsItem.isInterceptable %}
    <div style="float:left; margin-right:4px;">
        <a href="?B_INTERCEPT=1&id={{ spacecraftId }}&target={{ targetId }}&sstr={{ SESSIONSTRING }}"
            onmouseover="cp('int_{{ targetId }}','buttons/inc2')" onmouseout="cp('int_{{ targetId }}','buttons/inc1')">
            <img src="/assets/buttons/inc1.png" name="int_{{ targetId }}" title="{{ nameWithoutMarkup }} abfangen" />
        </a>
    </div>
    {% endif %}
    {% if nbsItem.isWarped %}
    <span style="width: 100%; color: #474791;">Im Warp</span>
    {% else %}
    {% if not nbsItem.isCloaked %}
    {% if not nbsItem.isDestroyed %}
    <div style="float:left; margin-right:4px;">
        <a href="javascript:void(0);" onclick="showETransferWindow({{ targetId }})"
            onmouseover="cp('etr_{{ targetId }}','buttons/e_trans2')"
            onmouseout="cp('etr_{{ targetId }}','buttons/e_trans1')">
            <img src="/assets/buttons/e_trans1.png" name="etr_{{ targetId }}"
                title="Energie zur {{ nameWithoutMarkup }} transferieren" />
        </a>
    </div>
    {% endif %}
    {% if nbsItem.isTransferPossible %}
    <div style="float:left; margin-right:4px;">
        {% set sourceEntityType = SPACECRAFT.getTransferEntityType.value %}
        {% set targetEntityType = nbsItem.getTransferEntityType.value %}
        <a href="javascript:void(0);"
            onclick="showTransfer({{ spacecraftId }}, '{{sourceEntityType}}', {{ targetId }}, '{{ targetEntityType }}', 1, true);"
            onmouseover="cp('bto_{{ targetId }}','buttons/b_down2')"
            onmouseout="cp('bto_{{ targetId }}','buttons/b_down1')">
            <img src="/assets/buttons/b_down1.png" name="bto_{{ targetId }}"
                title="Zur {{ nameWithoutMarkup }} runterbeamen" />
        </a>
        <a href="javascript:void(0);"
            onclick="showTransfer({{ spacecraftId }}, '{{sourceEntityType}}', {{ targetId }}, '{{ targetEntityType }}', 1, false);"
            onmouseover="cp('bfr_{{ targetId }}','buttons/b_up2')"
            onmouseout="cp('bfr_{{ targetId }}','buttons/b_up1')">
            <img src="/assets/buttons/b_up1.png" name="bfr_{{ targetId }}"
                title="Von der {{ nameWithoutMarkup }} hochbeamen" />
        </a>
    </div>
    {% endif %}
    {% if nbsItem.isTractorbeamPossible and not SPACECRAFT.isTractoring %}
    <div style="float:left; margin-right:4px;">
        <a href="?B_ACTIVATE_TRACTOR=1&id={{ spacecraftId }}&target={{ targetId }}&sstr={{ SESSIONSTRING }}"
            onmouseover="cp('tra_{{ targetId }}','buttons/trak2')"
            onmouseout="cp('tra_{{ targetId }}','buttons/trak1')">
            <img src="/assets/buttons/trak1.png" name="tra_{{ targetId }}"
                title="Traktorstrahl auf die {{ nameWithoutMarkup }} richten" />
        </a>
    </div>
    {% endif %}
    {% if nbsItem.hasCrew %}
    {% if nbsItem.isBoardingPossible and not nbsItem.isSelectable %}
    <div style="float:left; margin-right:4px;">
        <a href="?B_BOARD_SHIP=1&id={{ spacecraftId }}&target={{ targetId }}&sstr={{ SESSIONSTRING }}"
            onmouseover="cp('boa_{{ targetId }}','buttons/boa2')" onmouseout="cp('boa_{{ targetId }}','buttons/boa1')">
            <img src="/assets/buttons/boa1.png" name="boa_{{ targetId }}"
                title="Enterkommando zur {{ nameWithoutMarkup }} entsenden" />
        </a>
    </div>
    {% endif %}
    {% else %}
    {% set takeover = SPACECRAFT.getTakeoverActive %}
    {% if takeover %}
    {% if takeover.getTargetShip.getId == targetId %}
    <div style="float:left; margin-right:4px;">
        <a href="?B_STOP_TAKEOVER=1&id={{ spacecraftId }}&target={{ targetId }}&sstr={{ SESSIONSTRING }}"
            onmouseover="cp('untake_{{ targetId }}','buttons/untake1')"
            onmouseout="cp('untake_{{ targetId }}','buttons/untake2')">
            <img src="/assets/buttons/untake2.png" name="untake_{{ targetId }}"
                title="Übernahme der {{ nameWithoutMarkup }} abbrechen (noch {{ WRAPPER.getTakeoverTicksLeft }} Runden)" />
        </a>
    </div>
    {% endif %}
    {% else %}
    {% if nbsItem.isBoardingPossible and not nbsItem.isSelectable %}
    <div style="float:left; margin-right:4px;">
        <a href="?B_TAKEOVER_SHIP=1&id={{ spacecraftId }}&target={{ targetId }}&sstr={{ SESSIONSTRING }}"
            onmouseover="cp('take_{{ targetId }}','buttons/take2')"
            onmouseout="cp('take_{{ targetId }}','buttons/take1')">
            <img src="/assets/buttons/take1.png" name="take_{{ targetId }}"
                title="Übernahme der {{ nameWithoutMarkup }} starten" />
        </a>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}
    {% if nbsItem.isSelectable and nbsItem.isShuttle and SPACECRAFT.hasFreeShuttleSpace %}
    <div style="float:left; margin-right:4px;">
        <a href="javascript:void(0);"
            onClick="actionToInnerContent('B_STORE_SHUTTLE', 'id={{ spacecraftId }}&target={{ targetId }}&sstr={{ SESSIONSTRING }}');"
            onmouseover="cp('store_{{ targetId }}','buttons/landshuttle2', 'png')"
            onmouseout="cp('store_{{ targetId }}','buttons/landshuttle1', 'png')">
            <img src="/assets/buttons/landshuttle1.png" name="store_{{ targetId }}" title="Shuttle aufsammeln" />
        </a>
    </div>
    {% endif %}
    {% if SPACECRAFT.isShuttle and nbsItem.isSelectable %}
    <div style="float:left; margin-right:4px;">
        <a href="?B_LAND_SHUTTLE=1&id={{ targetId }}&shuttle={{ spacecraftId }}&sstr={{ SESSIONSTRING }}"
            onmouseover="cp('land_{{ targetId }}','buttons/landshuttle2', 'png')"
            onmouseout="cp('land_{{ targetId }}','buttons/landshuttle1', 'png')">
            <img src="/assets/buttons/landshuttle1.png" name="land_{{ targetId }}" title="In Shuttle-Rampe landen" />
        </a>
    </div>
    {% endif %}
    {% if WRAPPER.getTrackerSystemData and WRAPPER.getTrackerSystemData.isUseable and not nbsItem.isDestroyed %}
    <div style="float:left; margin-right:4px;">
        <a href="?B_TRACK=1&id={{ spacecraftId }}&target={{ targetId }}&sstr={{ SESSIONSTRING }}"
            onmouseover="cp('track_{{ targetId }}','buttons/mark_1', 'png')"
            onmouseout="cp('track_{{ targetId }}','buttons/mark', 'png')">
            <img src="/assets/buttons/mark.png" name="track_{{ targetId }}" title="Ziel markieren" />
        </a>
    </div>
    {% endif %}
    {% endif %}
    {% if nbsItem.isStation and not nbsItem.isDestroyed and not SPACECRAFT.getDockedTo %}
    <div style="float:left; margin-right:4px;">
        <a href="javascript:void(0);"
            onClick="actionToInnerContent('B_DOCK', 'id={{ spacecraftId }}&target={{ targetId }}&sstr={{ SESSIONSTRING }}');"
            onmouseover="cp('dock_{{ targetId }}','buttons/dock2')"
            onmouseout="cp('dock_{{ targetId }}','buttons/dock1')">
            <img src="/assets/buttons/dock1.png" name="dock_{{ targetId }}"
                title="An die {{ nameWithoutMarkup }} andocken" />
        </a>
    </div>
    {% endif %}
    {% endif %}
</td>
{% else %}
<td colspan="2" style="text-align: center;">
    {% if SPACECRAFT.getWarpDriveState %}
    {% if SPACECRAFT.canIntercept and nbsItem.isInterceptable %}
    <a href="?B_INTERCEPT=1&id={{ spacecraftId }}&target={{ targetId }}&sstr={{ SESSIONSTRING }}"
        onmouseover="cp('int_{{ targetId }}','buttons/inc2')" onmouseout="cp('int_{{ targetId }}','buttons/inc1')">
        <img src="/assets/buttons/inc1.png" name="int_{{ targetId }}"
            title="{{ nbsItem.getName|bbcode2txt }} abfangen" />
    </a>
    {% endif %}
    {% if not nbsItem.isCloaked %}
    <a href="javascript:void(0);" onclick="showScanWindow({{ spacecraftId }},{{ targetId }});"
        onmouseover="cp('scn_{{ targetId }}','buttons/lupe2')" onmouseout="cp('scn_{{ targetId }}','buttons/lupe1')">
        <img src="/assets/buttons/lupe1.png" name="scn_{{ targetId }}"
            title="{{ nbsItem.getName|bbcode2txt }} scannen" />
    </a>
    {% endif %}
    <span style="width: 100%; color: #49495f;">Warpantrieb aktiv</span>
    {% endif %}
    {% if SPACECRAFT.isCloaked %}
    <div style="width: 100%; color: #404040;">Tarnung aktiv</div>
    {% endif %}
</td>
{% endif %}
<td style="{{ nbsItem.getHoldingWebBackgroundStyle }}" class="nbsshipimage">
    {% if nbsItem.isSelectable %}
    <a {{ onClickSpacecraft(nbsItem) }}>
        {{ _self.spacecraftImageWithoutWarp(nbsItem) }}
    </a>
    {% else %}
    {{ _self.spacecraftImageWithoutWarp(nbsItem) }}
    {% endif %}
</td>
<td>
    {% if nbsItem.hasLogBook %}
    <img src="/assets/buttons/log.png" title="Logbuch verfügbar" />
    {% endif %}
</td>
<td>
    {% if nbsItem.isSelectable %}
    <a {{ onClickSpacecraft(nbsItem) }}><span>{{ nbsItem.getName|bbcode }}</span></a>
    {% else %}
    {{ nbsItem.getName|bbcode }}
    {% endif %}
</td>
{% if nbsItem.isTrumfield %}
<td style="width: 160px;">{{ nbsItem.getHull }}</td>
<td></td>
{% else %}
<td style="width: 160px;">
    {{ nbsItem.getHull }}/{{ nbsItem.getMaxHull }}
    {% if nbsItem.isShielded %}
    (<span class="activeshield">{{ nbsItem.getShield }}</span>)
    {% endif %}
</td>
<td>
    {% if nbsItem.isContactable %}
    {% set fromType = SPACECRAFT.isStation ? 4 : 2 %}
    {% set toType = nbsItem.isStation ? 4 : 2 %}
    <a href="javascript:void(0);" onclick="openPmWindow({{ spacecraftId }},{{ targetId }},{{ fromType }},{{ toType }});"
        title="Nachricht an {{ nbsItem.getUserName|bbcode2txt }} verfassen"
        onmouseover="cp('nbsPm{{ targetId }}','buttons/msg2')" onmouseout="cp('nbsPm{{ targetId }}','buttons/msg1')">
        <img src="/assets/buttons/msg1.png" name="nbsPm{{ targetId }}" /></a>
    {% endif %}
    {{ nbsItem.getUserName|bbcode }} ({{ nbsItem.getUserId }})
</td>
{% endif %}
{% endmacro %}
