{% macro shiplist_header() %}
<tr>
    <th style="width: 140px;">Klasse</th>
    <th>Name</th>
    <th style="width: 30px;"></th>
    <th style="width: 70px;" title="im System (außerhalb)">x|y <img src="/assets/buttons/info2.png"
            style="height:16px;" /></th>
    <th style="width: 100px;" title="aktuell/maximal">Hülle <img src="/assets/buttons/info2.png" style="height:16px;" />
    </th>
    <th style="width: 160px;" title="aktuell/maximal (Regeneration [alle 15min])">Schilde <img
            src="/assets/buttons/info2.png" style="height:16px;" /></th>
    <th style="width: 210px;"
        title="EPS: aktuell/maximal, Zuwachs, (Systemverbrauch/Reaktornutzung)&#10;WarpDrive: aktuell/maximal, Zuwachs">
        Energie <img src="/assets/buttons/info2.png" style="height:16px;" /></th>
    <th style="width: 120px;" title="Warpkern, Ersatzbatterie">Versorgung <img src="/assets/buttons/info2.png"
            style="height:16px;" /></th>
    <th style="width: 90px; text-align: center;" title="grün: mehr als ausreichend, rot: zu wenig">Crew <img
            src="/assets/buttons/info2.png" style="height:16px;" /></th>
    <th style="width: 125px; text-align: center;">Systeme</th>
    <th style="width: 35px;"></th>
</tr>
{% endmacro %}


{% macro shiplist_body(wrapper) %}
{% from 'html/macros.twig' import onClickSpacecraft %}
{% set ship = wrapper.get %}
{% set shipId = ship.getId %}
{% set epssystem = wrapper.getEpsSystemData %}
<tr>

    <td id="shipimage" style="height:1px; width:1px;" class="shiplistshipimage">
        <a {{ onClickSpacecraft(ship) }} class="shipImgOverlayText" onmouseover="openStorageInit(this, {{ shipId }});"
            onmouseout="closeStorage();">
            {% from 'html/shipmacros.twig' import shipimage %}
            {{ shipimage(ship) }}
        </a>
    </td>
    <td id="shipname">
        <a {{ onClickSpacecraft(ship) }}>
            {% if ship.getDockedTo %}
            <img src="/assets/buttons/dock2.png" title="Schiff ist angedockt" style="height: 20px;" />
            {% endif %}
            {% set stateIconAndTitle = wrapper.getStateIconAndTitle %}
            {% if stateIconAndTitle %}
            <img src="/assets/{{ stateIconAndTitle[0] }}.png" title="{{ stateIconAndTitle[1] }}"
                style="height: 20px;" />
            {% endif %}
            <span>{{ ship.getName|bbcode }}</span>
        </a>
    </td>
    <td id="shipalarmstate" style="text-align: center;">
        <img src="/assets/buttons/alert{{ ship.getAlertState.value }}_1.png" title="Alarmstufe" />
    </td>
    {% set system = ship.getSystem %}
    {% if system %}
    <td id="shipposition" align="center">
        {{ ship.getPosX }}|{{ ship.getPosY }}<br />
        {% if not system.isWormhole %}
        ({{ system.getCx }}|{{ system.getCy }})
        {% else %}
        <img src="/assets/buttons/wormh2.png" title="befindet sich im Wurmloch '{{ ship.getSystem.getName }}'" />
        {% endif %}
    </td>
    {% else %}
    <td id="shipposition" align="center">
        ({{ ship.getMap.getCx }}|{{ ship.getMap.getCy }})
    </td>
    {% endif %}
    <td id="shiphull">
        <span style="{{ ship.getHullColorStyle }}">{{ ship.getHull }}</span>/{{ ship.getMaxHull }}
    </td>
    <td id="shipshields">
        {% if ship.isShielded %}
        <span class="activeshield">{{ ship.getShield }}/{{ ship.getMaxShield }}</span>
        {% else %}
        <span>{{ ship.getShield }}/{{ ship.getMaxShield }}</span>
        {% endif %}
        (+{{ wrapper.getShieldRegenerationRate }})
    </td>
    <td id="shipenergy">
        <table>
            {% set reactor = wrapper.getReactorWrapper %}
            <tr>
                <td style="background-color: transparent !important;">
                    {% if epssystem %}
                    {% set reactorUsage = reactor ? wrapper.getReactorUsage : 0%}
                    {{ epssystem.getEps }}/{{ epssystem.getMaxEps }}
                    {% if reactor %}
                    <span>{{ reactor.getEffectiveEpsProduction|addPlusCharacter }}</span>
                    {% endif %}
                    (<span class="neg">{{ wrapper.getEpsUsage }}</span>/<span class="neg">{{ reactorUsage }}</span>)
                    {% endif %}
                </td>
                {% if ship.hasWarpDrive %}
                <td style="background-color: transparent !important;">
                    {% set warpdrivesystem = wrapper.getWarpDriveSystemData %}
                    {{ warpdrivesystem.getWarpDrive }}/{{ warpdrivesystem.getMaxWarpDrive }}
                    <span>{{ reactor.getEffectiveWarpDriveProduction|addPlusCharacter }}</span>
                </td>
                {% endif %}
            </tr>
        </table>
    </td>
    <td id="shipreactor">
        {% set reactor = wrapper.getReactorWrapper %}
        {% if reactor %}
        <div style="float: left; width: 50%">
            <img src="/assets/buttons/{{ reactor.get.getIcon }}" title="Reaktorladung" />
            <span style="{{ reactor.getReactorLoadStyle }}">{{ reactor.getLoad }}</span>
        </div>
        {% endif %}
        {% if epssystem %}
        <div style="float: left; width: 50%">
            {% if epssystem.isEBattUseable %}
            <img src="/assets/buttons/batt.png" title="Ersatzbatterie" />
            {% else %}<img src="/assets/buttons/batt2.png" title="Ersatzbatterie (gesperrt)" />
            {% endif %} {{ epssystem.getBattery }}
        </div>
        {% endif %}
    </td>

    <td id="shipcrew" style="text-align: center; {{ wrapper.getCrewStyle }}">{{ ship.getCrewCount }}</td>
    <td id="shipsystems">

        {% if ship.getNbs %}
        <img src="/assets/buttons/kss1.png" title="Nahbereichssensoren aktiviert" />
        {% else %}
        <img src="/assets/buttons/kss2.png" title="Nahbereichssensoren deaktiviert" />
        {% endif %}
        {% if ship.getLss %}
        <img src="/assets/buttons/lss1.png" title="Langstreckensensoren aktiviert" />
        {% else %}
        <img src="/assets/buttons/lss2.png" title="Langstreckensensoren deaktiviert" />
        {% endif %}
        {% if ship.hasPhaser %}
        {% if ship.getPhaserState %}
        <img src="/assets/buttons/act_phaser1.png" title="Strahlenwaffe aktiviert" />
        {% else %}
        <img src="/assets/buttons/act_phaser2.png" title="Strahlenwaffe deaktiviert" />
        {% endif %}
        {% endif %}
        {% if ship.hasTorpedo %}
        {% if ship.getTorpedoState %}
        <img src="/assets/buttons/act_torp1.png"
            title="Torpedobänke aktiviert ({{ ship.getTorpedoCount }}/{{ ship.getMaxTorpedos }})" />
        {% else %}
        <img src="/assets/buttons/act_torp2.png"
            title="Torpedobänke deaktiviert ({{ ship.getTorpedoCount }}/{{ ship.getMaxTorpedos }})" />
        {% endif %}
        {% endif %}
        {% if ship.hasCloak %}
        {% if ship.isCloaked %}
        <img src="/assets/buttons/tarn1.png" title="Tarnung aktiviert" />
        {% else %}
        <img src="/assets/buttons/tarn2.png" title="Tarnung deaktiviert" />
        {% endif %}
        {% endif %}
    </td>
    <td style="text-align: center;">
        {% if ship.getFleet %}
        {% if ship.isFleetLeader %}
        <a href="?B_DELETE_FLEET=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}"
            onmouseover="cp('fleet_{{ shipId }}','buttons/fl_flag3')"
            onmouseout="cp('fleet_{{ shipId }}','buttons/fl_flag2')">
            <img src="/assets/buttons/fl_flag2.png" name="fleet_{{ shipId }}" title="Flotte auflösen" />
        </a>
        {% else %}
        <a href="javascript:void(0);" onclick="leaveFleetInShiplist({{ shipId }});"
            onmouseover="cp('fleet_{{ shipId }}','buttons/fl_raus2')"
            onmouseout="cp('fleet_{{ shipId }}','buttons/fl_raus1')">
            <img src="/assets/buttons/fl_raus1.png" name="fleet_{{ shipId }}" title="Flotte verlassen" />
        </a>
        {% endif %}
        {% else %}
        {% if not ship.isStation %}
        <a href="?B_NEW_FLEET=1&id={{ shipId }}" onmouseover="cp('fleet_{{ shipId }}','buttons/fl_flag2')"
            onmouseout="cp('fleet_{{ shipId }}','buttons/fl_flag1')">
            <img src="/assets/buttons/fl_flag1.png" name="fleet_{{ shipId }}" title="Flotte erstellen" />
        </a>
        {% endif %}
        {% endif %}
    </td>
</tr>
{% endmacro %}
