<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:stu="stu" lang="de">

<head>
    <meta charset="utf-8" />
    <script src="{{ JAVASCRIPTPATH }}/js/prototype.js"></script>
    <script src="{{ JAVASCRIPTPATH }}/js/lib/Sortable.min.js"></script>
    <script src="{{ JAVASCRIPTPATH }}/js/default.js"></script>
    <title>{{ PAGETITLE|bbcode2txt }}</title>
    <script>
      var gfx_path = '/assets';
    </script>
    <link rel="STYLESHEET" type="text/css" href="{{ JAVASCRIPTPATH }}/css/{{ USER.getCss }}.css" />
    <link rel="STYLESHEET" type="text/css" href="{{ JAVASCRIPTPATH }}/css/stu.css" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
</head>

<body>
    <div>
        {% block body %}
        ...
        {% endblock %}
    </div>
</body>

</html>
