{% macro breadcrumb(GAME) %}
<div class="box">
  <div class="box_title" style="text-align: left">/
    {% for key, item in GAME.getNavigation %}
    <a href="#" href="{{ key }}">
      {{ item|bbcode2txt }}
      {% if not loop.last %}
      <span> / </span>
      {% endif %}
      {% endfor %}
  </div>
</div>
<br />
{% if GAME.getInformation %}
{{ _self.systeminformation(GAME) }}
{% endif %}
{{ _self.achievements(GAME) }}
{% if not GAME.getInformation %}
<div id="result" style="display: none;">..</div>
{% endif %}
{% endmacro %}

{% macro systeminformation(GAME) %}
{% if GAME.getExecuteJS %}
<script language="Javascript">
  {% for item in GAME.getExecuteJS %}
  { { item } }
  {% endfor %}
</script>
{% endif %}
<div id="result">
  <table class="use">
    <tr>
      <th>Meldung</th>
    </tr>
    <tr>
      <td>
        {% for notification in GAME.getInformation %}
        <div>
          {{ notification.getText|bbcode }}
        </div>
        {% endfor %}
        {% for notification in GAME.getInformation %}
        {% if notification.getLink %}
        <a href="{{ notification.getLink }}" class="linkbutton">
          Zum Schiff wechseln
        </a>
        {% endif %}
        {% endfor %}
      </td>
    </tr>
  </table>
</div>
<br />
{% endmacro %}

{% macro achievements(GAME) %}
{% if GAME.getAchievements %}
<script type="text/Javascript" defer="defer">
  {% for achievement in GAME.getAchievements %}
  showAchievement('{{ achievement|jsquote }}');
  {% endfor %}
</script>
{% endif %}
{% endmacro %}
