{% macro breadcrumb(navigation, information, achievements, executeJS) %}
<div class="box">
  <div class="box_title" style="text-align: left">/
    {% for key, item in navigation %}
    <a href="#" href="{{ key }}">
      {{ item|bbcode2txt }}
    </a>
    {% if not loop.last %}
    <span> / </span>
    {% endif %}
    {% endfor %}
  </div>
</div>
<br />
{% if information %}
{{ _self.systeminformation(information, executeJS) }}
{% endif %}
{{ _self.achievements(achievements) }}
{% if not information %}
<div id="result" style="display: none;">..</div>
{% endif %}
{% endmacro %}

{% macro systeminformation(information, executeJS) %}
{% if executeJS %}
<script language="Javascript">
  {% for item in executeJS %}
  { { item } }
  {% endfor %}
</script>
{% endif %}
<div id="result">
  <table class="use">
    <tr>
      <th>Meldung</th>
    </tr>
    <tr>
      <td>
        {% for notification in information %}
        <div>
          {{ notification.getText|bbcode }}
        </div>
        {% endfor %}
        {% for notification in information %}
        {% if notification.getLink %}
        <a href="{{ notification.getLink }}" class="linkbutton">
          Zum Schiff wechseln
        </a>
        {% endif %}
        {% endfor %}
      </td>
    </tr>
  </table>
</div>
<br />
{% endmacro %}

{% macro achievements(achievements) %}
{% if achievements %}
<script type="text/Javascript" defer="defer">
  {% for achievement in achievements %}
  showAchievement('{{ achievement|jsquote }}');
  {% endfor %}
</script>
{% endif %}
{% endmacro %}
