{% embed "html/colony/menu/submenuForm.twig" %}
{% block containment %}

<div class="box" style="width: 40vw;">
    <input type="hidden" name="func" id="func" value="{{ FUNC.getFunction.value }}" />
    <input type="hidden" id="colony-id" value="{{ HOST.getId }}" />
    <div class="box_title">Komponentenbaumenü</div>
    </br>
    <div id="module-container">
        <div class="rump-modules">
            {% for type, levels in MODULES_BY_TYPE_AND_LEVEL %}
            {% set moduleType = type %}
            {% for level, modules in levels %}
            <div id="module-level-{{ type }}-{{ level }}" class="module-level" style="display: block;">
                <table class="tcal">
                    <tr>
                        <th>Verfügbare Komponenten</th>
                        <th class="responsive-hide">In Bau</th>
                        <th class="responsive-hide">Lagernd</th>
                        <th class="responsive-hide">Anzahl</th>
                    </tr>
                    {% for data in modules %}
                    {% set moduleId = data.getModuleId %}
                    <tr class="row" class="{{ data.getClass }}">
                        <td>
                            <div style="margin-bottom: 5px;">
                                <img src="/assets/commodities/{{ data.getCommodityId }}.png" /> {{ data.getName }}
                            </div>
                            <div style="display: table-cell;">
                                <img src="/assets/buttons/e_trans2.png" title="Energie" />
                                {{ data.getEnergyCost }}
                            </div>
                            {% for cost in data.getConstructionCosts %}
                            <div style="display: table-cell; padding-left: 4px;">
                                <img src="/assets/commodities/{{ cost.getCommodity.getId }}.png"
                                    title="{{ cost.getCommodity.getName }}" />
                            </div>
                            <div style="display: table-cell; vertical-align: middle;">{{ cost.getAmount }}</div>
                            {% endfor %}
                        </td>
                        <td id="module_{{ moduleId }}_action" class="responsive-hide"
                            style="vertical-align: middle; text-align: center;">
                            {% if data.getAmountQueued %}
                            <div>
                                <div style="display: table-cell; vertical-align:middle;">
                                    <input type="text" size="2" name="cancel_module[{{ moduleId }}]"
                                        id="module_{{ moduleId }}_count" value="{{ data.getAmountQueued }}" />
                                </div>
                                <div style="display: table-cell; vertical-align:middle; padding-left: 4px;">
                                    <a href="Javascript:cancelModuleQueueEntries({{ moduleId }});"
                                        onmouseover="cp('cancelModuleList{{ moduleId }}','buttons/x2')"
                                        onmouseout="cp('cancelModuleList{{ moduleId }}','buttons/x1')">
                                        <img src="/assets/buttons/x1.png" name="cancelModuleList{{ moduleId }}"
                                            title="Anzahl löschen" />
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            <div>-</div>
                            {% endif %}
                        </td>
                        <td class="responsive-hide" style="vertical-align: middle; text-align: center;">
                            {{ data.getAmountInStock }}
                        </td>
                        <td class="responsive-hide" style="vertical-align: middle; text-align: center;">
                            <input type="text" size="2" data-module-id="{{ moduleId }}"
                                onkeydown="event.key == 'Enter' && $('producebutton').click()"
                                oninput="setModuleInput(this)" />
                        </td>
                    </tr>
                    <tr class="responsive-show">
                        <td colspan="3">
                            <table class="tcal">
                                <tr>
                                    <th>In Bau</th>
                                    <th>Lagernd</th>
                                    <th>Anzahl</th>
                                </tr>
                                <tr>
                                    <td id="module_{{ moduleId }}_action"
                                        style="vertical-align: middle; text-align: center;">
                                        {% if data.getAmountQueued %}
                                        <div>
                                            <div style="display: table-cell; vertical-align:middle;">
                                                <input type="text" size="2" name="cancel_module[{{ moduleId }}]"
                                                    id="module_{{ moduleId }}_count"
                                                    value="{{ data.getAmountQueued }}" />
                                            </div>
                                            <div style="display: table-cell; vertical-align:middle; padding-left: 4px;">
                                                <a href="javascript:void(0);"
                                                    onclick="cancelModuleQueueEntries({{ moduleId }});"
                                                    onmouseover="cp('cancelModuleList{{ moduleId }}','buttons/x2')"
                                                    onmouseout="cp('cancelModuleList{{ moduleId }}','buttons/x1')">
                                                    <img src="/assets/buttons/x1.png"
                                                        name="cancelModuleList{{ moduleId }}" title="Anzahl löschen" />
                                                </a>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div>-</div>
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle; text-align: center;">
                                        {{ data.getAmountInStock }}
                                    </td>
                                    <td style="vertical-align: middle; text-align: center;">
                                        <input type="text" size="2" data-module-id="{{ moduleId }}"
                                            onkeydown="event.key == 'Enter' && $('producebutton').click()"
                                            oninput="setModuleInput(this);" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div style="text-align: center; margin-top: 10px;" class="fabutton">
        <a href="javascript:void(0);" onclick="clearAjaxCallbacks(); startModuleProduction();"
            class="fabutton">Modulherstellung</a>
    </div>

</div>

<style>
    .level-box button.active {
        background-color: #d3d3d3;
    }
</style>
{% endblock %}
{% endembed %}
