{% embed "html/colony/menu/container.twig" %}
{% block containment %}
<div style="width: 40vw;">
    <table class="tcal">
        <tr>
            <th colspan="3">Jäger bauen</th>
        </tr>
        {% for data in BUILDABLE_SHIPS %}
        <tr class="row">
            <td>
                <input type="radio" name="buildrump" value="{{ data.getId }}" />
                <img src="/assets/ships/{{ data.getId }}.png" />
            </td>
            <td style="vertical-align: middle;">{{ data.getName }}</td>
            <td>
                <div style="display: inline-block; width: 55px;">
                    <div style="display: inline-block; vertical-align: middle;"><img src="/assets/buttons/e_trans2.png"
                            title="Energie" /></div>
                    {{ data.getEpsCost }}
                </div>
                {% for cost in data.getBuildingCosts %}
                <div style="display: inline-block; width: 55px;">
                    <div style="display: inline-block; vertical-align: middle;"><img
                            src="/assets/commodities/{{ cost.getCommodityId }}.png"
                            title="{{ cost.getCommodity.getName }}" />
                    </div>
                    {{ cost.getAmount }}
                </div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        {% if not BUILDABLE_SHIPS %}
        <tr>
            <td colspan="3" style="text-align: center;">Keine baubaren Rümpfe vorhanden</td>
        </tr>
        {% endif %}
    </table>
    {% if BUILDABLE_SHIPS %}
    <div style="width: 100%; text-align: center">
        <br />
        <input type="submit" style="cursor: pointer;" id="buildfightershipbutton" name="B_BUILD_FIGHTER_SHIPYARD_RUMP"
            value="Schiff bauen" />
    </div>
    {% endif %}
</div>
{% endblock %}
{% endembed %}
