<div class="colonymenu {{ getColonyMenuClass(CURRENT_MENU, 2) }} colmenubutton" onclick="switchColonyMenu(2);">
    <img src="/assets/buttons/lupe2.png" /> <span>Informationen</span>
</div>
<div class="colonymenu {{ getColonyMenuClass(CURRENT_MENU, 1) }} colmenubutton" onclick="switchColonyMenu(1);">
    <img src="/assets/buttons/menu_planets1.png" /> <span>Baumenü</span>
</div>
<div class="colonymenu {{ getColonyMenuClass(CURRENT_MENU, 4) }} colmenubutton" onclick="switchColonyMenu(4)">
    <img src="/assets/buttons/bar2.png" /> <span>Soziales</span>
</div>
<div class="colonymenu {{ getColonyMenuClass(CURRENT_MENU, 5) }} colmenubutton" onclick="switchColonyMenu(5)">
    <img src="/assets/buttons/gebact2.png" /> <span>Gebäudeschaltung</span>
</div>
<div class="colonymenu {{ getColonyMenuClass(CURRENT_MENU, 3) }} colmenubutton" onclick="switchColonyMenu(3)">
    <img src="/assets/buttons/menu_option1.png" /> <span>Einstellungen</span>
</div>
<br />
<div style="display: inline-block">
    <div id="colonyeps">
        {% include 'html/colony/component/colonyEps.twig' %}
    </div>
    <br />
    {% if SHIELDING_MANAGER.hasShielding %}
    <div id="colonyshields">
        {% include 'html/colony/component/colonyShields.twig' %}
    </div>
    <br />
    {% endif %}
    <div id="colsurface">
        {% include 'html/colony/component/colonySurface.twig' %}
    </div>
    <br />
    {% if STORAGE %}
    <div id="colonystorage">
        {% include 'html/colony/component/colonyStorage.twig' %}
    </div>
    {% endif %}
</div>
