{% embed "html/colony/menu/submenuForm.twig" %}
{% block containment %}
<div style="width: 40vw;">
    {% set class = ORBIT_STATION_WRAPPER ? 'orbitInfoContainer' : '' %}
    <div class="{{ class }}">
        {% if ORBIT_STATION_WRAPPER %}
        {% set station = ORBIT_STATION_WRAPPER.get %}
        {% set stationId = station.getId %}
        <div class="box" style="position: relative;">
            {% from 'html/macros.twig' import onClickSpacecraft %}
            {% from 'html/shipmacros.twig' import spacecraftImageWithoutWarp %}
            <div class="box_title">Station im Orbit</div>
            <div class="box_body" style="padding-bottom: 40px;">
                <div>
                    {% if ORBIT_STATION_WRAPPER.isSelectable %}
                    <a {{ onClickSpacecraft(station) }} class="imgOverlayText"
                        onmouseover="openStorageInit(this, {{ stationId }});" onmouseout="closeStorage();">
                        <span style="display: block; white-space:pre-line;">{{ station.getName|bbcode }}</span>
                        {{ spacecraftImageWithoutWarp(station) }}
                    </a>
                    {% else %}
                    <span style="display: block; white-space:pre-line;">{{ station.getName|bbcode }}</span>
                    {{ spacecraftImageWithoutWarp(station) }}
                    {% endif %}
                </div>
                <div style="position: absolute; bottom: 5px; width: 100%;">
                    <a href="javascript:void(0);"
                        onclick="showTransfer(this, {{ COLONY.getId }}, 'colony', {{ stationId }}, '{{ station.getTransferEntityType.value }}', 1, false);"
                        onmouseover="cp('beamfromstation','buttons/b_down2')"
                        onmouseout="cp('beamfromstation','buttons/b_down1')">
                        <img src="/assets/buttons/b_down1.png" name="beamfromstation" title="Von Station beamen" />
                    </a>
                    <a href="javascript:void(0);"
                        onclick="showTransfer(this, {{ COLONY.getId }}, 'colony', {{ stationId }}, '{{ station.getTransferEntityType.value }}', 1, true);"
                        onmouseover="cp('beamtostation','buttons/b_up2')"
                        onmouseout="cp('beamtostation','buttons/b_up1')">
                        <img src="/assets/buttons/b_up1.png" name="beamtostation" title="Zu Station beamen" />
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        <div id="shipinorbit" class="box" style="max-width: 100%; overflow-x: auto;">
            {% if FIRST_ORBIT_SPACECRAFT %}
            <input type="hidden" id="selshipid" value="{{ FIRST_ORBIT_SPACECRAFT.get.getId }}" />
            {% endif %}
            <div class="box_title">Schiffe im Orbit</div>
            <div class="box_body">
                <ul id="shipselector" style="max-width: 100%;">
                    {% if FIRST_ORBIT_SPACECRAFT %}
                    {% set wrapper = FIRST_ORBIT_SPACECRAFT %}
                    {% include 'html/colony/component/shipSelector.twig' %}
                    {% else %}
                    <li style="text-align: center">Keine Schiffe im Orbit</li>
                    {% endif %}
                </ul>
                {% if FIRST_ORBIT_SPACECRAFT %}
                {% set targetEntity = FIRST_ORBIT_SPACECRAFT.get %}
                <div style="width: 100%;">
                    <br />
                    <a href="javascript:void(0);"
                        onclick="showTransfer(this, {{ COLONY.getId }}, 'colony', document.getElementById('selshipid').value, '{{ targetEntity.getTransferEntityType.value }}', 1, false);"
                        onmouseover="cp('beamfrom','buttons/b_down2')"
                        onmouseout="cp('beamfrom','buttons/b_down1')"><img src="/assets/buttons/b_down1.png"
                            name="beamfrom" title="Von Schiff beamen" /></a>
                    <a href="javascript:void(0);"
                        onclick="showTransfer(this, {{ COLONY.getId }}, 'colony', document.getElementById('selshipid').value, '{{ targetEntity.getTransferEntityType.value }}', 1, true);"
                        onmouseover="cp('beamto','buttons/b_up2')" onmouseout="cp('beamto','buttons/b_up1')"><img
                            src="/assets/buttons/b_up1.png" name="beamto" title="Zu Schiff beamen" /></a>
                    <a href="javascript:void(0);" onclick="getOrbitShipList(this, {{ COLONY.getId }});"
                        style="margin-left: 5px;">
                        <img src="/assets/buttons/fleet.png" title="Schiffsliste aufklappen" />
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <br />
    <div id="colonyinfocontainer" class="colonyInfoContainer">
        <div class="box">
            <div class="box_title">Planet</div>
            <div class="box_body">
                <a href="javascript:void(0);" style="text-align: center; cursor: pointer;"
                    onclick="switchInnerContent('SHOW_SPACECRAFT_MANAGEMENT', 'Orbitalmanagement', 'id={{ COLONY.getId }}');">
                    <div class="box">
                        <div class="box_body">
                            Orbitalmanagement
                        </div>
                    </div>
                </a>
                <div class="box_body" style="float:left;">
                    <div>
                        <img src="/assets/planets/{{ COLONY.getColonyClass.getId }}.png"
                            style="width: 30px; height: 30px;" />
                        <span style="display: block; white-space:pre-line;">
                            {{ COLONY.getPlanetName }} ({{ COLONY.getSX }}|{{ COLONY.getSY }})</span>
                    </div>
                    <div>
                        <img src="/assets/buttons/t_{{ COLONY_DAY_TIME_PREFIX }}.png"
                            title="{{ COLONY_DAY_TIME_NAME }}" />
                        <span>{{ COLONY_TIME_HOUR }}:{{ COLONY_TIME_MINUTE }} Uhr</span>
                    </div>
                    <div>
                        <img src="/assets/buttons/classm.png" title="Eigenrotationsdauer" alt="Eigenrotationsdauer" />
                        {{ COLONY.getRotationTime|formatSeconds }}
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box_title">Umgebungsscan</div>
            <div class="box_body" style="display: flex; justify-content: center;">
                {% include 'html/visualPanel/panel.twig' %}
            </div>
        </div>
        {% if STARSYSTEM_ENTRY_TAL %}
        <div class="box">
            <div class="box_title">Sternensystem</div>
            <div class="box_body">
                {% if STARSYSTEM_ENTRY_TAL.wasDiscovered %}
                <a href="javascript:void(0);"
                    onclick="switchInnerContent('SHOW_ENTRY', 'Systemkarte', 'cat=7&ent={{ STARSYSTEM_ENTRY_TAL.getId }}', 'database.php');"
                    title="Karte des Systems öffnen">
                    <img src="/assets/map/systemtypes/{{ COLONY.getSystem.getSystemType.getId }}.png"
                        title="{{ COLONY.getSystem.getSystemType.getDescription }}" />
                    <span style="display: block; white-space:pre-line;">{{ COLONY.getSystem.getName }}
                        ({{ COLONY.getSystem.getCx }}|{{ COLONY.getSystem.getCy }})</span>
                </a>
                {% else %}
                <img src="/assets/map/systemtypes/{{ COLONY.getSystem.getSystemType.getId }}.png"
                    title="{{ COLONY.getSystem.getSystemType.getDescription }}" />
                <div>
                    <span style="display: block; white-space:pre-line;">{{ COLONY.getSystem.getName }}
                        ({{ COLONY.getSystem.getCx }}|{{ COLONY.getSystem.getCy }})</span>
                </div>
                {% endif %}
                <div>
                    <span style="display: block; white-space:pre-line;">
                        Typ:
                        {{COLONY.getSystem.getSystemType.getDescription }}</span>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% if DEPOSIT_MININGS %}
    <br />
    <div class="box">
        <div class="box_title">Geschürfte Ressourcen</div>
        <div class="box_body">
            <table class="tcal">
                <tr>
                    <th colspan="2">Ressource</th>
                    <th>verbleibend</th>
                    <th></th>
                </tr>
                {% for deposit_item in DEPOSIT_MININGS %}
                <tr>
                    <td><img src="/assets/commodities/{{ deposit_item.deposit.getCommodity.getId }}.png"
                            title="{{ deposit_item.deposit.getCommodity.getName }}" /></td>
                    <td>{{ deposit_item.deposit.getCommodity.getName }}</td>
                    <td>{{ deposit_item.deposit.getAmountLeft }}</td>
                    <td>{{ deposit_item.currentlyMined }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br />
    {% endif %}
    {% if SHIELDING_MANAGER.hasShielding or BUILDABLE_TORPEDO_TYPES %}
    <br />
    <div class="box">
        <div class="box_title">Schilde + Orbitalverteidigung</div>
        <div class="box_body">
            <table class="tcal" style="width: 100%; table-layout: fixed;">
                {% if SHIELDING_MANAGER.hasShielding %}
                {% set shieldTooltip = "<table class='tcal' style='width:250px'>
                    <tr>
                        <th style='text-align: left'><img src='/assets/buttons/info2.png' /> Planetarer Schild </th>
                    </tr>
                    <tr>
                        <td>Ein Planetarer Schutzschild schützt deine Gebäude vor Angriffen und dich davor beklaut
                            zu werden. Wenn du die richtige Schildfrequenz deinen Freunden gibst, können Sie damit von
                            deiner Kolonie beamen.</br>
                            Das Deaktivieren des Schildes führt dazu, dass alle Schildpunkte entladen
                            werden.</br>Klicke
                            auf das <img style='height:16px' src='/assets/buttons/info2.png' /> für mehr Infos.</td>
                    </tr>
                </table>" %}
                <tr>
                    <td
                        style="width: 40%; white-space: normal; hyphens: auto; overflow-wrap: break-word; word-break: normal;">
                        Schildstärke:</td>
                    <td style="width: 60%;">
                        <div style="display: flex; flex-wrap: wrap; gap: 5px; align-items: center; max-width: 100%;">
                            <input type="text" size="4" name="load" id="loadshield_value"
                                onkeydown="event.key == 'Enter' &&  $('loadshield_button').click()" />
                            <input type="submit" class="button" value="laden" name="B_LOAD_SHIELDS"
                                id="loadshield_button" />
                            <input type="button" class="button" value="max"
                                onclick="$('loadshield_value').value = '{{ SHIELDING_MANAGER.getMaxShielding }}'; $('loadshield_button').click()" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: normal; hyphens: auto; overflow-wrap: break-word; word-break: normal;">
                        Schildstatus:</td>
                    <td>
                        <div style="display: flex; flex-wrap: wrap; gap: 5px; align-items: center; max-width: 100%;">
                            {% if SHIELDING_MANAGER.isShieldingEnabled %}
                            <a href="?B_DEACTIVATE_SHIELDS=1&id={{ COLONY.getId }}&sstr={{ SESSIONSTRING }}"
                                onmouseover="cp('shields','buttons/shldac2')"
                                onmouseout="cp('shields','buttons/shldac1')">
                                <img src="/assets/buttons/shldac1.png" name="shields" /> Deaktivieren
                            </a>
                            {% else %}
                            <a href="?B_ACTIVATE_SHIELDS=1&id={{ COLONY.getId }}&sstr={{ SESSIONSTRING }}"
                                onmouseover="cp('shields','buttons/shldac1')"
                                onmouseout="cp('shields','buttons/shldac2')">
                                <img src="/assets/buttons/shldac2.png" name="shields" /> Aktivieren
                            </a>
                            {% endif %}
                            <a href="https://wiki.stuniverse.de/index.php?title=Schildgenerator" target="_blank"
                                data-tippy-content="{{ shieldTooltip|e('html_attr') }}"><img
                                    src="/assets/buttons/info2.png" style="height:16px;" /></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: normal; hyphens: auto; overflow-wrap: break-word; word-break: normal;">
                        Schildfrequenz in MHz (max. 6 Stellen):</td>
                    <td>
                        <div style="display: flex; flex-wrap: wrap; gap: 5px; align-items: center; max-width: 100%;">
                            <input type="text" size="5" name="frequency"
                                value="{{ COLONY.getChangeable.getShieldFrequency }}"
                                onkeydown="event.key == 'Enter' &&  $('changeFrequencyButton').click()" />
                            <input type="submit" class="button" name="B_CHANGE_FREQUENCY" value="ändern"
                                id="changeFrequencyButton" />
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% if BUILDABLE_TORPEDO_TYPES %}
                {% set currentTorpedo = COLONY.getChangeable.getTorpedo %}
                <tr>
                    <td style="white-space: normal; hyphens: auto; overflow-wrap: break-word; word-break: normal;">
                        Torpedo-Sorte für Orbitalverteidigung</td>
                    <td>
                        <div style="display: flex; flex-wrap: wrap; gap: 5px; align-items: center; max-width: 100%;">
                            <select name="torpid" style="max-width: 100%;">
                                <option value="0">----------------------</option>
                                {% for data in BUILDABLE_TORPEDO_TYPES %}
                                {% if currentTorpedo and (currentTorpedo.getId == data.getId) %}
                                <option value="{{ data.getId }}" selected="1">{{ data.getName }}</option>
                                {% else %}
                                <option value="{{ data.getId }}">{{ data.getName }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <input type="submit" class="button" value="ändern" name="B_CHANGE_TORPS"
                                id="changetorps_button" />
                        </div>
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
    <br />
    {% endif %}
    <table id="colonypopulation" class="tcal population">
        <tr>
            <th colspan="5">Bevölkerung</th>
        </tr>
        <tr>
            <td class="populationValue">
                <div>Gesamt</div>
                <img src="/assets/bev/bev_free_5_{{ USER.getFactionId }}.png" title="Bevölkerung" />
                {{ HOST.getPopulation }}
            </td>
            <td class="populationValue">
                <div>Arbeiter</div>
                <img src="/assets/bev/bev_used_5_{{ USER.getFactionId }}.png" title="Arbeiter" />
                {{ HOST.getWorkers }}
            </td>
            <td class="populationValue">
                <div>Verfügbar</div>
                <img src="/assets/bev/bev_unused_5_{{ USER.getFactionId }}.png" title="Freie Bevölkerung" />
                {{ HOST.getWorkless }}
            </td>
            <td class="populationValue">
                <div>Wohnraum</div>
                <img src="/assets/bev/bev_free_5_{{ USER.getFactionId }}.png" title="Wohnraum" />
                {{ HOST.getChangeable.getFreeHousing }} ({{ HOST.getMaxBev }})
            </td>
            <td class="populationValue">
                {% set growth = POPULATION_CALCULATOR.getGrowth %}
                <div>Entwicklung</div>
                <img src="/assets/bev/bev_unused_5_{{ USER.getFactionId }}.png" title="Wachstum" />
                {% if growth %}
                {{ growth|addPlusCharacter }}
                {% endif %}
            </td>
        </tr>
    </table>
    {% if EFFECTS %}
    <br />
    <div id="colonyeffects" style="white-space: normal">
        <div class="box">
            <div class="box_title">Effekte</div>
            <div class="box_body">
                <div class="colonyEffectGrid">
                    {% for data in EFFECTS %}
                    <div class="colonyEffectContainer">
                        <img src="/assets/commodities/{{ data.commodity.getId }}.png"
                            title="{{ data.commodity.getName }}" />
                        <span style="word-wrap: break-word; white-space: normal;">
                            {{ data.commodity.getName }}
                        </span>
                    </div>
                    <div class="colonyEffectProduction {{ data.production.getCssClass }}">
                        {{ data.production.getProductionDisplay }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% endembed %}
