{% embed "html/colony/menu/submenuForm.twig" %}
{% from 'html/executeJavascript.twig' import executeJs %}

{% block containment %}
<div class="box" style="width: 40vw;">
    <input type="hidden" name="func" id="func" value="{{ FUNC.getFunction.value }}" />
    <input type="hidden" id="colony-id" value="{{ HOST.getId }}" />
    <div class="box_title">Modulbaumenü</div>
    </br>
    <div id="ship-rumps">
        <select style="width:40%" id="rump-select" onchange="filterByRump(this.value);">
            <option value="0">Alle Rümpfe</option>
            {% for rump in SHIP_RUMPS %}
            <option value="{{ rump.getId }}">{{ rump.getName }}</option>
            {% endfor %}
        </select>
        <select style="width:55%" id="buildplan-select" onchange="filterByBuildplan(this.value);">
            <option value="0" selected>Alle Baupläne</option>
            {% for rumpId, plans in BUILDPLANS %}
            {% for plan in plans %}
            <option style="display: none;" value="{{ plan.getId }}" data-rump-id="{{ rumpId }}">{{ plan.getName }}
            </option>
            {% endfor %}
            {% endfor %}
        </select>
    </div>

    <div id="module-container">
        {% for type, levels in MODULES_BY_TYPE_AND_LEVEL %}
        {% set moduleType = type %}
        <div id="module_tab_{{ moduleType }}" class="module_tab border_box" style="margin-top: 5px"
            onclick="toggleModuleType({{ moduleType }});">
            <div class="module-header" style="display: flex; align-items: center; cursor: pointer;">
                <img src="{{ MODULE_TYPES[type].image }}" id="tab_image_mod_{{ moduleType }}"
                    alt="{{ MODULE_TYPES[type].name }}" />
                <span> {{ MODULE_TYPES[type].name }}</span>
            </div>

            <div class="level-box" id="level-box-{{ moduleType }}"
                style="display: none; flex-wrap: wrap; gap: 10px; margin-left: 20px; margin-top: 10px;"
                onclick="event.stopPropagation();">
                <span>Level:</span>
                {% for level, modules in levels %}
                <button id="level-button-{{ type }}-{{ level }}" type="button" class="level-button"
                    onclick="toggleModuleLevel({{ type }}, {{ level }}, this);"
                    style="cursor: pointer; width: 20px; height: 20px; display: flex; align-items: center; justify-content: center; font-size: 16px;">{{
                    level }}</button>
                {% endfor %}
            </div>
        </div>

        {% for level, modules in levels %}
        <div id="module-level-{{ type }}-{{ level }}" class="module-level" style="display: none;">
            <table class="tcal">
                <tr>
                    <th>Verfügbare Module</th>
                    <th class="responsive-hide">In Bau</th>
                    <th class="responsive-hide">Lagernd</th>
                    <th class="responsive-hide">Anzahl</th>
                </tr>
                {% for data in modules %}
                {% set moduleId = data.getModuleId %}
                <tr id="module_{{ moduleId }}" data-module-type="{{ data.getModuleType }}"
                    data-module-level="{{ data.getModuleLevel }}" class="modules {{ data.getClass }}">
                    <td>
                        <div style="margin-bottom: 5px;">
                            <img src="/assets/commodities/{{ data.getCommodityId }}.png" /> {{ data.getName }}
                        </div>
                        <div style="display: flex; flex-wrap: wrap; gap: 8px; margin-top: 4px;">
                            <div style="display: flex; align-items: center;">
                                <img src="/assets/buttons/e_trans2.png" title="Energie" />
                                <span style="margin-left: 4px;">{{ data.getEnergyCost }}</span>
                            </div>
                            {% for cost in data.getConstructionCosts %}
                            <div style="display: flex; align-items: center;">
                                <img src="/assets/commodities/{{ cost.getCommodity.getId }}.png"
                                    title="{{ cost.getCommodity.getName }}" />
                                <span style="margin-left: 4px;">{{ cost.getAmount }}</span>
                            </div>
                            {% endfor %}
                        </div>
                    </td>
                    <td id="module_{{ moduleId }}_action" class="responsive-hide"
                        style="vertical-align: middle; text-align: center;">
                        {% if data.getAmountQueued %}
                        <div>
                            <div style="display: table-cell; vertical-align:middle;">
                                <input type="text" size="2" name="cancel_module[{{ moduleId }}]"
                                    id="module_{{ moduleId }}_count" value="{{ data.getAmountQueued }}" />
                            </div>
                            <div style="display: table-cell; vertical-align:middle; padding-left: 4px;">
                                <a href="javascript:void(0);" onclick="cancelModuleQueueEntries({{ moduleId }});"
                                    onmouseover="cp('cancelModuleList{{ moduleId }}','buttons/x2')"
                                    onmouseout="cp('cancelModuleList{{ moduleId }}','buttons/x1')">
                                    <img src="/assets/buttons/x1.png" name="cancelModuleList{{ moduleId }}"
                                        title="Anzahl löschen" />
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <div>-</div>
                        {% endif %}
                    </td>
                    <td class="responsive-hide" style="vertical-align: middle; text-align: center;">
                        {{ data.getAmountInStock }}
                    </td>
                    <td class="responsive-hide" style="vertical-align: middle; text-align: center;">
                        <input type="text" size="2" data-module-id="{{ moduleId }}"
                            onkeydown="event.key == 'Enter' && $('producebutton').click()"
                            oninput="setModuleInput(this);" />
                    </td>
                </tr>
                <tr class="responsive-show" data-module-type="{{ data.getModuleType }}"
                    data-module-level="{{ data.getModuleLevel }}" data-module-class="{{ data.getClass }}">
                    <td colspan="3">
                        <table class="tcal">
                            <tr>
                                <th>In Bau</th>
                                <th>Lagernd</th>
                                <th>Anzahl</th>
                            </tr>
                            <tr>
                                <td id="module_{{ moduleId }}_action"
                                    style="vertical-align: middle; text-align: center;">
                                    {% if data.getAmountQueued %}
                                    <div>
                                        <div style="display: table-cell; vertical-align:middle;">
                                            <input type="text" size="2" name="cancel_module[{{ moduleId }}]"
                                                id="module_{{ moduleId }}_count" value="{{ data.getAmountQueued }}" />
                                        </div>
                                        <div style="display: table-cell; vertical-align:middle; padding-left: 4px;">
                                            <a href="Javascript:cancelModuleQueueEntries({{ moduleId }});"
                                                onmouseover="cp('cancelModuleList{{ moduleId }}','buttons/x2')"
                                                onmouseout="cp('cancelModuleList{{ moduleId }}','buttons/x1')">
                                                <img src="/assets/buttons/x1.png" name="cancelModuleList{{ moduleId }}"
                                                    title="Anzahl löschen" />
                                            </a>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div>-</div>
                                    {% endif %}
                                </td>
                                <td style="vertical-align: middle; text-align: center;">
                                    {{ data.getAmountInStock }}
                                </td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <input type="text" size="2" data-module-id="{{ moduleId }}"
                                        onkeydown="event.key == 'Enter' && $('producebutton').click()"
                                        oninput="setModuleInput(this);" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
        {% endfor %}
    </div>

    <div style="text-align: center; margin-top: 10px;" class="fabutton">
        <a id="producebutton" href="javascript:void(0);" onclick="clearAjaxCallbacks(); startModuleProduction();"
            class="fabutton">Modulherstellung</a>
    </div>

</div>
{{ executeJs(EXECUTEJSAFTERRENDER) }}
<style>
    .level-box button.active {
        background-color: #d3d3d3;
    }
</style>
{% endblock %}
{% endembed %}