{% include 'html/colony/component/shipyardBuildplanTabs.twig' %}

{% embed "html/colony/menu/container.twig" %}
{% block containment %}
<div style="width: 40vw;">
    <br />
    <table class="tcal">
        <tr>
            <th>Verf체gbare Schiffsr체mpfe</th>
        </tr>
        {% if BUILDABLE_SHIPS %}
        <tr>
            <td>
                {% for rump in BUILDABLE_SHIPS %}
                <div style="width: 196px; height:120px; float: left;">
                    <a class="std" href="javascript:void(0);"
                        onclick="switchInnerContent('SHOW_MODULE_SCREEN', 'Schiffbau', 'id={{ COLONY.getId }}&rump={{ rump.getId }}');"
                        style="height: 120px; width: 196px; text-align: center; text-decoration: none; display: block;">
                        <img src="/assets/ships/{{ rump.getId }}.png" title="{{ rump.getName }}"
                            style="padding-top: 5px;" /><br />
                        {{ rump.getName }}<br /><br />
                        <span>Typ: {{ rump.getCategoryName }}</span><br />
                        <img src="/assets/buttons/warp1.png" title="Im Einsatz"
                            style="height: 25px; padding-top: 5px;" />
                        {{ rump.getActiveShipCount }}
                        <img src="/assets/buttons/bauplan.png" title="Baupl채ne"
                            style="height: 25px; padding-top: 5px;" />
                        {{ rump.getBuildplanCount }}
                    </a>
                </div>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if not BUILDABLE_RUMPS %}
        <tr>
            <td>Keine R체mpfe zum Bau vorhanden</td>
        </tr>
        {% endif %}
    </table>
</div>
{% endblock %}
{% endembed %}
