{% embed "html/colony/menu/submenuForm.twig" %}
{% block containment %}
<div style="width: 40vw; max-width: 100%;">
    <table class="tcal" style="border-spacing: 0 2px;">
        <tr>
            <th colspan="2">Torpedoherstellung</th>
        </tr>
        {% if BUILDABLE_TORPEDO_TYPES %}
        <tr class="responsive-hide">
            <td class="darkbg">Typ</td>
            <td class="darkbg">Kosten</td>
        </tr>
        {% else %}
        <tr class="responsive-hide">
            <td colspan="2">Es können keine Torpedos gebaut werden</td>
        </tr>
        {% endif %}
        {% for data in BUILDABLE_TORPEDO_TYPES %}
        <tr class="row responsive-hide">
            <td>
                <input type="text" size="3" name="torp[{{ data.getId }}]" id="torp-{{ data.getId }}-desktop"
                    onkeydown="event.key == 'Enter' && $('producebutton').click()"
                    oninput="syncInputs('torp-{{ data.getId }}-desktop', 'torp-{{ data.getId }}-mobile')" /> x <span>{{
                    data.getProductionAmount }}</span>
                <img src="/assets/commodities/{{ data.getCommodityId }}.png" class="center" />
                {{ data.getName }}
            </td>
            <td style="display: flex; flex-wrap: wrap; align-items: center;">
                <img src="/assets/buttons/e_trans2.png" class="center" title="Energiekosten" />&nbsp;
                {{ data.getEnergyCost }} &nbsp;
                {% for cost in data.getProductionCosts %}
                <img src="/assets/commodities/{{ cost.getCommodityId }}.png" class="center"
                    title="{{ cost.getCommodity.getName }}" style="margin-right: 5px;" />
                {{ cost.getAmount }}&nbsp;
                {% endfor %}
            </td>
        </tr>
        {% endfor %}

        {% if BUILDABLE_TORPEDO_TYPES %}
        <tr class="responsive-show">
            <td class="darkbg">Typ & Kosten</td>
        </tr>
        {% endif %}
        {% for data in BUILDABLE_TORPEDO_TYPES %}
        <tr class="responsive-show">
            <td style="padding-bottom: 2px;">
                <div>
                    <input type="text" size="3" name="torp[{{ data.getId }}]" id="torp-{{ data.getId }}-mobile"
                        onkeydown="event.key == 'Enter' && $('producebutton').click()"
                        oninput="syncInputs('torp-{{ data.getId }}-mobile', 'torp-{{ data.getId }}-desktop')" /> x
                    <span>{{
                        data.getProductionAmount }}</span>
                    <img src="/assets/commodities/{{ data.getCommodityId }}.png" class="center" />
                    {{ data.getName }}
                </div>
                <div style="margin-top: 10px;">
                    <img src="/assets/buttons/e_trans2.png" class="center" title="Energiekosten" />&nbsp;
                    {{ data.getEnergyCost }} &nbsp;
                    {% for cost in data.getProductionCosts %}
                    <img src="/assets/commodities/{{ cost.getCommodityId }}.png" class="center"
                        title="{{ cost.getCommodity.getName }}" style="margin-right: 5px;" />
                    {{ cost.getAmount }}&nbsp;
                    {% endfor %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if BUILDABLE_TORPEDO_TYPES %}
    <div style="width: 100%; text-align: center">
        <br />
        <input type="submit" style="cursor: pointer;" name="B_BUILD_TORPEDOS" id="producebutton"
            value="Torpedos herstellen" />
    </div>
    {% endif %}
</div>
{% endblock %}
{% endembed %}
