{% extends "html/admindefaults.twig" %}

{% block body %}
{% include 'html/breadcrumb.twig' %}
<div style="float: left">
	<table class="use">
		<tr>
			<th>x|y</th>
			{% for head in HEAD_ROW %}
			<th>{{ head }}</th>
			{% endfor %}
		</tr>
		{% for yrow in MAP_FIELDS %}
		<tr>
			<th>{{ yrow.getRow }}</th>
			{% for data in yrow.getSystemFields %}
			<td class="lss" id="{{ data.getSX }}_{{ data.getSY }}" style="background-size: cover;">
				<div class="lssobj imgOverlayText"
					style=" position: relative !important; top: 0px; height: 30px; width: 30px">
					<img src="/assets/map/starmap/{{ data.getSystemBackgroundId }}.png" style="z-index: 1;" />
					{% if data.getSystemFieldId %}
					<img class="lssColoShield" src="/assets/map/{{ data.getSystemFieldId }}.png" style="z-index: 2;" />
					{% endif %}
					<div class="lssobj" onclick="openSystemFieldSelector({{ data.getId }});" id="runtime">&nbsp;</div>
				</div>
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
</div>
<div style="margin-left: 10px; float: left;">
	<div>
		<table class=" tcal">
			{% if SYSTEM.getMapField %}
			<tr>
				<td>System-Koordinaten</td>
				<td style="text-align: right;">{{ SYSTEM.getMapField.getSectorString }}</td>
			</tr>
			{% endif %}
			<tr>
				<td>System-Typ</td>
				<td style="text-align: right;">{{ SYSTEM.getType.getDescription }}</td>
			</tr>
		</table>
	</div>
	<div style="margin-top: 10px;">
		<table class="tcal">
			<tr>
				<td title="System zurück (Pfeiltaste links)">
					{% if PREVIOUS %}
					<a href="/admin/?SHOW_SYSTEM=1&sysid={{ PREVIOUS.getId }}" style="display: block;">&lt;</a>
					{% else %}
					x
					{% endif %}
				</td>
				<td style="text-align: center;"><a href="/admin/?REGENERATE_SYSTEM=1&sysid={{ SYSTEM.getId }}"><img
							src="/assets/buttons/update1.png" title="System neu generieren (Pfeiltaste hoch)" /></a>
				</td>
				<td title="System vor (Pfeiltaste rechts)" style="text-align: right;">
					{% if NEXT %}
					<a href="/admin/?SHOW_SYSTEM=1&sysid={{ NEXT.getId }}" style="display: block;">&gt;</a>
					{% else %}
					x
					{% endif %}
				</td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}
