{% set map = mapItem.getMap %}
{% set passable = map.getFieldType.getPassable ? 1 : 0 %}
<td class="starmap" data-passable="{{ passable }}" data-region="{{ map.getRegionId }}"
    data-admin-region="{{ map.getAdminRegionId }}" data-system-type-id="{{ map.getSystemTypeId }}"
    id="{{ map.getCx }}_{{ map.getCy }}" data-influence-area="{{map.getInfluenceAreaId}}">
    <div class="lssobj" style="cursor: pointer ! important;" onmouseover="toggleMapfieldType(this)"
        onmouseout="toggleMapfieldType(this)">
        <div class="divbody" style="padding: 0px !important; width: 30px; height: 30px;"
            onclick="updateField(this,{{ map.getId }});">
            <img src="/assets/map/{{ mapItem.getMapGraphicPath }}" />
        </div>
    </div>
</td>
