{% extends "html/admindefaults.twig" %}

{% block body %}
<script src="{{ JAVASCRIPTPATH }}/js/colony.js"></script>
{% include 'html/breadcrumb.twig' %}

{% if not DONOTHING %}
<div style="float:left;">
	{% set panel = SIGNATURE_PANEL %}
	{% set viewportFont = panel.getViewportForFont %}
	{% set viewportScale = panel.getViewportPerColumn %}

	<table class="lssarea" cellpadding="0" cellspacing="0">
		<tr>
			<td style="font-size: {{ viewportFont }}vw; width: {{ viewportScale }}vw; height: {{ viewportScale }}vw;"
				class="th">
				&nbsp;
			</td>
			{% for row in panel.getHeadRow %}
			<td style="font-size: {{ viewportFont }}vw; width: {{ viewportScale }}vw; height: {{ viewportScale }}vw;"
				class="th">{{ row.value }}
			</td>
			{% endfor %}
		</tr>
		{% for row in panel.getRows %}
		<tr>
			{% for entry in row.getEntries %}
			{% if entry.isRowIndex %}
			<td style="width: {{ viewportScale }}vw; height: {{ viewportScale }}vw; font-size: {{ viewportFont }}vw;"
				class="{{ entry.getCSSClass }}">{{ entry.getRow }}</td>
			{% else %}
			{% set cellData = entry.getCellData %}
			{% set code = cellData.getSubspaceCode %}
			<td class="{{ entry.getCSSClass }}"
				style="background-image: url(/assets/map/{{ cellData.getMapGraphicPath }}); width: {{ viewportScale }}vw; height: {{ viewportScale }}vw; background-size: cover;">
				<div class="imgOverlayText">
					{% if code %}
					<img src="/assets/subspace/generated/{{ code }}.png"
						style="z-index: 2; width: {{ viewportScale }}vw; height: {{ viewportScale }}vw;" />
					{% endif %}
					{% if cellData.getDisplayCount %}
					<div style="font-size: {{ viewportFont }}vw; color: cyan;" class="centered">
						{{ cellData.getDisplayCount }}
					</div>
					{% endif %}
				</div>
			</td>
			{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
</div>
{% endif %}
{% endblock %}
