{% block body %}
<div style="display: grid; grid-template-columns: 1fr 300px; grid-column-gap: 5px;">
    <div id="planetslist">
        {% for layer_id, layer_data in GROUPED_PLANETS %}
        <table class="tcal" style="margin-bottom: 20px;">
            <tr>
                <th>{{ layer_data.layer_name }}</th>
            </tr>
            {% if layer_data.layer_description %}
            <tr>
                <td class="ttop" style="text-align: center; font-style: italic; color: #888;">
                    {{ layer_data.layer_description }}
                </td>
            </tr>
            {% endif %}
            {% for region_id, region_data in layer_data.regions %}
            <tr>
                <td class="ttop" style="text-align: center;">{{ region_data.region_name }}</td>
            </tr>
            <tr>
                <td class="colonylist" style="background-color: #000000 !important;">
                    {% set planet_counter = 0 %}
                    {% for colony in region_data.planets %}
                    <div onclick="goToUrl('maindesk.php?SHOW_COLONYLIST=1&B_FIRST_COLONY=1&id={{ colony.getId }}')"
                        class="row{{ planet_counter is odd ? 'odd' : 'even' }} divbody"
                        style="cursor: pointer; display: block; float: left; width: 300px;">
                        <div style="display: table-cell;">
                            <img src="assets/planets/{{ colony.getColonyClassId }}.png" />
                        </div>
                        <div style="vertical-align: middle; display: table-cell;">
                            <div style="font-size: 120%">{{ colony.getPlanetName }}</div>
                            <div>
                                <img src="assets/map/systemtypes/{{ colony.getSystem.getSystemType.getId }}.png"
                                    style="width: 15px; height: 15px;" />
                                {{ colony.getSystem.getName }}-<span>System</span>
                            </div>
                        </div>
                    </div>
                    {% set planet_counter = planet_counter + 1 %}
                    {% endfor %}
                    <div style="clear: both;"></div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
    <div id="planetsinfo">
        <div class="box">
            <div class="box_title">Planetentypen</div>
            <div class="box_body">
                <div>Für einen erfolgreichen Spielstart ist es wichtig, den grundlegenden Unterschied der Planetentypen
                    zu kennen.</div>
                <div>Grundsätzlich sind alle Planeten in dieser Liste für den Spielstart geeignet.</div>
                <div style="padding-top: 20px;">
                    <div style="display: table-cell;">
                        <img src="assets/planets/201.png" />
                    </div>
                    <div style="vertical-align: middle; display: table-cell;">
                        <div style="font-size: 120%">M-Klasse</div>
                        <div>Ausgewogene Mischung aus Ebenen, Wüsten, Wasserflächen und Wäldern</div>
                    </div>
                </div>
                <div style="padding-top: 20px;">
                    <div style="display: table-cell;">
                        <img src="assets/planets/203.png" />
                    </div>
                    <div style="vertical-align: middle; display: table-cell;">
                        <div style="font-size: 120%">L-Klasse</div>
                        <div>Stark bewaldet mit vielen Ebenen und Sümpfen.</div>
                    </div>
                </div>
                <div style="padding-top: 20px;">
                    <div style="display: table-cell;">
                        <img src="assets/planets/205.png" />
                    </div>
                    <div style="vertical-align: middle; display: table-cell;">
                        <div style="font-size: 120%">O-Klasse</div>
                        <div>Wasserreich, wenig Berge und keine Wüsten</div>
                    </div>
                </div>
                <br />
                <p>Weitere Informationen zu den Planetentypen findest Du in unserem <a
                        href="https://wiki.stuniverse.de/index.php?title=Planeten" target="_blank">Wiki</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}