{% if EMERGENCYWRAPPERS %}
<div class="box">
    <div class="box_title">Notrufe</div>
    <div class="box_body">
        <table class="tcal">
            <tr>
                <th>Koordinaten</th>
                <th>Info</th>
                <th>Notrufsignal</th>
                <th>Zeitpunkt</th>
            </tr>
            {% for wrapper in EMERGENCYWRAPPERS %}
            {% set spacecraft = wrapper.get.getSpacecraft %}
            <tr>
                {% if wrapper.showDetails %}
                <td>{{ spacecraft.getSectorString }}</td>
                <td>
                    {{ spacecraft.getName|bbcode }}
                    von {{ spacecraft.getUser.getName|bbcode }}
                </td>
                <td>{{ wrapper.get.getText }}</td>
                <td>{{ wrapper.get.getDate|stuDateTime }}</td>
                {% else %}
                <td>
                    {% if spacecraft.getLocation.getSectorId %}
                    <span>Sektor {{ spacecraft.getLocation.getSectorId }}</span>
                    {% endif %}
                </td>
                <td></td>
                <td>{{ wrapper.get.getText }}</td>
                <td>{{ wrapper.get.getDate|stuDateTime }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<br />
{% endif %}
