{% from 'html/macros.twig' import userAvatar %}

<table id="newknposts" class="tcal">
    <tr>
        <th colspan="2">
            <a href="comm.php?user_mark=1">
                Neue KN-Beiträge ({{ NEW_KN_POSTING_COUNT }})
            </a>
        </th>
    </tr>
    {% if NEW_KN_POSTINGS %}
    {% for data in NEW_KN_POSTINGS %}
    <tr>
        <td style="text-align: center; width: 40px; height: 40px;" rowspan="2">
            <div class="maindeskNewsItemAvatar">
                {{ userAvatar(data.getUser) }}
            </div>
        </td>
        <td>
            {% if data.getPlot%}
            <span>Plot:</span>
            <a href="comm.php?mark={{ data.getMark }}&markedPost={{ data.getId }}#kn_post_{{ data.getId }}">
                {{ data.getPlot.getTitle|bbcode }}
            </a>
            {% else %}
            <span>Titel:</span>
            <a href="comm.php?mark={{ data.getMark }}&markedPost={{ data.getId }}#kn_post_{{ data.getId }}">{{
                data.getTitle|bbcode }}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            von: {{ data.getUser.getName|bbcode }}
            -
            {{ data.getDate|stuDateTime }}
            -
            {{ data.getCommentcount }} Kommentare
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td style="padding: 5px;">Keine</td>
    </tr>
    {% endif %}
</table>
