{% if ACTIVE_QUESTS %}
<br />
<table id="activequests" class="tcal">
    <tr>
        <th colspan="2">
            <a href="comm.php?SHOW_QUESTLIST=1">
                Aktive Quests ({{ ACTIVE_QUEST_COUNT }})
            </a>
        </th>
    </tr>
    {% for quest in ACTIVE_QUESTS %}
    <tr>
        <td>
            {% set activeMembersCount = quest.getQuestUsers|filter(u => u.getMode.value == 1)|length %}
            {% set questText = quest.getText|bbcode|striptags %}
            {% set textPreview = questText|length > 100 ? questText|slice(0, 100) ~ '...' : questText %}
            <a href="comm.php?SHOW_QUEST=1&questid={{ quest.getId }}">
                {{ quest.getTitle|bbcode }}
            </a>
            von {{ quest.getUser.getName|bbcode }} - {{ activeMembersCount }}{% if quest.getApplicantMax %} /
            {{ quest.getApplicantMax }}{% endif %} Teilnehmer - {{ textPreview }}
        </td>
        <td{% if quest.getStart < "now" |date('U') %} style="color: #4CAF50;" {% endif %}>Start:
            {{quest.getStart|stuDateTime}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}