{# needs following variables: host, shipRepairProgress) #}
{% set shipRepairProgress = SHIP_REPAIR_PROGRESS %}
{% if shipRepairProgress %}
<table class="tcal">
    <tr>
        <th colspan="7">Schiffe in Reparatur</th>
    </tr>
    <tr>
        <th>Schiff</th>
        <th>Name</th>
        <th>Hülle</th>
        <th>Systeme</th>
        <th>Status</th>
        <th>Nächster Zyklus</th>
        <th>Fertigstellung</th>
    </tr>
    {% for data in shipRepairProgress %}
    {% set ship = data.get %}
    {% set condition = ship.getCondition %}
    {% set shipId = ship.getId %}
    <tr style="height: 50px"
        class="row{% if data.isActiveRepair %} repair-active-row{% elseif data.isQueued %} repair-pending-row{% endif %}">
        <td style="text-align: center; vertical-align: middle;">
            <img src="/assets/ships/{{ ship.getRump.getId }}.png" title="{{ ship.getRump.getName }}" />
        </td>
        <td style="text-align: center; vertical-align: middle">
            {{ ship.getName|bbcode }}
        </td>
        <td style="text-align: center; vertical-align: middle">
            <img src="/assets/buttons/modul_1.png" title="Hülle" style="width: 12px; height: 12px;" />
            {{ condition.getHull }}/{{ ship.getMaxHull }}
        </td>
        <td style="text-align: center; vertical-align: middle">
            {% for sys in data.getDamagedSystems %}
            <img title="{{ sys.getName }}: {{ sys.getStatus }}%" style="margin-right: 5px;"
                class="{{ sys.getCssClass }}" src="/assets/system/{{ sys.getSystemType.value }}.png" />
            {% endfor %}
        </td>
        <td style="text-align: center; vertical-align: middle">
            {% if data.isStopped %}
            <div>Gestoppt: Material fehlt</div>
            <div>
                {% if FIELD is defined and data.getFieldId is not null %}
                <a class="linkbutton" href="javascript:void(0);"
                    onclick="reactivateRepairInPopup({{ host.getId }}, {{ FIELD.getId }}, {{ data.getFieldId }}, '{{ SESSIONSTRING }}');">
                    Reaktivieren
                </a>
                {% else %}
                <a class="linkbutton"
                    href="?id={{ host.getId }}&B_REACTIVATE_REPAIR=1{% if data.getFieldId is not null %}&fid={{ data.getFieldId }}{% endif %}&sstr={{ SESSIONSTRING }}">
                    Reaktivieren
                </a>
                {% endif %}
            </div>
            {% elseif data.isPaused %}
            <div>Pausiert</div>
            {% elseif data.isQueued %}
            <div>Ausstehend (Warteschlange)</div>
            {% elseif data.isActiveRepair %}
            <div>Aktiv in Reparatur</div>
            {% else %}
            <div>Ausstehend</div>
            {% endif %}
            <div>
                <a {% if FIELD is defined %} href="javascript:void(0);"
                    onclick="cancelRepairInPopup({{ host.getId }}, {{ FIELD.getId }}, {{ shipId }}, '{{ SESSIONSTRING }}');"
                    {% else %}
                    href="?id={{ host.getId }}&B_CANCEL_REPAIR=1&shipid={{ shipId }}&sstr={{ SESSIONSTRING }}" {% endif
                    %} onmouseover="cp('cancel{{ shipId }}','buttons/x2');"
                    onmouseout="cp('cancel{{ shipId }}','buttons/x1');">
                    <img src="/assets/buttons/x1.png" name="cancel{{ shipId }}" title="Reparatur abbrechen" />
                </a>
            </div>
        </td>
        <td style="text-align: center; vertical-align: middle">
            {% if data.getPotentialNextWaveTime > 0 %}
            {{ data.getPotentialNextWaveTime|stuDateTime }}
            {% else %}
            <span class="repair-pending-text">Ausstehend</span>
            {% endif %}
        </td>
        <td style="text-align: center; vertical-align: middle">
            {% if data.getPotentialFinishTime > 0 %}
            {{ data.getPotentialFinishTime|stuDateTime }}
            {% else %}
            <span class="repair-pending-text">Ausstehend</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}