{% from 'html/shipmacros.twig' import spacecraftImageWithoutWarp %}{# needs following variables: host,
REPAIRABLE_SHIP_WRAPPERS) #}
<table class="tcal" style="width: 40vw;">
    {% set repairTooltip %}
    <table class='tcal' style='width:250px'>
        <tr>
            <th style='text-align: left'><img src='/assets/buttons/info2.png' /> Reparatur </th>
        </tr>
        <tr>
            <td>Die Reparatur eines Raumschiffes läuft in einzelnen Reparaturschritten und wird minütlich weitergeführt.
                Hierbei entstehen beim abschluss jedes Reparaturzyklus Kosten.
                Eine Reparaturstation erhöht auf Kolonien die Zahl gleichzeitiger Reparaturen und senkt Zeit und
                Kosten.</br>Klicke auf das <img style='height:16px' src='/assets/buttons/info2.png' /> für mehr Infos.
            </td>
        </tr>
    </table> {% endset %}

    <tr class="responsive-hide">
        <th>Klasse</th>
        <th>Name</th>
        <th>Vorauss. Dauer</th>
        <th>Insgesamt benötigte Teile</th>
        <th><a href="https://wiki.stuniverse.de/index.php?title=Anfaenger:Reparaturen" target="_blank"
                data-tippy-content="{{ repairTooltip|e('html_attr') }}"><img src=" /assets/buttons/info2.png"
                    style="height:16px;" /></a>
        </th>
    </tr>{% for wrapper in REPAIRABLE_SHIP_WRAPPERS %}
    {% set ship = wrapper.get %}
    <tr class="row responsive-hide">
        <td>
            <input type="hidden" name="ships[]" value="{{ ship.getId }}" />
            {{ spacecraftImageWithoutWarp(ship) }}
        </td>
        <td class="break-word">{{ ship.getName|bbcode }}</td>
        <td>{{ wrapper.getRepairDurationLabel|bbcode }}</td>
        <td>
            <table class="tcal">
                {% for cost in wrapper.getRepairCosts %}
                <tr>
                    <td>{{ cost.getAmount }}</td>
                    <td><img src="assets/commodities/{{ cost.getCommodityId }}.png"
                            title="{{ cost.getCommodityName }}" /></td>
                </tr>{% endfor %}
            </table>
        </td>
        <td>
            <div>
                <a
                    href="?id={{ host.getId }}&B_REPAIR_SHIP=1&ship_id={{ ship.getId }}{% if FIELD is defined %}&fid={{ FIELD.getId }}{% endif %}">Reparieren</a>
            </div>
        </td>
    </tr>
    <tr class="responsive-show">
        <th>Klasse</th>
        <th colspan="2">Name</th>
    </tr>
    <tr class="responsive-show">
        <td>
            <input type="hidden" name="ships[]" value="{{ ship.getId }}" />
            {{ spacecraftImageWithoutWarp(ship) }}
        </td>
        <td class="break-word" colspan="2">{{ ship.getName|bbcode }}</td>
    </tr>
    <tr class="responsive-show">
        <th>Vorauss. Dauer</th>
        <th>Insgesamt benötigte Teile</th>
    </tr>
    <tr class="responsive-show">
        <td>{{ wrapper.getRepairDurationLabel|bbcode }}</td>
        <td>
            <table class="tcal">
                {% for cost in wrapper.getRepairCosts %}
                <tr>
                    <td>{{ cost.getAmount }}</td>
                    <td><img src="assets/commodities/{{ cost.getCommodityId }}.png"
                            title="{{ cost.getCommodityName }}" /></td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    <tr class="responsive-show">
        <th colspan="2"><a href="https://wiki.stuniverse.de/index.php?title=Anfaenger:Reparaturen" target="_blank"
                data-tippy-content="{{ repairTooltip|e('html_attr') }}"><img src="/assets/buttons/info2.png"
                    style="height:16px;" /></a>
        </th>
        <td>
            <div>
                <a
                    href="?id={{ host.getId }}&B_REPAIR_SHIP=1&ship_id={{ ship.getId }}{% if FIELD is defined %}&fid={{ FIELD.getId }}{% endif %}">Reparieren</a>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>