<div class="box">
  <div class="box_title">Menü</div>
  <div class="box_body">
    <table class="tcal">
      <tr>
        <td style="width: 33%" class="selected" id="menubroadcast">
          <a style="display: block;" href="javascript:void(0);" onclick="switchMenuToBroadcast()">Broadcast</a>
        </td>
        <td style="width: 33%" id="menulogbook">
          <a style="display: block;" href="javascript:void(0);" onclick="switchMenuToLogbook()">Logbuch</a>
        </td>
        <td style="width: 33%" id="menuemergency">
          <a style="display: block;" href="javascript:void(0);" onclick="switchMenuToEmergency()">Notruf</a>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="box" id="broadcast" style="width: 500px;">
  <div class="box_title">Broadcast</div>
  <div class="box_body">
    <form id="broadcastForm" method="post" action="{{ SHIP.getType.getModuleView.getPhpPage }}"
      onsubmit="return sendBroadcast(this);">
      <input type="hidden" name="id" value="{{ SHIP.getId }}" />
      <input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
      <table class="tcal">
        <tr>
          <th>Sende Broadcast an alle Kolonien und Stationen im Umkreis von einem Feld</th>
        </tr>
        <tr>
          <td><textarea name="text" style="width: 100%; height: 300px;">{{ TEMPLATETEXT }}</textarea></td>
        </tr>
        <tr>
          <td><input type="submit" name="B_SEND_BROADCAST" class="button" value="Broadcast senden" /></td>
        </tr>
      </table>
    </form>
  </div>
</div>
<div class="box" id="logbook" style="width: 500px; display: none;">
  <div class="box_title">Logbuch</div>
  <div class="box_body">
    <form id="spacecraftLogbookForm" method="post" action="{{ SHIP.getType.getModuleView.getPhpPage }}"
      onsubmit="return submitSpacecraftLogbookForm(this);">
      <input type="hidden" name="id" value="{{ SHIP.getId }}" />
      <input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
      <input type="hidden" name="logid" id="spacecraftLogId" value="0" />
      <input type="hidden" id="spacecraftLogbookAction" value="B_ADD_SHIP_LOG" />
      <input type="hidden" id="spacecraftLogbookActionValue" value="1" />
      <div id="writelog" style="display: none;">
        <table class="tcal">
          <tr>
            <th colspan="2" id="spacecraftLogFormTitle">Kommentar schreiben</th>
          </tr>
          <tr>
            <td colspan="2">
              <textarea id="spacecraftLogText" style="width: 100%; height: 100px;" name="log"></textarea>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: right;">
              <input id="spacecraftLogCancel" type="button" class="button" value="Abbrechen"
                onclick="cancelSpacecraftLogEdit()" style="display: none;" />
              <input id="spacecraftLogSubmit" type="submit" class="button" name="B_ADD_SHIP_LOG"
                value="Eintrag erstellen" />
            </td>
          </tr>
        </table>
      </div>
      <div id="showWriteLogButtonContainer" style="width: 100%; text-align: right;">
        <input type="button" class="button" value="Logeintrag schreiben"
          onclick="startNewSpacecraftLog()" />
      </div>
      <br />
      {% for DATA in LOGBOOK %}
      <table class="tcal">
        <tr>
          <th style="width: 120px; text-align: center;">{{ DATA.getDate|stuDateTime }}</th>
          <th style="width: 20px; text-align: center;">
            {% set editIconId = 'editSpacecraftLog' ~ DATA.getId %}
            <button type="button" data-log-text="{{ DATA.getText|e('html_attr') }}"
              style="border: 0; background: transparent; padding: 0; cursor: pointer;"
              onclick="startSpacecraftLogEdit(this, {{ DATA.getId }})"
              onmouseover="cp('{{ editIconId }}','buttons/knedit2')"
              onmouseout="cp('{{ editIconId }}','buttons/knedit1')">
              <img src="/assets/buttons/knedit1.png" name="{{ editIconId }}" title="Logbucheintrag bearbeiten" />
            </button>
          </th>
          <th style="width: 20px; text-align: center;">
            {% set deleteIconId = 'deleteSpacecraftLog' ~ DATA.getId %}
            <button type="submit" name="B_DELETE_SPACECRAFT_LOG" value="{{ DATA.getId }}"
              style="border: 0; background: transparent; padding: 0; cursor: pointer;"
              onclick="setSpacecraftLogbookAction(this.name, this.value)"
              onmouseover="cp('{{ deleteIconId }}','buttons/x2')"
              onmouseout="cp('{{ deleteIconId }}','buttons/x1')">
              <img src="/assets/buttons/x1.png" name="{{ deleteIconId }}" title="Logbucheintrag löschen" />
            </button>
          </th>
        </tr>
        {% if DATA.getEdited %}
        <tr>
          <td colspan="3" class="knedit">Bearbeitet: {{ DATA.getEdited|stuDateTime }}</td>
        </tr>
        {% endif %}
        <tr>
          <td colspan="3">{{ DATA.getText|nl2br|bbcode }}</td>
        </tr>
      </table>
      {% if not loop.last %}
      <br />
      {% endif %}
      {% endfor %}
      {% if not LOGBOOK %}
      <div class="divhead" style="text-align: center;">Keine Logbucheinträge vorhanden</div>
      {% endif %}
    </form>
  </div>
</div>
{% if SHIP.hasComputer %}
<div class="box" id="emergency" style="width: 500px; display: none;">
  <div class="box_title">Notruf</div>
  <div class="box_body">
    <form method="post" action="{{ SHIP.getType.getModuleView.getPhpPage }}">
      <input type="hidden" name="id" value="{{ SHIP.getId }}" />
      <input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
      <table class="tcal" {% if EMERGENCYTEXT %}style="display: none;" {% endif %}>
        <tr>
          <th colspan="2">Sende Notrufsignal</th>
        </tr>
        <tr>
          <td colspan="2"><textarea id="emergencytext" name="text" style="width: 100%; height: 300px;"
              data-limit="{{ EMERGENCYTEXTLIMIT }}"></textarea>
          </td>
        </tr>
        <tr>
          <td style="width: 200px">
            <span id="emergencyTextLength">0</span>/<span>{{ EMERGENCYTEXTLIMIT }}</span> Zeichen
          </td>
          <td><input id="startEmergencyButton" type="submit" name="B_START_EMERGENCY" class="button"
              value="Notruf senden" /></td>
        </tr>
      </table>
      <table class="tcal" {% if not EMERGENCYTEXT %}style="display: none;" {% endif %}>
        <tr>
          <th>Aktuelles Notrufsignal</th>
        </tr>
        <tr>
          <td>{{ EMERGENCYTEXT }}</td>
        </tr>
        <tr>
          <td><input type="submit" name="B_STOP_EMERGENCY" class="button" value="Notruf beenden" /></td>
        </tr>
      </table>
    </form>
  </div>
</div>
{% endif %}
