{% from 'html/shipmacros.twig' import spacecraftImageWithoutWarp %}

{% set data = wrapper.get %}
<li>
    <table class="use" style="width: 100%;" onmouseover="shipSelectorHover(this);"
        onmouseout="shipSelectorHoverEnd(this);" onclick="shipSelectorChoose(this);">
        <tr>
            <td class="darkbg" colspan="5">
                {% if wrapper.isOwnedByCurrentUser %}
                <a type="hidden" href="{{ data.getHref }}" />
                {% endif %}
                {{ data.getName|bbcode }} | {{ data.getUserName|bbcode }}
            </td>
        </tr>
        <tr>
            <td style="width: 20px; vertical-align: middle;">
                {% if STATION %}
                <a
                    href="station.php?id={{ STATION.getId }}&B_UNDOCK_SHIP=1&target={{ data.getId }}&sstr={{ SESSIONSTRING }}"><img
                        src="/assets/buttons/dock1.png" title="abdocken" /></a>
                {% endif %}
            </td>
            <td style="width: 120px; vertical-align: middle;">
                {{ spacecraftImageWithoutWarp(data) }}
            </td>
            <td style="width: 150px;">
                <table class="tcal">
                    <tr>
                        <th style="width: 20px; text-align: center;">
                            <img src="/assets/buttons/modul_1.png" />
                        </th>
                        <td style="vertical-align: middle; text-align: center;">
                            {% autoescape false %}
                            {{ wrapper.getHullSystemData.getHullStatusBar }}
                            {% endautoescape %}
                        </td>
                        <td style="text-align: center;">
                            {{ data.getHull }}
                        </td>
                    </tr>
                </table>
            </td>
            {% if data.isDestroyed %}
            <td colspan="2"></td>
            {% else %}
            {% set shields = wrapper.getShieldSystemData %}
            {% set eps = wrapper.getEpsSystemData %}
            <td style="width: 150px;">
                {% if shields %}
                <table class="tcal">
                    <tr>
                        <th style="width: 20px; text-align: center;">
                            <img src="/assets/buttons/modul_2.png" />
                        </th>
                        <td style="text-align: center; vertical-align: middle;">
                            {% autoescape false %}
                            {{ shields.getShieldStatusBar }}
                            {% endautoescape %}
                        </td>
                        <td style="text-align: center;">
                            {{ data.getShield }}
                        </td>
                    </tr>
                </table>
                {% endif %}
            </td>
            <td style="width: 150px;">
                {% if eps %}
                <table class="tcal">
                    <tr>
                        <th style="text-align: center; width: 20px;">
                            <img src="/assets/buttons/modul_8.png" />
                        </th>
                        <td style="vertical-align: middle; text-align: center;">
                            {% autoescape false %}
                            {{ eps.getEpsStatusBar }}
                            {% endautoescape %}
                        </td>
                        <td style="text-align: center;">
                            {{ eps.getEps }}
                        </td>
                    </tr>
                </table>
                {% endif %}
            </td>
            {% endif %}
        </tr>
    </table>
    <input type="hidden" name="selshipid" id="selshipid" value="{{ data.getId }}" />
</li>
