<table style="width: 100%;">
    <tr>
        <td>
            <a href="?B_SET_GREEN_ALERT=1&id={{ SHIP.getId }}&sstr={{ SESSIONSTRING }}">
                <img src="assets/buttons/alert1.png" /> Alarmstufe Grün
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="?B_SET_YELLOW_ALERT=1&id={{ SHIP.getId }}&sstr={{ SESSIONSTRING }}">
                <img src="assets/buttons/alert2.png" /> Alarmstufe Gelb
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="?B_SET_RED_ALERT=1&id={{ SHIP.getId }}&sstr={{ SESSIONSTRING }}">
                <img src="assets/buttons/alert3.png" /> Alarmstufe Rot
            </a>
        </td>
    </tr>
</table>
