{% from 'html/macros.twig' import commoditySelection %}
  <div id="trademenucontent" style="width: 400px;">
    {% if THIS.getInformation %}
      <br />
      {{ include('html/sitemacros.twig', { 'systeminformation': THIS.getInformation }) }}
    {% endif %}
    {% if HAS_LICENSE %}
      <form method="post" action="ship.php">
        <input type="hidden" name="id" value="{{ SHIP.getId }}" />
        <input type="hidden" name="postid" value="{{ TRADEPOST.getId }}" />
        <input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
        <br />
        <table class="tcal">
          <tr>
            <th style="width: 50%;">Warenkonto</th>
            <th>Schiff</th>
          </tr>
          <tr>
            <td>
              <img src="assets/buttons/lager.png" />
              {{ TRADEPOST.getStorageSum }}/{{ TRADEPOST.getStorageCapacity }}
            </td>
            <td>
              <img src="assets/buttons/lager.png" />
              {{ SHIP.getStorageSum }}/{{ SHIP.getRump.getStorage }}
            </td>
          </tr>
        </table>
        <br />
        <table class="tcal">
          <tr>
            <th>Modus</th>
          </tr>
          <tr>
            <td style="width: 50%" class="selected" id="transfertoaccount">
              <a style="display: block;" href="javascript:void(0);" onclick="switchTransferToAccount({{ TRADEPOST.getId }})">Transfer in Konto</a>
            </td>
            <td style="width: 50%" id="transferfromaccount">
              <a style="display: block;" href="javascript:void(0);" onclick="switchTransferFromAccount({{ TRADEPOST.getId }})">Transfer von Konto</a>
            </td>
          </tr>
        </table>

        <div id="trademenutransfer">
          <br />
          <input type="hidden" name="B_TRANSFER_TO_ACCOUNT" value="1" />
          <table class="tcal">
            <tr>
              <th>Waren auf dem Schiff</th>
            </tr>
            <tr>
              <td>
                {% if SHIP.getBeamableStorage %}
                  {% for stor in SHIP.getBeamableStorage %}
                    <input type="hidden" name="commodities[]" value="{{ stor.getCommodity.getId }}" />
                    {% if not loop.index is odd %}
                      <div style="float: right; width: 50%;">
                        {{ commoditySelection(stor.getCommodity.getName, stor.getCommodity.getId, stor.getAmount) }}
                      </div>
                    {% else %}
                      <div style="float: left; width: 50%;">
                        {{ commoditySelection(stor.getCommodity.getName, stor.getCommodity.getId, stor.getAmount) }}
                      </div>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  Keine Waren vorhanden
                {% endif %}
              </td>
            </tr>
          </table>
        </div>
        <br />
        <div style="width: 100%; text-align: center;">
          <input type="button" class="button" value="max" onclick="maximizeCommodityAmounts();" />
          <input type="submit" class="button" value="Transferieren" />
        </div>
      </form>
    {% else %}
      <table class="tcal">
        <tr>
          <td>{{ TRADEPOST.getTradePostDescription|nl2br }}</td>
        </tr>
      </table>
      <br />
      {% if CAN_BUY_LICENSE %}
        <table class="tcal">
          <tr>
            <th>Lizenz erwerben</th>
          </tr>
          <tr>
            <td>
              Um an diesem Posten Handel betreiben zu können ist eine Lizenz nötig. Die Gebühr für eine
              {{ LICENSEDAYS }} Tage gültige Lizenz beträgt:<br />
              {{ LICENSECOST }} {{ LICENSECOMMODITYNAME }}<br /><br />
              Diese Gebühr kann entweder über ein bereits bestehendes Warenkonto an einem anderen Posten oder aus dem
              Frachtraum des Schiffes beglichen werden.<br /><br />
              <input class="button" type="button" value="Bezahlmethode wählen" onclick="tradeMenuChoosePayment({{ TRADEPOST.getId }});" />
            </td>
          </tr>
        </table>
      {% else %}
        <table class="tcal">
          <tr>
            <th>Lizenzerwerb nicht möglich</th>
          </tr>
          <tr>
            <td>
              Dieser Handelsposten hat noch keine Gebühren für den Lizenzerwerb eingestellt.
            </td>
          </tr>
        </table>
      {% endif %}
    {% endif %}
  </div>
