<form action="colony.php" method="post">
    <input type="hidden" name="id" value="{{ COLONY.getId }}" />
    <input type="hidden" name="target" value="{{ TARGET.getId }}" />
    <input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
    <input type="hidden" name="transfer_type" value="{{ TRANSFER_INFO.getTransferType.value }}" />
    <input type="hidden" name="is_unload" value="{{ TRANSFER_INFO.isUnload ? 1 : 0 }}" />
    <input type="hidden" name="is_colony" value="{{ TRANSFER_INFO.isColonyTarget ? 1 : 0 }}" />

    <table class="tcal" style="width: 425px;">
        {% set targetId = TARGET.getId %}

        {% include "html/transfer/transferTypeSelection.twig" %}
        <tr>
            <td colspan="3">Ziel: {{ TARGET.getName|bbcode }}</td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="3">
                Kapazität pro 1 Energie: {{ COLONY.getBeamFactor }}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width: 100%;">
                {% include TRANSFER_INFO.getTransferType.getGoodsTemplate %}
            </td>
            <td rowspan="2" style="height: 100%;">
                {% embed "html/transfer/directionSelection.twig" %}
                {% from 'html/transfer/transferMacros.twig' import entity %}
                {% block source %}
                {{ entity(TARGET, false , OWNS_TARGET) }}
                {% autoescape false %}
                {{ TARGET_STORAGE_BAR }}
                {% endautoescape %}
                {% endblock %}
                {% block target %}
                {{ entity(COLONY, true, true) }}
                {% autoescape false %}
                {{ SOURCE_STORAGE_BAR }}
                {% endautoescape %}
                {% endblock %}
                {% endembed %}
            </td>
        </tr>
        <tr style="text-align: right;">
            {% include TRANSFER_INFO.getTransferType.getActionsTemplate %}
        </tr>
    </table>
</form>
