{% from 'html/macros.twig' import onClickColony %}

<div class="header_box header_box_col border_box">
    {% for colony in USER_COLONIES %}
    {% set cClass = colony.getColonyClass %}
    {% set classId = cClass.getId %}
    {% set title = colony.getName|bbcode2txt %}
    {% set system = colony.getSystem %}
    {% set sysStr = system.getName ~ '-System (' ~ system.getCx ~ '|' ~ system.getCy ~ ')' %}

    {% set tooltip %}
    <table class="tcal">
        <tr>
            <th>Kolonieinformationen: {{ title }}</th>
        </tr>
        <tr>
            <td>
                Koordinaten: {{ colony.getSx }}|{{ colony.getSy }}<br>
                System: {{ sysStr|bbcode2txt }}<br>
                EPS: {{ colony.getChangeable.getEps }}/{{ colony.getMaxEps }}<br>
                Lager: {{ colony.getStorageSum }}/{{ colony.getMaxStorage }}
            </td>
        </tr>
    </table>
    {% endset %}

    {% set hw = 'height:50px;width:50px;' %}
    {% if cClass.isMoon %}
    {% set hw = 'height:50px;width:30px;' %}
    {% elseif cClass.isAsteroid %}
    {% set hw = 'height:50px;width:40px;' %}
    {% endif %}

    <a {{ onClickColony(colony) }} style="{{ hw }}margin:7px 5px;text-align:center;float:left" class="action"
        data-tippy-content="{{ tooltip|e('html_attr') }}">
        <img src="/assets/planets/{{ classId }}.png" {% if not cClass.isPlanet
            %}style="position:relative;margin-top:10px" {% endif %} />
    </a>
    {% endfor %}
</div>