<div id="navlet_colonies" class="header_box header_box_col border_box">
    {% for item in colonies %}
    {% set href = '/colony.php?SHOW_COLONY=1&id=' ~ item.colonyid %}

    {% if item['type'] == 1 %}
    <a href="{{ href }}" style="margin: 7px 5px 7px 5px; text-align: center; float: left" class="action">
        <img src="/assets/planets/{{ item.classid }}.png" title="{{ item.nameandsector|bbcode2txt }}" />
    </a>
    {% elseif item['type'] == 2 %}
    <a href="{{ href }}" style="height: 50px; width: 30px; margin: 7px 5px 7px 5px; text-align: center; float: left"
        class="action">
        <img src="/assets/planets/{{ item.classid }}.png" title="{{ item.nameandsector|bbcode2txt }}"
            style="position:relative; margin-top: 10px;" />
    </a>
    {% else %}
    <a href="{{ href }}" style="height: 50px; width: 40px; margin: 7px 5px 7px 5px; text-align: center; float: left"
        class="action">
        <img src="/assets/planets/{{ item.classid }}.png" title="{{ item.nameandsector|bbcode2txt }}"
            style="position:relative; margin-top: 10px;" />
    </a>
    {% endif %}
    {% endfor %}
</div>
