<div class="header_box header_box_user border_box action" onclick="goToUrl('/maindesk.php'); return false;">
    <div style="margin: 5px">
        <div class="user_box_grid">
            <div class="user_box_avatar" onclick="event.stopPropagation();">
                {% from 'html/macros.twig' import userAvatar %}
                {{ userAvatar(USER) }}
            </div>
            <div class="user_box_avatar_mobile">
                {% from 'html/macros.twig' import userAvatar %}
                {{ userAvatar(USER) }}
            </div>
            <div class="user_box_details">
                <div class="userBoxDetailName">
                    {{ USER.getName|bbcode }}
                </div>
                <span>ID:</span> {{ USER.getId }}<span>,
                    Prestige:</span> {{ PRESTIGE }}<br />

                <a href="javascript:void(0);" onclick="event.stopPropagation(); openNotes()" title="Notizzettel öffnen"
                    onmouseover="cp('headerNotiz','buttons/notiz2')" onmouseout="cp('headerNotiz','buttons/notiz1')">
                    <img src="/assets/buttons/notiz1.png" name="headerNotiz" />
                </a>
                <a href="javascript:void(0);"
                    onclick="event.stopPropagation(); switchInnerContent('WRITE_PM', 'Neue private Nachricht', null, '/pm.php');"
                    onmouseover="cp('writePm','buttons/msg2')" onmouseout="cp('writePm','buttons/msg1')">
                    <img src="/assets/buttons/msg1.png" name="writePm" title="Neue Nachricht schreiben" />
                </a>
            </div>
        </div>
    </div>
</div>
