{% set rump = PLAN.getRump %}
{% set baseValues = rump.getBaseValues %}

<table class="tcal">
    <tr>
        <td><img src="assets/ships/{{ rump.getId }}.png" title="{{ rump.getName }}" /></td>
        <td>
            <div style="padding-left: 5px; float: left; width: 205px">
                <div class="divhead">Informationen (Basis-Werte)</div>
                <div class="divbody">
                    <span>Limit pro Spieler:</span> {{ LIMIT }}<br />
                    <span>baubar:</span> {{ LOCATION }}<br />
                    <span></span><br />
                    <span>Crewanzahl:</span> {{ PLAN.getCrew }}<br />
                    <span>Hüllenpunkte:</span> {{ baseValues.getBaseHull }}<br />
                    <span>Schildpunkte:</span> {{ baseValues.getBaseShield }}<br />
                    <span>EPS:</span> {{ baseValues.getBaseEps }}<br />
                    <span>Reaktorleistung:</span> {{ baseValues.getBaseReactor }}<br />
                    <span>Sensorreichtweite:</span> {{ baseValues.getBaseSensorRange }}<br />
                    <span>Trefferchance (eff.):</span> {{ baseValues.getHitChance }}%<br />
                    <span>Energiewaffenschaden:</span> {{ baseValues.getBaseDamage }}<br />
                    <span>Energiewaffen-Salven:</span> {{ rump.getPhaserVolleys }}<br />
                    <span>Torpedolevel</span>: {{ rump.getTorpedoLevel }}<br />
                    <span>Torpedo-Salven</span>: {{ rump.getTorpedoVolleys }}<br />
                    <span>Torpedolagerraum</span>: {{ rump.getBaseTorpedoStorage }}<br />
                    <span>Beam-Faktor</span>: {{ rump.getBeamFactor }}<br />
                    <span>Lagerraum:</span> {{ rump.getStorage }}<br />
                    <span>Shuttlekapazität:</span> {{ rump.getShuttleSlots }}<br />
                    <span>Andockplätze:</span> {{ rump.getDockingSlots }}<br />
                </div>
            </div>
        </td>
    </tr>
</table>
