{% macro control_right(wrapper, constructionProgressWrapper, possibleStations, moduleSelectors, userLayers) %}
{% from 'html/shipmacros.twig' import shipimagewithoutwarp %}

{% set ship = wrapper.get %}
{% set shipId = ship.getId %}

{% if ship.isWarpcoreHealthy %}
<table class="tcal">
    <tr>
        <th colspan="2">
            <img src="assets/buttons/warpsys.png" />
            <span>Warp-System</span>
        </th>
    </tr>
    {% if ship.hasWarpcore %}
    <tr>
        <td style="width:50%;">
            <img src="assets/buttons/warpk.png" title="Warpkern" />
            {{ ship.getReactorLoad }}/{{ ship.getReactorCapacity }}
        </td>
        <td>
            <input type="text" size="3" name="reactorload" id="reactorload" value="1"
                onkeydown="event.key == 'Enter' && $('loadreactorbutton').click();" />
            <input type="submit" class="button" name="B_LOAD_REACTOR" value="aufladen" id="loadreactorbutton" />
            <input type="button" class="button" value="max"
                onClick="$('reactorload').value = 9999; $('loadreactorbutton').click()" />
            {% if ship.isFleetLeader %}
            <span><input type="checkbox" name="fleet" />
                Flotte</span>
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% if ship.hasWarpDrive %}
    {% set epssystem = wrapper.getEpsSystemData %}
    {% set warpcoresystem = wrapper.getWarpCoreSystemData %}
    {% set warpdrivesystem = wrapper.getWarpDriveSystemData %}

    <tr>
        <td colspan="2"><img src="assets/buttons/wkp2.png" title="Zuwachs zum Warpdrive" />
            <span id="calculatedWarpDrive"></span>
            <input type="range" min="0" max="100" value="{{ warpcoresystem.getWarpCoreSplit }}" id="warpCoreSplit"
                oninput="saveWarpCoreSplit(this.value, {{ shipId }});  updateEPSSplitValue(this.value, {{ ship.getReactorOutput }}, {{ wrapper.getEpsUsage }}, {{ ship.getRump.getFlightEcost }}, {{ wrapper.getEffectiveEpsProduction }}, {{ epssystem.getEps }}, {{ epssystem.getMaxEps }}, {{ warpdrivesystem.getWarpDrive }}, {{ warpdrivesystem.getMaxWarpDrive }}, {{ ship.getReactorLoad }})">
            <img src="assets/buttons/battp2.png" title="Zuwachs zum EPS" />
            <span id="calculatedEPS"></span>
        </td>
    </tr>


    {% if ship.isWarpPossible %}
    <tr>
        <td style="width:50%;">
            {% if ship.getWarpState %}
            <img src="assets/buttons/warp1.png" title="Warpantrieb aktiviert" />
            {% else %}
            <img src="assets/buttons/warp2.png" title="Warpantrieb deaktiviert" />
            {% endif %}
            Warpantrieb
        </td>
        <td>
            {% if ship.getWarpState %}
            <a href="?B_DEACTIVATE_WARP=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}" class="linkbutton">deaktivieren</a>
            {% else %}
            <a href="?B_ACTIVATE_WARP=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}" class="linkbutton">aktivieren</a>
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endif %}
    {% if ship.hasTranswarp %}
    <tr>
        {% set cooldown = ship.getTranswarpCooldown %}
        <td style="width:50%;">
            <img src="assets/buttons/transw.png" title="Transwarpantrieb" />
            Transwarpantrieb
            {% if cooldown %}
            <span><br />
                Gesperrt bis {{ cooldown|datetime }}</span>
            {% endif %}
        </td>
        <td>
            {% if not cooldown %}
            Areal:
            <select name="transwarplayer">
                {% for userlayer in userLayers %}
                {% set selected = userlayer.getLayer.getId == ship.getLayerId %}
                <option value="{{ userlayer.getLayer.getId }}" selected=" {{ selected }}">
                    {{ userlayer.getLayer.getName }}</option>
                {% endfor %}
            </select>
            X:
            <input type="text" size="2" name="transwarpcx" id="transwarpcx"
                onkeydown="event.key == 'Enter' && $('transwarpButton').click()" />
            Y:
            <input type="text" size="2" name="transwarpcy" id="transwarpcy"
                onkeydown="event.key == 'Enter' && $('transwarpButton').click()" />
            <input type="submit" class="button" name="B_TRANSWARP" value="Transwarpflug" id="transwarpButton" />
            {% endif %}
        </td>
    </tr>
    {% endif %}
</table>
{% endif %}
{% if ship.hasFusionReactor %}
<table class="tcal">
    <tr>
        <th colspan="2">
            <img src="assets/buttons/warpsys.png" />
            <span>Reaktor-System</span>
        </th>
    </tr>
    <tr>
        <td style="width:50%;">
            <img src="assets/buttons/fusrkt.png" title="Fusionsreaktor" />
            {{ ship.getReactorLoad }}/{{ ship.getReactorCapacity }}
        </td>
        <td>
            <input type="text" size="3" name="reactorload" id="reactorload" value="1"
                onkeydown="event.key == 'Enter' && $('loadreactorbutton').click();" />
            <input type="submit" class="button" name="B_LOAD_REACTOR" value="aufladen" id="loadreactorbutton" />
            <input type="button" class="button" value="max"
                onClick="$('reactorload').value = 9999; $('loadreactorbutton').click()" />
            {% if ship.isFleetLeader %}
            <span><input type="checkbox" name="fleet" />
                Flotte</span>
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}
{% set eps = wrapper.getEpsSystemData %}
{% if eps and eps.getMaxBattery > 0 %}
<table class="tcal">
    <tr>
        <th colspan="2">
            <img src="assets/buttons/batt.png" title="Ersatzbatterie" /> Ersatzbatterie
            {{ eps.getBattery }} / {{ eps.getMaxBattery }}
        </th>
    </tr>
    <tr>
        {% if eps.isEBattUseable %}
        <td style="width: 70%;">
            Einheiten
            <input type="text" size="5" name="ebattload" id="ebattload"
                onkeydown="event.key == 'Enter' && $('unloadBatteryButton').click()" />
            <input type="submit" class="button" name="B_USE_BATTERY" value="entladen" id="unloadBatteryButton" />
            <input type="button" class="button"
                onclick="$('ebattload').value = 99999999; $('unloadBatteryButton').click();" value="max" />
            {% if ship.isFleetLeader %}
            <span><input type="checkbox" name="fleet" />
                Flotte</span>
            {% endif %}
        </td>
        {% else %}
        <td style="width: 70%;">
            Gesperrt bis {{ eps.getBatteryCooldown|datetime }}
        </td>
        {% endif %}
        <td style="text-align: right; width: 30%;">
            {% if ship.isBase %}
            {% if eps.reloadBattery %}
            <input type="checkbox" checked="checked"
                onchange="document.location.href='?B_TOGGLE_BATT_RELOAD=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}'" />
            {% else %}
            <input type="checkbox"
                onchange="document.location.href='?B_TOGGLE_BATT_RELOAD=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}'" />
            {% endif %}
            reload <img title="Ersatzbatterie wird vom Reaktor geladen" src="assets/buttons/info2.png"
                style="height:16px;" />
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}
{% if constructionProgressWrapper %}
<table class="tcal">
    <tr>
        {% if constructionProgressWrapper.isUnderConstruction %}
        <th colspan="2"><img src="assets/buttons/rep2.png" style="height:20px;" /> Baufortschritt</th>
        {% elseif constructionProgressWrapper.isScrapped %}
        <th colspan="2"><img src="assets/buttons/rep2.png" style="height:20px;" /> Demontagefortschritt</th>
        {% endif %}
    </tr>
    <tr>
        <td style="width: 70%;">Verbleibende Ticks:</td>
        <td style="width: 30%; text-align: center;">{{ constructionProgressWrapper.getRemainingTicks }}</td>
    </tr>
    <tr>
        <td style="width: 70%;">Benötigte angedockte Workbees:</td>
        <td style="width: 30%; text-align: center; color: {{ constructionProgressWrapper.getWorkbeeColor }};">{{
            constructionProgressWrapper.getDockedWorkbeeCount }}/{{ constructionProgressWrapper.getNeededWorkbeeCount }}
        </td>
    </tr>
</table>
{% elseif ship.isConstruction %}
<table class="tcal">
    <tr>
        <th colspan="4"><img src="assets/buttons/rep2.png" style="height:20px;" />&nbsp;Erforschte Stationstypen
        </th>
    </tr>
    {% if possibleStations %}
    {% for data in possibleStations %}
    <tr>
        <td style="width: 30%;">
            {{ data.getRump.getName }}
        </td>
        <td style="width: 30%;">
            <a href="javascript:void(0);" onclick="showStationCosts(this, {{ data.getId }})">
                <span>Baukosten</span>
            </a>
        </td>
        <td style="width: 30%;">
            <a href="javascript:void(0);" onclick="showStationInformation(this, {{ data.getId }})">
                <span>Informationen</span>
            </a>
        </td>
        <td style="width: 10%;">
            <div class="radio">
                <input type="radio" value="{{ data.getId }}" name="plan_select"
                    onchange="showModuleSelectTab({{ data.getId }})" />
            </div>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th colspan="4">Auswahl der Spezialmodule</th>
    </tr>
    <tr>
        <td colspan="4">
            {% for selector in moduleSelectors %}
            <div id="selector_{{ selector.getDummyId }}" style="display: none;">
                {% autoescape false %}
                {{ selector.render }}
                {% endautoescape %}
            </div>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td colspan="4">
            <div style="width: 100%; text-align: center;">
                <input type="submit" class="button" name="B_BUILD_STATION" value="Stationsbau beginnen" />
            </div>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4">keine Einträge</td>
    </tr>
    {% endif %}
</table>
{% endif %}
{% if ship.isTractoring or ship.isTractored %}
<table class="tcal">
    <tr>
        <th colspan="2"><img src="assets/buttons/trak.png" title="Traktorstrahl" />
            Traktorstrahl</th>
    </tr>
    <tr>
        {% if ship.isTractoring %}
        <td colspan="2">
            Gerichtet auf: {{ ship.getTractoredShip.getName|bbcode }}
        </td>
        {% else %}
        <td colspan="2">
            Gehalten von: {{ ship.getTractoringShip.getName|bbcode }}
        </td>
        {% endif %}
    </tr>
    <tr>
        <td>
            {% if ship.isTractoring %}
            {% if ship.isBase and not ship.getTractoredShip.isDestroyed %}
            <a href="?B_DOCK_TRACTORED=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}"
                onmouseover="cp('docktractored','buttons/dock2')" onmouseout="cp('docktractored','buttons/dock1')">
                <img src="assets/buttons/dock1.png" name="docktractored" title="Gezogenes Schiff andocken" />
            </a>
            {% endif %}
            <img src="assets/ships/{{ ship.getTractoredShip.getRump.getId }}.png" />
            {% else %}
            <img src="assets/ships/{{ ship.getTractoringShip.getRump.getId }}.png" />
            {% endif %}
        </td>
        <td>
            {% if ship.isTractoring %}
            <input type="submit" class="button" name="B_DEACTIVATE_TRACTOR" value="deaktivieren" />
            {% elseif ship.isDeflectorHealthy %}
            <input type="submit" class="button" name="B_ESCAPE_TRAKTOR" value="Fluchtversuch" />
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}
{% if wrapper.getTrackerSystemData and wrapper.getTrackerSystemData.getTargetWrapper %}
<table class="tcal">
    <tr>
        <th colspan="3"><img src="assets/buttons/mark.png" title="Tracker-Device" />
            Tracker-Device</th>
    </tr>
    {% set targetWrapper = wrapper.getTrackerSystemData.getTargetWrapper %}
    {% set targetShip = targetShip %}
    <tr>
        <td colspan="3">
            Markiert: {{ targetShip.getName|bbcode }}
        </td>
    </tr>
    <tr>
        <td>
            {% if wrapper.getTrackerSystemData.canAttackCloakedTarget %}
            <a href="?B_ATTACK_TRACKED=1&id={{ shipId }}&target={{ targetShip.getId }}&sstr={{ SESSIONSTRING }}"
                onmouseover="cp('attacktracked','buttons/phaser2')" onmouseout="cp('attacktracked','buttons/phaser1')"
                title="Getarntes Ziel angreifen">
                <img src="assets/buttons/phaser1.png" name="attacktracked" />
            </a>
            {% endif %}
            {{ shipimagewithoutwarp(targetShip) }}
        </td>
        <td>
            {{ targetShip.getSectorString }}
        </td>
        <td>
            <input type="submit" class="button" name="B_DEACTIVATE_TRACKER" value="deaktivieren" />
        </td>
    </tr>
    <tr>
        <td colspan="3" style="background-color: #000000 ! important">
            <div style="width: 100%">
                <div style="width: 33%; float: left;">
                    <table class="tcal">
                        <tr>
                            <th style="width: 20px; text-align: center;">
                                <img src="assets/buttons/modul_1.png" />
                            </th>
                            <td style="vertical-align: middle; text-align: center;">
                                {% autoescape false %}
                                {{ targetWrapper.getHullSystemData.getHullStatusBar }}
                                {% endautoescape %}
                            </td>
                            <td style="text-align: center; width: 60px;">
                                {{ targetShip.getHull }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% set targetShields = targetWrapper.getShieldSystemData %}
                {% if targetShields %}
                <div style="width: 33%; float: left;">
                    <table class="tcal">
                        <tr>
                            <th style="width: 20px; text-align: center;">
                                <img src="assets/buttons/modul_2.png" />
                            </th>
                            <td style="text-align: center; vertical-align: middle;">
                                {% autoescape false %}
                                {{ targetShields.getShieldStatusBar }}
                                {% endautoescape %}
                            </td>
                            <td style="text-align: center; width: 60px;">
                                {{ targetShip.getShield }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endif %}
                {% set targetEps = targetWrapper.getEpsSystemData %}
                {% if targetEps %}
                <div style="width: 33%; float: left;">
                    <table class="tcal">
                        <tr>
                            <th style="text-align: center; width: 20px;">
                                <img src="assets/buttons/modul_8.png" />
                            </th>
                            <td style="vertical-align: middle; text-align: center;">
                                {% autoescape false %}
                                {{ targetEps.getEpsStatusBar }}
                                {% endautoescape %}
                            </td>
                            <td style="text-align: center; width: 60px;">
                                {{ targetEps.getEps }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endif %}
            </div>
        </td>
    </tr>
</table>
{% endif %}
<br />
{% if ship.getFleet %}
{{ _self.fleetInfo(wrapper) }}
{% endif %}
{% endmacro %}

{% macro fleetInfo(wrapper) %}
{% from 'html/shipmacros.twig' import shipimagenameastitle %}

{% set ship = wrapper.get %}
{% set fleet = ship.getFleet %}

{% if not ship.isFleetLeader %}
<table class="tcal">
    <tr>
        <th>
            <div style="display: inline-block;width: 80%;">
                <a href="?SHOW_SHIP=1&id={{ fleet.getLeadShip.getId }}">
                    <img src="assets/buttons/fleet.png" title="zum Führungsschiff wechseln" />
                    <span>zum Führungsschiff wechseln</span></a>
            </div>
        </th>
    </tr>
</table>
{% elseif fleet.getShipCount > 1 %}
<table class="tcal">
    <tr>
        <th colspan="3">
            <div>
                <div style="display: inline-block;width: 80%;">
                    <img src="assets/buttons/fleet.png" title="Flottenstatus" />
                    <span>Flottenstatus</span>
                </div>
                <div style="display: inline-block;" title="Schiffe gehen nicht verloren">
                    <span>
                        {% if ship.getFleet.isFleetFixed %}
                        <input style="display: none;" type="submit" class="button" name="B_CHANGE_FLEET_FIXATION"
                            id="changefixationbutton" /><input type="checkbox" name="fleetfixed" checked="checked"
                            onchange="$('changefixationbutton').click();" />
                        {% else %}
                        <input style="display: none;" type="submit" class="button" name="B_CHANGE_FLEET_FIXATION"
                            id="changefixationbutton" /><input type="checkbox" name="fleetfixed"
                            onchange="$('changefixationbutton').click();" />
                        {% endif %}
                        fixiert
                        <img src="assets/buttons/info2.png" style="height:16px;" /></span>
                </div>
            </div>
        </th>
    </tr>
    {% for fleetShipWrapper in wrapper.getFleetWrapper.getShipWrappers %}
    {% set fleetShip = fleetShipWrapper.get %}
    {% if fleetShip.getId != ship.getId %}
    <tr>
        <td style="background-color: #000000 ! important">
            <a href="ship.php?SHOW_SHIP=1&id={{ fleetShip.getId }}"
                onmouseover="openStorageInit(this, {{ fleetShip.getId }});" onmouseout="closeStorage();">
                {{ shipimagenameastitle(fleetShip) }}
            </a>
        </td>
        <td style="background-color: #000000 ! important">
            <div style="width: 100%">
                <div style="width: 33%; float: left;">
                    <table class="tcal">
                        <tr>
                            <th style="width: 20px; text-align: center;">
                                <img src="assets/buttons/modul_1.png" />
                            </th>
                            <td style="vertical-align: middle; text-align: center;">
                                {% autoescape false %}
                                {{ fleetShipWrapper.getHullSystemData.getHullStatusBar }}
                                {% endautoescape %}
                            </td>
                            <td style="text-align: center; width: 60px;">
                                {{ fleetShip.getHull }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% set shields = fleetShipWrapper.getShieldSystemData %}
                {% if shields %}
                <div style="width: 33%; float: left;">
                    <table class="tcal">
                        <tr>
                            <th style="width: 20px; text-align: center;">
                                <img src="assets/buttons/modul_2.png" />
                            </th>
                            <td style="text-align: center; vertical-align: middle;">
                                {% autoescape false %}
                                {{ shields.getShieldStatusBar }}
                                {% endautoescape %}
                            </td>
                            <td style="text-align: center; width: 60px;">
                                {{ fleetShip.getShield }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endif %}
                {% set eps = fleetShipWrapper.getEpsSystemData %}
                {% if eps %}
                <div style="width: 33%; float: left;">
                    <table class="tcal">
                        <tr>
                            <th style="text-align: center; width: 20px;">
                                <img src="assets/buttons/modul_8.png" />
                            </th>
                            <td style="vertical-align: middle; text-align: center;">
                                {% autoescape false %}
                                {{ eps.getEpsStatusBar }}
                                {% endautoescape %}
                            </td>
                            <td style="text-align: center; width: 60px;">
                                {{ eps.getEps }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endif %}
                {% set warpdrive = fleetShipWrapper.getWarpDriveSystemData %}
                {% if warpdrive %}
                <div style="width: 33%; float: left;">
                    <table class="tcal">
                        <tr>
                            <th style="text-align: center; width: 20px;">
                                <img src="assets/buttons/modul_11.png" />
                            </th>
                            <td style="vertical-align: middle; text-align: center;">
                                {% autoescape false %}
                                {{ warpdrive.getWarpDriveStatusBar }}
                                {% endautoescape %}
                            </td>
                            <td style="text-align: center; width: 60px;">
                                {{ warpdrive.getWarpDrive }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endif %}
            </div>
        </td>
        <td>
            <a href="?B_FLEET_LEADER=1&id={{ ship.getId }}&target={{ fleetShip.getId }}"
                onmouseover="cp('fleet_{{ fleetShip.getId }}','buttons/fl_flag2')"
                onmouseout="cp('fleet_{{ fleetShip.getId }}','buttons/fl_flag1')">
                <img src="assets/buttons/fl_flag1.png" name="fleet_{{ fleetShip.getId }}"
                    title="Flottenführung wechseln" />
            </a>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endif %}
{% endmacro %}
