{% macro control_nav(ship, navPanel) %}
{% if ship.getLss %}

{% set viewportFont = navPanel.getViewportForFont %}
{% set fontSize = 'font-size: ' ~ viewportFont ~ 'vw;' %}

{% set viewportScale = navPanel.getViewportPerColumn %}
{% set height = 'height: ' ~ viewportScale ~ 'vw;' %}
{% set width = 'width: ' ~ viewportScale ~ 'vw;' %}
{% set heightAndWidth = height ~ width %}

<div style="float:left; padding-bottom:5px;">
    <table class="lssarea" cellpadding="0" cellspacing="0">
        <tr>
            <td style="text-align: center; {{ height }} position: relative !important; top: 0px;">
                <a href="ship.php?B_DEACTIVATE_LSS=1&id={{ ship.getId }}"
                    style="{{ heightAndWidth }} position: absolute !important; top: 0px; left: 0px;"><img
                        src="assets/buttons/lss1.png" name="lss_panel"
                        style="{{ heightAndWidth }} position: relative !important; top: 0px;"
                        title="Langstreckensensoren deaktivieren" /></a>
            </td>
            {% for row in navPanel.getHeadRow %}
            <td style="{{ fontSize }} {{ heightAndWidth }} position: relative !important; top: 0px;" class="th">{{
                row.value }}
            </td>
            {% endfor %}
        </tr>
        {% for row in navPanel.getRows %}
        <tr>
            {% for entry in row.getEntries %}
            {% if entry.getRow %}
            <td style="{{ heightAndWidth }} {{ fontSize }}" class="{{ entry.getCSSClass }}">{{ entry.getRow }}</td>
            {% else %}
            <td class="{{ entry.getCSSClass }}"
                style="border:1px solid {{ entry.getBorder }}; {{ heightAndWidth }} background-size: cover;">
                {% if entry.isClickable %}
                <div style="{{ heightAndWidth }} position: relative !important; top: 0px;" class="lssobj imgOverlayText"
                    onclick="{{ entry.getOnClick }}">
                    {{ _self.lssCellLayers(entry.getLayer, entry.getMapfieldType, fontSize, heightAndWidth,
                    entry.getDisplayCount, ship.getSubspaceState, entry.getSubspaceCode, entry.getShieldState) }}
                </div>
                {% else %}
                <div class="imgOverlayText" style="{{ heightAndWidth }} position: relative !important; top: 0px;">
                    {{ _self.lssCellLayers(entry.getLayer, entry.getMapfieldType, fontSize, heightAndWidth,
                    entry.getDisplayCount, ship.getSubspaceState, entry.getSubspaceCode, entry.getShieldState) }}
                </div>
                {% endif %}
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% if ship.canMove %}
<div style="float:left; margin-left:5px;">
    <table class="tcal">
        <tr>
            <td colspan="3" style="text-align: center;">
                <input type="submit" value="&nbsp;" class="button upButton" name="B_MOVE_UP"
                    disabled="{{ navPanel.getUp.isDisabled }}" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="&nbsp;" class="button leftButton" name="B_MOVE_LEFT"
                    disabled="{{ navPanel.getLeft.isDisabled }}" />
            </td>
            <td style="text-align: center; font-weight: bold;">
                <input type="text" onfocus="focusNavApplet();" onblur="blurNavApplet();" name="navapp"
                    style="text-align: center;" size="1" value="1" />
            </td>
            <td>
                <input type="submit" value="&nbsp;" class="button rightButton" name="B_MOVE_RIGHT"
                    disabled="{{ navPanel.getRight.isDisabled }}" />
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center;">
                <input type="submit" value="&nbsp;" class="button downButton" name="B_MOVE_DOWN"
                    disabled="{{ navPanel.getDown.isDisabled }}" />
            </td>
        </tr>
    </table>
</div>
{% endif %}
{% else %}
<table class="tcal">
    {% if ship.hasNbsLss %}
    <tr>
        <th colspan="3"><a href="?B_ACTIVATE_LSS=1&id={{ ship.getId }}"><img src="assets/buttons/lss2.png"
                    title="Langstreckensensoren aktivieren" /></a>
            {% if ship.isBase %}
            <a href="?B_ACTIVATE_LSS=1&id={{ ship.getId }}">Langstreckensensoren
                aktivieren</a>
            {% else %}
            Navigation Applet (<a href="?B_ACTIVATE_LSS=1&id={{ ship.getId }}">Langstreckensensoren
                aktivieren</a>)
            {% endif %}
        </th>
    </tr>
    {% endif %}
    {% if ship.canMove %}
    {% set up = navPanel.getUp %}
    {% set left = navPanel.getLeft %}
    {% set right = navPanel.getRight %}
    {% set down = navPanel.getDown %}
    <tr>
        <td colspan="3" style="text-align: center;">
            <input type="submit" class="button" name="B_MOVE_UP" style="width: 100px;" value="{{ up.getLabel }}"
                disabled="{{ up.isDisabled }}" />
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <input type="submit" class="button" name="B_MOVE_LEFT" style="width: 100px;" value="{{ left.getLabel }}"
                disabled="{{ left.isDisabled }}" />
        </td>
        <td style="width: 100px; text-align: center; font-weight: bold;">
            <input type="text" onfocus="focusNavApplet();" onblur="blurNavApplet();" name="navapp"
                style="text-align: center;" size="7" value="{{ ship.getPosX }}|{{ ship.getPosY }}" />
        </td>
        <td style="text-align: center;">
            <input type="submit" class="button" style="width: 100px;" name="B_MOVE_RIGHT" value="{{ right.getLabel }}"
                disabled="{{ right.isDisabled }}" />
        </td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: center;">
            <input type="submit" class="button" style="width: 100px;" name="B_MOVE_DOWN" value="{{ down.getLabel }}"
                disabled="{{ down.isDisabled }}" />
        </td>
    </tr>
    {% endif %}
</table>
{% endif %}
{% endmacro %}

{% macro lssCellLayers(layerId, fieldType, fontSize, heightAndWidth, displayCount, subspaceState, subspaceCode
, colonyShieldState) %}
<img src="assets/map/{{ layerId }}/{{ fieldType }}.png" style="z-index: 1; {{ heightAndWidth }} opacity:1;" />
{% if colonyShieldState %}
<img src="assets/planets/s1.png" class="lssColoShield" style="z-index: 2; {{ heightAndWidth }}" />
{% endif %}
{% if subspaceState and subspaceCode %}
<img src="assets/subspace/generated/{{ subspaceCode }}.png" class="lssSubspaceOverShield"
    style="z-index: 3; {{ heightAndWidth }}" />
{% endif %}
<div style="{{ fontSize }}" class="centered">{{ displayCount }}
</div>
{% endmacro %}
