{% macro control_mid(wrapper, astroStateSystem, astroStateRegion, isTachyonActive, starSystemEntryTal, currentColony,
canColonize) %}

{% set ship = wrapper.get %}
{% set shipId = ship.getId %}
{% set starSystem = ship.getSystem %}
<table class="tcal">
    <tr>
        {% set header = ship.isBase ? 'Stationskontrolle' : 'Schiffskontrolle' %}
        <th colspan="2"><img src="/assets/buttons/gefecht.png" /> {{ header }}</th>
    </tr>
    <tr>
        <td colspan="2">
            {{ _self.onOffToggle('SHIELDS', shipId, ship.getShieldState, 'shldac', 'Schilde') }}
        </td>
    </tr>
    {% if ship.hasPhaser %}
    <tr>
        {% if ship.isAlertGreen %}
        <td colspan="2">
            <img src="/assets/buttons/act_phaser2.png" name="actphaser" /> bei Alarmstufe
            deaktiviert
        </td>
        {% else %}
        <td colspan="2">
            {{ _self.onOffToggle('PHASER', shipId, ship.getPhaserState, 'act_phaser', 'Strahlenwaffe') }}
        </td>
        {% endif %}
    </tr>
    {% endif %}
    {% if ship.hasTorpedo %}
    <tr>
        {% if ship.isAlertGreen %}
        <td>
            <img src="/assets/buttons/act_torp2.png" name="acttorp" /> bei Alarmstufe
            deaktiviert
        </td>
        {% else %}
        <td>
            {{ _self.onOffToggle('TORPEDO', shipId, ship.getTorpedoState, 'act_torp', 'Torpedobänke') }}
        </td>
        {% endif %}
        {{ _self.torpedoDisplay(ship.getTorpedo, ship.getTorpedoCount) }}
    </tr>
    {% elseif ship.isTorpedoStorageHealthy %}
    <tr>
        {{ _self.torpedoDisplay(ship.getTorpedo, ship.getTorpedoCount) }}
    </tr>
    {% endif %}
    {% if ship.hasSubspaceScanner %}
    <tr>
        <td colspan="2">
            {{ _self.onOffToggle('SUBSPACE', shipId, ship.getSubspaceState, 'subspace', 'Subraumfeldsensoren') }}
        </td>
    </tr>
    {% endif %}
    {% if ship.hasCloak %}
    <tr>
        <td colspan="2">
            {{ _self.onOffToggle('CLOAK', shipId, ship.getCloakState, 'tarn', 'Tarnung') }}
        </td>
    </tr>
    {% endif %}
    {% if ship.isWebEmitterHealthy %}
    <tr>
        <td title="Webemitter Einstellungen" colspan="2">
            <a href="javascript:void(0);" onclick="showWebEmitterWindow();"
                onmouseover="cp('webemitter','buttons/net_2')" onmouseout="cp('webemitter','buttons/net_1')">
                <img style="width: 20px;" src="/assets/buttons/net_1.png" name="webemitter" /> Webemitter
                Einstellungen
            </a>
        </td>
    </tr>
    {% endif %}
    {% if ship.hasTachyonScanner %}
    <tr>
        <td colspan="2">
            {{ _self.onOffToggle('TACHYON', shipId, ship.getTachyonState, 'decloak', 'Tachyon-Scanner') }}
        </td>
    </tr>
    {% endif %}
    {% if ship.hasUplink %}
    <tr>
        <td colspan="2">
            <a href="?B_ACTIVATE_UPLINK=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}"
                onmouseover="cp('uplink','buttons/uplink1')" onmouseout="cp('uplink','buttons/uplink2')">
                <img src="/assets/buttons/uplink2.png" name="uplink" />
                Uplink aktivieren
            </a>
        </td>
    </tr>
    {% endif %}
    {% if ship.hasRPGModule %}
    <tr>
        <td colspan="2">
            {{ _self.onOffToggle('RPG_MODULE', shipId, ship.getRPGModuleState, 'rpg', 'RPG Modul') }}
        </td>
    </tr>
    {% endif %}
    {% if ship.hasShuttleRamp and ship.getStoredShuttles %}
    {% set defaultId = ship.getStoredShuttles[0].getId %}
    <tr>
        <td>
            <select name="shid" onchange="cp('shuttle','commodities/' + this.value, 'png')">
                {% for data in ship.getStoredShuttles %}
                <option value="{{ data.getId }}">{{ data.getName }}
                </option>
                {% endfor %}
            </select>
            <img src="/assets/commodities/{{ defaultId }}.png" name="shuttle" />
            <input type="submit" class="button" name="B_START_SHUTTLE" value="Shuttle starten" />
        </td>
        <td>
            {{ ship.getStoredShuttleCount }} / {{ ship.getRump.getShuttleSlots }} geladen
        </td>
    </tr>
    {% endif %}
    {% if ship.canBuildConstruction %}
    <tr>
        <td colspan="2">
            <input type="submit" class="button" name="B_BUILD_CONSTRUCTION" value="Konstrukt errichten" />
        </td>
    </tr>
    {% endif %}
    {% if ship.hasAstroLaboratory %}
    <tr>
        <td colspan="2">
            {{ _self.onOffToggle('ASTRO', shipId, ship.getAstroState, 'map', 'Astrometrisches Labor') }}
        </td>
    </tr>
    {% endif %}
    {% if ship.getRump.isshipyard %}
    <tr>
        <td colspan="2">
            {{ _self.onOffToggle('HUB', shipId, ship.getConstructionHubState, 'rep', 'Werfthub') }}
        </td>
    </tr>
    {% endif %}
</table>
{% if ship.isFleetLeader %}
<br />
<table class="tcal">
    <tr>
        <th colspan="4">
            <img src="/assets/buttons/fleet.png" title="Flottenkontrolle" />
            <span>Flottenkontrolle</span>
        </th>
    </tr>
    <tr>
        <td class="darkbg" style="width: 35%;">Aktivieren</td>
        <td class="darkbg" style="width: 35%;">Deaktivieren</td>
        <td class="darkbg" style="width: 15%;">Alarmstufe</td>
        <td class="darkbg" style="width: 15%;">Optionen</td>
    </tr>
    <tr>
        <td>
            <a href="?B_FLEET_ACTIVATE_NBS=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/kss1.png" name="fl_ksson" title="Nahbereichssensoren aktivieren" />
            </a>
            <a href="?B_FLEET_ACTIVATE_SHIELDS=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/shldac1.png" name="fl_shieldon" title="Schilde aktivieren" />
            </a>
            <a href="?B_FLEET_ACTIVATE_PHASER=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/act_phaser1.png" name="fl_phaseron" title="Strahlenwaffen aktivieren" />
            </a>
            <a href="?B_FLEET_ACTIVATE_TORPEDO=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/act_torp1.png" name="fl_torpon" title="Torpedobänke aktivieren" />
            </a>
            <a href="?B_FLEET_ACTIVATE_CLOAK=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/tarn1.png" name="fl_cloakon" title="Tarnung aktivieren" />
            </a>
            {% if ship.isWarpPossible %}
            <a href="?B_FLEET_ACTIVATE_WARP=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/warp1.png" name="fl_cloakon" title="Warpantrieb aktivieren" />
            </a>
            {% endif %}
        </td>
        <td>
            <a href="?B_FLEET_DEACTIVATE_NBS=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/kss2.png" name="fl_kssoff" title="Nahbereichssensoren deaktivieren" />
            </a>
            <a href="?B_FLEET_DEACTIVATE_SHIELDS=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/shldac2.png" name="fl_shieldoff" title="Schilde deaktivieren" />
            </a>
            <a href="?B_FLEET_DEACTIVATE_PHASER=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/act_phaser2.png" name="fl_phaseroff" title="Strahlenwaffen deaktivieren" />
            </a>
            <a href="?B_FLEET_DEACTIVATE_TORPEDO=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/act_torp2.png" name="fl_torpoff" title="Torpedobänke deaktivieren" />
            </a>
            <a href="?B_FLEET_DEACTIVATE_CLOAK=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/tarn2.png" name="fl_cloakoff" title="Tarnung deaktivieren" />
            </a>
            <a href="?B_FLEET_DEACTIVATE_WARP=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/warp2.png" name="fl_cloakoff" title="Warpantrieb deaktivieren" />
            </a>
        </td>
        <td>
            <a href="?B_FLEET_ALERT_GREEN=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/alert1_2.png" title="Flotte: Alarmstufe Grün" />
            </a>
            <a href="?B_FLEET_ALERT_YELLOW=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/alert2_2.png" title="Flotte: Alarmstufe Gelb" />
            </a>
            <a href="?B_FLEET_ALERT_RED=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/alert3_2.png" title="Flotte: Alarmstufe Rot" />
            </a>
        </td>
        <td>
            <a href="?B_FLEET_WARP_SPLIT=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/bar2.png" title="Flotte: Warpkernsplit anwenden" />
            </a>
        </td>
    </tr>
</table>
{% endif %}
{% set dockedTo = ship.getDockedTo %}
{% if dockedTo %}
<br />
<table class="tcal">
    <tr>
        <th>Angedockt</th>
    </tr>
    <tr>
        <td>
            <a href="?B_UNDOCK=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}" onmouseover="cp('dock','buttons/dock1')"
                onmouseout="cp('dock','buttons/dock2')">
                <img src="/assets/buttons/dock2.png" title="Abdocken" name="dock" />
            </a>
            {% if ship.getUser.getId == dockedTo.getUser.getId %}
            <a href="?SHOW_SHIP=1&id={{ dockedTo.getId }}" onmouseover="cp('dockedstation','buttons/pmnavlet_7_1')"
                onmouseout="cp('dockedstation','buttons/pmnavlet_7_0')">
                <img src="/assets/buttons/pmnavlet_7_0.png" title="Zu Station wechseln" name="dockedstation"
                    style="height: 20px;" />
            </a>
            {% endif %}
            {% if ship.dockedOnTradepost %}
            <a href="javascript:void(0);" onclick="openTradeMenu({{ dockedTo.getTradePost.getId }});"
                onmouseover="cp('trade','buttons/menu_trade1')" onmouseout="cp('trade','buttons/menu_trade0')">
                <img src="/assets/buttons/menu_trade0.png" title="Handel" name="trade" />
                Handelstransferfenster öffnen
            </a>
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}
<br />
<table class="tcal">
    {% set system = starSystem %}
    <tr>
        <th style="width: 50%;">Informationen</th>
        {% if system %}
        {% set header = system.isWormhole ? 'Wurmloch' : 'Sternensystem' %}
        <th>{{ header }}</th>
        {% else %}
        {% if ship.isOverSystem %}
        <th>Sternensystem</th>
        {% elseif ship.isOverWormhole %}
        <th>Wurmloch</th>
        {% endif %}
        {% endif %}
    </tr>
    <tr>
        <td>
            <a href="javascript:void(0);" onclick="showSectorScanWindow(this)"
                onmouseover="cp('sectorScanButton','buttons/lupe2')"
                onmouseout="cp('sectorScanButton','buttons/lupe1')">
                <img src="/assets/buttons/lupe1.png" name="sectorScanButton" />
                <span>Sektor {{ ship.getPosX }}|{{ ship.getPosY }} scannen</span>
            </a>
            {{ _self.astroStates(ship, astroStateSystem) }}
            {{ _self.astroStates(ship, astroStateRegion) }}
            {% if isTachyonActive %}
            <br />
            {% if ship.getTachyonState %}
            <a href="?B_TACHYON_SCAN=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/ascan1.png" name="tachyonScanButton" />
                <span>Tachyon-Scan in Sektor {{ ship.getPosX }}|{{ ship.getPosY }} noch
                    aktiv</span>
            </a>
            {% else %}
            <img src="/assets/buttons/ascan1.png" />
            <span>Tachyon-Scan in Sektor {{ ship.getPosX }}|{{ ship.getPosY }} noch
                aktiv</span>
            {% endif %}
            {% else %}
            {% if ship.getTachyonState %}
            <br />
            <a href="?B_TACHYON_SCAN=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}"
                onmouseover="cp('tachyonScanButton','buttons/ascan1')"
                onmouseout="cp('tachyonScanButton','buttons/ascan')">
                <img src="/assets/buttons/ascan.png" name="tachyonScanButton" />
                <span>Tachyon-Scan in Sektor {{ ship.getPosX }}|{{ ship.getPosY }}
                    starten</span>
            </a>
            {% endif %}
            {% endif %}
            {% set administratedRegion = ship.getCurrentMapField.getAdministratedRegion %}
            {% if administratedRegion %}
            <br />
            <a href="javascript:void(0);" onclick="showRegionInfo({{ administratedRegion.getId }})"
                onmouseover="cp('adminRegionButton','buttons/info2')"
                onmouseout="cp('adminRegionButton','buttons/info1')">
                <img src="/assets/buttons/info1.png" name="adminRegionButton" />
                {{ administratedRegion.getDescription }}
            </a>
            {% endif %}
            {% set mapRegion = ship.getCurrentMapField.getMapRegion %}
            {% if mapRegion %}
            <a href="javascript:void(0);" onclick="showRegionInfo({{ mapRegion.getId }})"
                onmouseover="cp('mapRegionButton','buttons/info2')" onmouseout="cp('mapRegionButton','buttons/info1')">
                <img src="/assets/buttons/info1.png" name="mapRegionButton" />
                {{ mapRegion.getDescription }}
            </a>
            {% endif %}
            {% if ship.getCurrentMapField.getInfluenceArea and ship.getCurrentMapField.getInfluenceArea.getBase %}
            {{ _self.influenceArea(ship.getCurrentMapField.getInfluenceArea.getBase.getUser) }}
            {% endif %}
            {% set anomalies = ship.getLocation.getAnomalies %}
            <br />
            {% for anomaly in anomalies %}
            <a>
                <img src="/assets/anomalies/{{ anomaly.getAnomalyType.getId }}.png"
                    name="{{ anomaly.getAnomalyType.getName }}" />
                {{ anomaly.getAnomalyType.getName }}
            </a>
            {% endfor %}

        </td>
        {% if starSystem %}
        <td>
            {% if starSystem.isWormhole %}
            <span>{{ starSystem.getName }}</span>
            <br />
            {% if ship.getStarsystemMap.getRandomWormholeEntry %}
            <a href="ship.php?B_LEAVE_WORMHOLE=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/sysleave1.png" title="Wurmloch verlassen" /> verlassen
            </a>
            {% endif %}
            {% else %}
            {% if starSystemEntryTal.wasDiscovered %}
            <a href="database.php?SHOW_ENTRY=1&cat=7&ent={{ starSystemEntryTal.getId }}" target="_blank"
                title="Karte des Systems öffnen">
                <img src="/assets/map/systemtypes/{{ starSystem.getSystemType.getId }}.png"
                    style="width: 15px; height: 15px;" />
                <span>{{ starSystem.getName }}
                    ({{ starSystem.getCx }}|{{ starSystem.getCy }})</span>
            </a>
            {% else %}
            <img src="/assets/map/systemtypes/{{ starSystem.getSystemType.getId }}.png"
                style="width: 15px; height: 15px;" title="{{ starSystem.getSystemType.getDescription }}" />
            <span>{{ starSystem.getName }}
                ({{ starSystem.getCx }}|{{ starSystem.getCy }})</span>
            {% endif %}
            <br />
            {% if ship.hasWarpdrive %}
            <a href="ship.php?B_LEAVE_STARSYSTEM=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/sysleave1.png" name="sysleave" title="System verlassen" /> verlassen
            </a>
            {% endif %}
            {% endif %}
        </td>
        {% else %}
        {% set overSystem = ship.isOverSystem %}
        {% if overSystem %}
        {% set systemType = overSystem.getSystemType %}
        {% set systemTypeId = systemType.getId %}
        <td>
            {% if starSystemEntryTal.wasDiscovered %}
            <a href="database.php?SHOW_ENTRY=1&cat=7&ent={{ starSystemEntryTal.getId }}" target="_blank"
                title="Karte des Systems öffnen">
                <img src="/assets/map/systemtypes/{{ systemTypeId }}.png" style="width: 15px; height: 15px;" />
                <span>{{ overSystem.getName }}
                    ({{ overSystem.getCx }}|{{ overSystem.getCy }})</span>
            </a>
            {% else %}
            <img src="/assets/map/systemtypes/{{ systemTypeId  }}.png" style="width: 15px; height: 15px;"
                title="{{ systemType.getDescription  }}" />
            {{ overSystem.getName }}
            {% endif %}
            <br />
            {% if ship.hasWarpdrive %}
            <a href="ship.php?B_ENTER_STARSYSTEM=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/sysenter1.png" name="sysleave" title="Ins System einfliegen" />
                einfliegen
            </a>
            {% endif %}
        </td>
        {% endif %}
        {% set wormholeEntry = ship.getMap.getRandomWormholeEntry %}
        {% if wormholeEntry %}
        <td>
            {{ wormholeEntry.getSystem.getName }}<br />
            {% if not ship.getWarpState and not ship.isBase %}
            <a href="ship.php?B_ENTER_WORMHOLE=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}">
                <img src="/assets/buttons/wlenter1.png" title="Ins Wurmloch einfliegen" />
                einfliegen
            </a>
            {% endif %}
        </td>
        {% endif %}
        {% endif %}
    </tr>
</table>
{% if currentColony %}
{% set colonyId = currentColony.getId %}
{% set colonyClassId = currentColony.getColonyClassId %}
{% set ownsCurrentColony = currentColony.getUser.getId == ship.getUser.getId %}
<br />
<table class="tcal">
    <tr>
        <th colspan="2">{{ currentColony.getPlanetName }}</th>
    </tr>
    <tr>
        <td style="width: 50%;">
            {{ _self.colonyImageAndName(shipId, currentColony, ownsCurrentColony) }}
            <div>
                {% if currentColony.getUser.isContactable and not ownsCurrentColony %}
                {% set fromType = ship.isBase ? 4 : 2 %}
                <a href="javascript:void(0);" onmouseover="cp('pm_to_colony','buttons/msg2', 'png');"
                    onmouseout="cp('pm_to_colony','buttons/msg1', 'png');"
                    onclick="closePopup();openPmWindow({{ shipId }}, {{ colonyId }}, {{ fromType }},5);"><img
                        src="/assets/buttons/msg1.png" name="pm_to_colony" title="Nachricht an Kolonie senden" /></a>
                {{ currentColony.getUser.getName|bbcode }}
                {% endif %}
            </div>
        </td>
        <td style="width: 50%;">
            {% if not ownsCurrentColony and ship.isMatrixScannerHealthy and not ship.getCloakState %}
            <div style="float: left; margin-top: 5px; margin-right: 5px;">
                <a href="javascript:void(0);" onclick="showColonyScan();"
                    onmouseover="cp('coloScanButton','buttons/lupe2')"
                    onmouseout="cp('coloScanButton','buttons/lupe1')">
                    <img src="/assets/buttons/lupe1.png" name="coloScanButton" title="Kolonie-Oberfläche scannen" />
                </a>
            </div>
            {% endif %}
            {% if not currentColony.isFree %}
            <div style="margin-top: 5px; margin-right: 20px; float: left;">
                <a href="javascript:void(0);" onclick="showBToColonyWindow({{ colonyId }});"
                    onmouseover="cp('beamfrom','buttons/b_down2')" onmouseout="cp('beamfrom','buttons/b_down1')">
                    <img src="/assets/buttons/b_down1.png" name="beamfrom" title="Zu der Kolonie beamen" />
                </a>
                <a href="javascript:void(0);" onclick="showBFromColonyWindow({{ colonyId }});"
                    onmouseover="cp('beamto','buttons/b_up2')" onmouseout="cp('beamto','buttons/b_up1')">
                    <img src="/assets/buttons/b_up1.png" name="beamto" title="Von der Kolonie beamen" />
                </a>
            </div>
            {% endif %}
            {% if ship.isFleetLeader and not currentColony.isFree %}
            <div style="margin-top: 5px;">
                {% if ship.getFleet.getDefendedColony %}
                <a href="?B_STOP_DEFENDING=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}"
                    onmouseover="cp('defend','buttons/defend2')" onmouseout="cp('defend','buttons/defend1')">
                    <img src="/assets/buttons/defend1.png" name="defend" title="Verteidigung der Kolonie beenden" />
                </a>
                {% elseif ship.getFleet.getBlockedColony %}
                <a href="?B_STOP_BLOCKING=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}"
                    onmouseover="cp('block','buttons/block2','png')" onmouseout="cp('block','buttons/block1','png')">
                    <img src="/assets/buttons/block1.png" name="block" title="Blockierung der Kolonie beenden" />
                </a>
                {% else %}
                <a href="?B_START_DEFENDING=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}"
                    onmouseover="cp('defend','buttons/defend1')" onmouseout="cp('defend','buttons/defend2')">
                    <img src="/assets/buttons/defend2.png" name="defend" title="Kolonie verteidigen" />
                </a>

                <a href="?B_START_BLOCKING=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}"
                    onmouseover="cp('block','buttons/block1','png')" onmouseout="cp('block','buttons/block2','png')">
                    <img src="/assets/buttons/block2.png" name="block" title="Kolonie blockieren" />
                </a>
                {% endif %}
            </div>
            {% endif %}
            {% if not ownsCurrentColony %}
            <img src="/assets/planets/{{ colonyClassId }}.png" style="width: 15px; height: 15px;" />
            {% if canColonize %}
            <a onclick="showColonization({{ colonyId }});" href="javascript:void(0);">
                Kolonie gründen
            </a>
            {% endif %}
            {% endif %}
            {% if wrapper.canLandOnCurrentColony %}
            <div>
                <a
                    href="colony.php?B_LAND_SHIP=1&id={{ colonyId }}&shipid={{ shipId }}&sstr={{ SESSIONSTRING }}">Landen</a>
            </div>
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}
{% endmacro %}

{% macro onOffToggle(action, shipId, isActive, icon, name) %}
{% if isActive %}
<a href="?B_DEACTIVATE_{{ action }}=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}"
    onmouseover="cp('{{ icon }}','buttons/{{ icon }}2');" onmouseout="cp('{{ icon }}','buttons/{{ icon }}1');">
    <img src="/assets/buttons/{{ icon }}1.png" name="{{ icon }}" /> {{ name }} deaktivieren</a>
{% else %}
<a href="?B_ACTIVATE_{{ action }}=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}"
    onmouseover="cp('{{ icon }}','buttons/{{ icon }}1');" onmouseout="cp('{{ icon }}','buttons/{{ icon }}2');">
    <img src="/assets/buttons/{{ icon }}2.png" name="{{ icon }}" /> {{ name }} aktivieren</a>
{% endif %}
{% endmacro %}

{% macro torpedoDisplay(torpedo, torpedoCount) %}
<td>
    {% if torpedo %}
    <img src="/assets/commodities/{{ torpedo.getCommodityId }}.png" />
    {{ torpedo.getName }}: {{ torpedoCount }}
    {% else %}
    <img src="/assets/buttons/torp.png" /> Torpedos: {{ torpedoCount }}
    {% endif %}
</td>
{% endmacro %}

{% macro astroStates(ship, astroStateWrapper) %}
{% set shipId = ship.getId %}
{% set target = astroStateWrapper.isSystem ? ship.getSystem : ship.getMapRegion %}
{% set shipAstroState = ship.getAstroState %}
{% if astroStateWrapper.isPlannable %}
<br />
{% if shipAstroState and target %}
<a href="?B_PLAN_ASTRO=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}" onmouseover="cp('astroButton','buttons/map2')"
    onmouseout="cp('astroButton','buttons/map1')">
    <img src="/assets/buttons/map1.png" name="astroButton" />
    <span>{{ astroStateWrapper.getType }} kartographieren</span>
</a>
<br />
{% endif %}
{% if astroStateWrapper.isSystem and (ship.isOverSystem or not shipAstroState) %}
<img src="/assets/buttons/map1.png" />
<span>{{ astroStateWrapper.getType }} nicht kartographiert</span>
{% endif %}
{% elseif astroStateWrapper.isPlanned %}
<br />
{% if ship.getAstroState %}
{% set isSystem = astroStateWrapper.isSystem ? 1 : 0 %}
<a href="javascript:void(0);" onclick="showAstroEntryWindow({{ isSystem }})"
    onmouseover="cp('astroButton','buttons/map1')" onmouseout="cp('astroButton','buttons/map2')">
    <img src="/assets/buttons/map2.png" name="astroButton" />
    <span>Messpunkte ansehen ({{ astroStateWrapper.getType }})</span>
</a>
{% else %}
<img src="/assets/buttons/map2.png" />
<span>Kartographierung ist geplant ({{ astroStateWrapper.getType }})</span>
{% endif %}
{% elseif astroStateWrapper.isMeasured %}
<br />
{% if shipAstroState and target %}
<a href="?B_START_ASTRO=1&id={{ shipId }}&sstr={{ SESSIONSTRING }}" onmouseover="cp('astroButton','buttons/map2')"
    onmouseout="cp('astroButton','buttons/map1')">
    <img src="/assets/buttons/map1.png" name="astroButton" />
    <span>Kartographierung finalisieren ({{ astroStateWrapper.getType }})</span>
</a>
{% endif %}
{% if astroStateWrapper.isSystem and (ship.isOverSystem or not shipAstroState) %}
<img src="/assets/buttons/map1.png" />
<span>Kartographierung ist geplant ({{ astroStateWrapper.getType }})</span>
{% endif %}
{% elseif astroStateWrapper.isFinishing %}
{% set turnsLeft = astroStateWrapper.getTurnsLeft %}
<br />
<img src="/assets/buttons/map1.png" />
{% if turnsLeft > 1 %}
<span>Kartographierung wird finalisiert
    (noch {{ turnsLeft }} Ticks)</span>
{% else %}
<span>Kartographierung wird finalisiert
    (noch 1 Tick)</span>
{% endif %}
{% elseif astroStateWrapper.isDone %}
<br />
<img src="/assets/buttons/map1.png" />
<span>{{ astroStateWrapper.getType }} ist kartographiert</span>
{% endif %}
{% endmacro %}


{% macro influenceArea(user) %}
{% from 'html/macros.twig' import userAvatar %}
{% from 'html/alliancemacros.twig' import alliance_avatar %}
{% set alliance = user.getAlliance %}
{% if alliance %}
<a href="alliance.php?id={{ alliance.getId }}">
    <div class="shipTerritoryView">
        {{ alliance_avatar(alliance) }}
    </div>
    {% if ship.getCurrentMapField.getAdministratedRegion %}
    <span>Einflussbereich der Allianz {{ alliance.getName|bbcode }}</span>
    {% else %}
    <span>Territorium der Allianz {{ alliance.getName|bbcode }}</span>
    {% endif %}
</a>
{% else %}
<div class="userTerritory">
    {{ userAvatar(user) }}
    <a href="userprofile.php?uid={{ user.getId }}">
        {% if ship.getCurrentMapField.getAdministratedRegion %}
        <span>Territorium des Siedlers {{ user.getName|bbcode }}</span>
        {% else %}
        <span>Einflussbereich des Siedlers {{ user.getName|bbcode }}</span>
        {% endif %}
    </a>
</div>
{% endif %}
{% endmacro %}

{% macro colonyImageAndName(shipId, currentColony, ownsCurrentColony) %}
{% set colonyClassId = currentColony.getColonyClassId %}
{% set lable = currentColony.isFree ? currentColony.getColonyClass.getName : currentColony.getName %}
{% if ownsCurrentColony %}
<a href="colony.php?SHOW_COLONY=1&id={{ currentColony.getId }}&target={{ shipId }}">
    <img src="/assets/planets/{{ colonyClassId }}.png" style="width: 15px; height: 15px;" />
    {{ lable|bbcode }}
</a>
{% else %}
<img src="/assets/planets/{{ colonyClassId }}.png" style="width: 15px; height: 15px;" />
{{ lable|bbcode }}
{% endif %}
{% endmacro %}
