{% from 'html/macros.twig' import userAvatar, userInfo, contactModeSwitcher, translationSwitcher %}

{% for conversation in CONVERSATIONS %}
{% set id = conversation.getId %}
{% set otherUser = conversation.getOtherUser %}
<div style="overflow: hidden; text-overflow: ellipsis">
    <div class="box">
        <div class="box_title" style="padding-top: 5px; padding-bottom: 5px; font-size: 110%;">
            {{ userInfo(otherUser) }}
        </div>
        <div class="box_body" style="margin: 0; padding: 0;">
            <div class="pmGridMessenger">
                <div class="knGridUser">
                    <div class="segment">
                        {% if conversation.isMarkableAsReceipt %}
                        <img src="/assets/buttons/double_checked.png" title="Nachricht gelesen" />
                        {% endif %}
                        {% set class = conversation.isMarkableAsNew ? 'negative' : '' %}
                        <span class="{{ class }}">{{ conversation.getDateString }}</span>
                    </div>
                    <div class="segment">
                        {% if otherUser.isNpc %}
                        <div>NPC</div>
                        {% endif %}
                        <div class="pmUserAvatar">
                            <a href="/userprofile.php?uid={{ otherUser.getId }}">
                                {{ userAvatar(otherUser) }}
                            </a>
                        </div>
                    </div>
                    {% if otherUser.isContactable and conversation.senderIsContact %}
                    <div class="segment">
                        <span id="contact{{ id }}">
                            {{ contactModeSwitcher(conversation.senderIsContact, 'contact' ~ id) }}
                        </span>
                    </div>
                    {% endif %}
                </div>
                <div class="knGridText" style="cursor: pointer;"
                    onclick="switchInnerContent('WRITE_PM', 'Chatverlauf', 'recipient={{ otherUser.getId }}&reply={{ id }}');">
                    <div style=" padding: 10px;">
                        <span class="translatable-content" id="message{{ id }}">
                            {% autoescape false %}
                            {{ conversation.getLastHeadline|bbcode|nl2br }}
                            {% endautoescape %}
                        </span>
                    </div>
                    {% if conversation.getHref %}
                    <div style="padding: 10px;">
                        <a href="{{ conversation.getHref }}&sstr={{ SESSIONSTRING }}" title="ansehen"
                            onmouseover="cp('forward{{ id }}','buttons/lupe2', 'png');"
                            onmouseout="cp('forward{{ id }}','buttons/lupe1', 'png');">
                            <img src="/assets/buttons/lupe1.png" style="height: 24px;" name="forward{{ id }}" />
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
{% endfor %}
