{% from 'html/macros.twig' import userAvatar, userInfo, pmWindow, userProfile %}

{% extends "html/npcdefaults.twig" %}

{% block body %}
{% include 'html/breadcrumb.twig' %}
<script src="{{ JAVASCRIPTPATH }}/js/ally.js"></script>
<script src="{{ JAVASCRIPTPATH }}/js/npc.js"></script>
<div class="userList">
    {% for listEntry in LIST %}
    {% set user = listEntry.getUser %}
    {% set userId = user.getId %}
    <div class="userListItem" style="width: 100% !important; max-width: 100% !important;">
        <div style="display: grid; grid-template-columns: 300px 1fr 1fr; width: 100%;">
            <div>
                <div style="display: flex; flex-direction: row;">
                    <div style="margin-right: 10px;">
                        {{ userAvatar(user) }}
                    </div>
                    <div>
                        <div class="userListItemName">
                            {{ userInfo(user) }}
                        </div>
                        <div class="userListItemAllianceName">
                            {% set alliance = user.getAlliance %}
                            {% if alliance %}
                            <a href="/alliance.php?id={{ alliance.getId }}">{{ alliance.getName|bbcode }}</a>
                            {% else %}
                            <span>-</span>
                            {% endif %}
                        </div>
                        <div class="userListItemButtons">
                            <img src="/assets/rassen/{{ user.getFactionId }}s.png" />
                            {{ userProfile(userId) }}
                            {{ pmWindow(USER, userId) }}
                        </div>
                        <div class="userBoxDetailAddendum">
                            <div>
                                Spielt seit: {{ user.getRegistration.getCreationDate|date('d.m.Y H:i') }}
                            </div>
                            <div class="player-details-form" id="detailsForm-{{ userId }}">
                                <div style="margin: 10px 0;">
                                    <label for="reason-{{ userId }}">Grund für Einsicht:</label>
                                    <input type="text" id="reason-{{ userId }}" name="reason" size="20" required>
                                    <input type="button" class="button" value="Details laden"
                                        onclick="loadPlayerDetails({{ userId }})"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="playerDetailsInfo-{{ userId }}" style="padding-left: 58px; display: none;"></div>
            </div>
            <div id="playerColonies-{{ userId }}" style="display: none;"></div>
            <div id="playerShips-{{ userId }}" style="display: none; width: 1000px"></div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}