{% extends "html/npcdefaults.twig" %}

{% block body %}
{% include 'html/breadcrumb.twig' %}

<div>
{% if not USER_ID %}
    <h2>Spieler auswählen</h2>
    {% for user in ALL_USERS %}
        <div><a href="?SHOW_SHIP_CREATOR=1&userId={{ user.getId }}">{{ user.getName|bbcode }} ({{ user.getId }})</a></div>
    {% endfor %}
{% else %}
    <h2>Schiff erstellen für {{ SELECTED_USER.getName|bbcode }} ({{SELECTED_USER.getId}})</h2>
    <form action="/npc/index.php" method="post">
        <input type="hidden" name="userId" value="{{ USER_ID }}">
        
        <div class="buildplan-selection">
            <h3>Bauplan auswählen</h3>
            {% for buildplan in BUILDPLANS %}
                <div>
                    <input type="radio" name="buildplanId" value="{{ buildplan.getId }}" />
                    {{ buildplan.getName }}
                </div>
            {% endfor %}
        </div>

        <div style="margin: 10px 0;">
            <label for="layer">Layer:</label>
        <select name="layer" id="layer">
            {% for layer in LAYERS %}
                <option value="{{ layer.getId }}" {% if layer.getId == 2 %}selected{% endif %}>{{ layer.getName }}</option>
            {% endfor %}
        </select>
        </div>

        <div style="margin: 10px 0;">
            <label for="cx">X-Koordinate:</label>
            <input type="number" id="cx" name="cx" required>
            
            <label for="cy">Y-Koordinate:</label>
            <input type="number" id="cy" name="cy" required>
        </div>

        <div style="margin: 10px 0;">
            <label for="shipcount">Anzahl Schiffe:</label>
            <input type="number" id="shipcount" name="shipcount" value="1" min="1">
        </div>

        <div style="margin: 10px 0;">
            <label for="reason">Grund:</label>
            <input type="text" id="reason" name="reason" size="20">
        </div>

        <input type="submit" name="B_CREATE_SHIP" value="Schiff(e) erstellen" />
    </form>
{% endif %}
</div>
{% endblock %}
