{% extends "html/npcdefaults.twig" %}

{% block body %}
{% include 'html/breadcrumb.twig' %}
<form action="/npc/index.php" method="post" name="toolsform" id="toolsform">
    <input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
    <div>
        <h2>Waren Tool</h2>
        Spacecraft ID: <input type="text" size="5" name="spacecraftid" id="spacecraftid" />
        Kolonie ID: <input type="text" size="5" name="colonyid" id="colonyid" />
        Ware: <select name="commodityid" id="commoditySelect" style="width:10%;">
            <option value="0">----------------------</option>
            {% for data in SELECTABLE_COMMODITIES %}
            {% if COMMODITY_ID == data.getId %}
            <option value="{{ data.getId }}" selected="1">
                {{ data.getName }}
            </option>
            {% else %}
            <option value="{{ data.getId }}">
                {{ data.getName }}
            </option>
            {% endif %}
            {% endfor %}
        </select>
        Anzahl: <input type="text" size="5" name="amount" id="amount" />
        Grund: <input type="text" size="20" name="reason" id="reason" />
        <input type="submit" class="button" name="B_COMMODITY_CHEAT" value="Ware ercheaten" id="commoditycheatbutton" />
    </div>
</form>

<div style="margin-top: 20px;">
    <h2>History Tools</h2>
    <br>
    <form action="/npc/index.php" method="post" name="toolsform" id="toolsform">
        <input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
        <div>
            <h2>History Eintrag erstellen</h2>
            Text: <input type="text" size="100" name="historytext" id="historytext" />
            <br>
            <br>
            Kategorie: <select name="historytype" id="historyTypeSelect" style="width:10%;">
                {% for type in HISTORY_TYPES %}
                <option value="{{ type.id }}">
                    {{ type.name }}
                </option>
                {% endfor %}
            </select>
            <br>
            <br>
            Grund: <input type="text" size="20" name="reason" id="reason" />
            <br>
            <br>
            X: <input type="text" size="5" name="x" id="x" />
            Y: <input type="text" size="5" name="y" id="y" />
            Layer: <select name="layer" id="layerSelect" style="width:10%;">
                {% for layer in LAYERS %}
                {% if loop.first %}
                <option value="{{ layer.getId }}" selected="1">{{ layer.getName }}</option>
                {% else %}
                <option value="{{ layer.getId }}">{{ layer.getName }}</option>
                {% endif %}
                {% endfor %}
            </select> (Nicht zwingend nötig, aber wünschenswert (Nur Warp-Map Koordinaten angeben))
            <br>
            <br>
            <input type="submit" class="button" name="B_CREATE_HISTORY_ENTRY" value="History Eintrag erstellen"
                id="createhistorybutton" />
        </div>
    </form>
    <br>
</div>

<div style="margin-top: 20px;">
    <h2>Schiff Tools</h2>
    <br>
    <form action="/npc/index.php" method="post" name="toolsform" id="toolsform">
        <input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
        <div>
            <h2>Schiffe löschen</h2>
            Spacecraft IDs: <input type="text" size="20" name="spacecraftid" id="spacecraftid" />
            Grund: <input type="text" size="20" name="reason" id="reason" />
            <input type="submit" class="button" name="B_DELETE_SPACECRAFT" value="Schiff(e) löschen"
                id="deleteshipbutton" />
            (Trennung mit Komma ermöglicht löschen mehrerer Spacecrafts)
        </div>
    </form>
    <br>
    <form action="/npc/index.php" method="get" style="display: inline;">
        <input type="hidden" name="SHOW_BUILDPLAN_CREATOR" value="1">
        <input type="submit" class="button" value="Bauplan erstellen">
    </form>
    <br>
    <br>
    <form action="/npc/index.php" method="get" style="display: inline;">
        <input type="hidden" name="SHOW_SHIP_CREATOR" value="1">
        <input type="submit" class="button" value="Schiff erstellen">
    </form>
</div>



{% endblock %}
