{# needs following variables: HEAD_ROW, MAP_FIELDS) #}
{% from 'html/executeJavascript.twig' import executeJs %}

{{ executeJs(EXECUTEJSAJAXUPDATE) }}
<table id="starmapsectiontable" class="use">
    <tr>
        <th>x|y</th>
        {% for head in HEAD_ROW %}
        <th>{{ head }}</th>
        {% endfor %}
    </tr>
    {% for yrow in MAP_FIELDS %}
    <tr>
        <th>{{ yrow.getRow }}</th>
        {% for data in yrow.getFields %}
        <td class="starmap" style="{{ data.getBorderStyle }}" id="{{ data.getCx }}_{{ data.getCy }}">
            <div title="{{ data.getTitle }}" onmouseover="updateTelescopeEnergy({{ data.getCx }}, {{ data.getCy }});"
                onclick="showTelescopeScan(this, {{ data.getCx }}, {{ data.getCy }});" class="starmapInner"
                style="cursor: auto ! important;">
                <img src="/assets/map/{{ data.getFieldImagePath }}" class="starmapFieldImage" width="28" height="28"
                    loading="lazy" decoding="async" alt="" draggable="false" />
                {% if data.getIcon %}
                <img src="/assets/map/{{ data.getIcon }}.png" class="starmapIconImage" width="28" height="28"
                    loading="lazy" decoding="async" alt="" draggable="false" />
                {% endif %}
            </div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
