{# needs following variables: HEAD_ROW, MAP_FIELDS) #}
{% include 'html/executeJavascriptAjaxUpdate.twig' %}
<table id="starmapsectiontable" class="use">
    <tr>
        <th>x|y</th>
        {% for head in HEAD_ROW %}
        <th>{{ head }}</th>
        {% endfor %}
    </tr>
    {% for yrow in MAP_FIELDS %}
    <tr>
        <th>{{ yrow.getRow }}</th>
        {% for data in yrow.getFields %}
        <td class="starmap" style="{{ data.getFieldStyle }}" id="{{ data.getCx }}_{{ data.getCy }}">
            <div title="{{ data.getTitle }}" onmouseover="updateTelescopeEnergy({{ data.getCx }}, {{ data.getCy }});"
                onclick="showTelescopeScan({{ data.getCx }}, {{ data.getCy }});" class="starmapInner"
                style="cursor: auto ! important;">
                {% if data.getIcon %}
                <img src="/assets/map/{{ data.getIcon }}.png" style=" height: 28px; width: 28px;" />
                {% else %}
                &nbsp;
                {% endif %}
            </div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
