<table class="tcal">
    {% set rump = SELECTOR.getRump %}
    {% set type = SELECTOR.getModuleType.value %}
    {% set allowMultiple = SELECTOR.allowMultiple %}
    <input type="hidden" name="module_level_{{ type }}" value="{{ SELECTOR.getModuleTypeLevel }}" />
    {% if SELECTOR.getAvailableModules %}
    <tr>
        {% set colspan = allowMultiple ? 2 : 3 %}
        <th colspan="{{ colspan }}">Modulbezeichnung</th>
        <th>benötigte Crew</th>
        <th>lagernd</th>
        <th>Auswirkungen</th>
    </tr>
    {% if SELECTOR.allowEmptySlot %}
    <tr>
        <td></td>
        {% set colspan = allowMultiple ? 4 : 5 %}
        <td colspan="{{ colspan }}">
            <input type="radio" name="mod_{{ type }}[]" value="0" onchange="replaceTabImage({{ type }}, 0);" />
            <span>Keine Auswahl</span>
        </td>
    </tr>
    {% endif %}
    {% for moduleSelectorEntry in SELECTOR.getAvailableModules %}
    {% set module = moduleSelectorEntry.getModule %}
    {% set moduleId = module.getId %}
    {% set commodityId = module.getCommodityId %}
    {% set checked = moduleSelectorEntry.isChosen ? 'checked="true"' : '' %}
    <tr>
        {% if not allowMultiple %}
        <td style="width: 3px;" class="{{ moduleSelectorEntry.getModuleLevelClass }}"></td>
        {% endif %}
        <td style="width: 50px;">
            {% if allowMultiple %}
            <input class="specialModuleRadio" type="checkbox" {{ checked }} name="mod_{{ type }}[]"
                value="{{ moduleId }}"
                onchange="toggleSpecialModuleDisplay({{ type }}, {{ moduleId }}, {{ module.getCrew }}, {{ moduleSelectorEntry.getStoredAmount }});" />
            {% else %}
            <input type="radio" {{ checked }} name="mod_{{ type }}[]" value="{{ moduleId }}"
                onchange="replaceTabImage({{ type }}, {{ moduleId }}, {{ commodityId }}, {{ moduleSelectorEntry.getNeededCrew }}, {{ moduleSelectorEntry.getStoredAmount }});" />
            {% endif %}
            <img src="assets/commodities/{{ commodityId }}.png" />
        </td>
        <td style="width: 300px;">{{ module.getName }}</td>
        <td style="width: 30px; text-align: center;">{{ moduleSelectorEntry.getNeededCrew }}</td>
        <td style="width: 30px; text-align: center;">
            {{ moduleSelectorEntry.getStoredAmount }}
        </td>
        <td id="{{ moduleId }}_content">
            {% include 'html/ship/construction/moduleSelector/stats/stats_type_' ~ type ~ '.twig' %}
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td>Keine Module dieses Typs installierbar</td>
    </tr>
    {% endif %}
</table>
