{% from 'html/shipmacros.twig' import spacecraftImageWithoutWarp %}
{% from 'html/macros.twig' import onClickSpacecraft %}

<td colspan="2" style="text-align: center;">
</td>
{% if ship.isSelectable %}
<td style="width: 200px; background-color: #000000 !important;">
  <a {{ onClickSpacecraft(ship) }}>
    {{ spacecraftImageWithoutWarp(ship) }}
  </a>
</td>
<td></td>
<td>
  <a {{ onClickSpacecraft(ship) }}> {{ ship.getName|bbcode }}</a>
</td>
{% else %}
<td style="width: 200px; background-color: #000000 !important;">
  {{ spacecraftImageWithoutWarp(ship) }}
</td>
<td></td>
<td>
  {{ ship.getName|bbcode }}
</td>
{% endif %}
{% if ship.isTrumfield %}
<td style="width: 160px;">{{ ship.getHull }}</td>
<td>
  {{ ship.getUserName|bbcode }}
</td>
{% else %}
<td style="width: 160px;">
  {{ ship.getHull }}/{{ ship.getMaxHull }}
  {% if ship.isShielded %}
  (<span class="activeshield">{{ ship.getShield }}</span>)
  {% endif %}
</td>
<td>
  {% if WRAPPER.isSelectable %}
  {% set toType = ship.isStation ? 4 : 2 %}
  <a href="javascript:void(0);" onclick="openPmWindow({{ WRAPPER.get.getId }}, {{ ship.getId }}, 4, {{ toType }});"
    title="Nachricht an {{ ship.getUserName|bbcode2txt }} verfassen"
    onmouseover="cp('nbsPm{{ ship.getId }}','buttons/msg2')" onmouseout="cp('nbsPm{{ ship.getId }}','buttons/msg1')">
    <img src="/assets/buttons/msg1.png" name="nbsPm{{ ship.getId }}" />
  </a>
  {% endif %}
  {{ ship.getUserName|bbcode }} ({{ ship.getUserId }})
</td>
{% endif %}
