{% set SHIP = WRAPPER.get %}
{% set condition = SHIP.getCondition %}
{% set hull = WRAPPER.getHullSystemData %}
{% set shields = WRAPPER.getShieldSystemData %}
{% set eps = WRAPPER.getEpsSystemData %}
{% if SHIP.hasComputer %}
{% set computer = WRAPPER.getComputerSystemDataMandatory %}
{% endif %}
{% set lss = WRAPPER.getLssSystemData %}
{% set energyWeapon = WRAPPER.getEnergyWeaponSystemData %}
{% set reactor = WRAPPER.getReactorWrapper %}
{% set launcher = WRAPPER.getProjectileLauncherSystemData %}
<br />
<div style="width: 100%">
    <div style="width: 33%; float: left;">
        <table class="tcal">
            <tr>
                <th style="width: 20px; text-align: center;">
                    <img src="assets/buttons/modul_1.png" />
                </th>
                <td style="vertical-align: middle; text-align: center;">
                    {% autoescape false %}
                    {{ hull.getHullStatusBarBig }}
                    {% endautoescape %}
                </td>
                <td style="text-align: center; width: 60px;">
                    {{ condition.getHull }}
                </td>
            </tr>
        </table>
    </div>
    <div style="width: 33%; float: left;">
        {% if shields %}
        <table class="tcal">
            <tr>
                <th style="width: 20px; text-align: center;">
                    <img src="assets/buttons/modul_2.png" />
                </th>
                <td style="text-align: center; vertical-align: middle;">
                    {% autoescape false %}
                    {{ shields.getShieldStatusBarBig }}
                    {% endautoescape %}
                </td>
                <td style="text-align: center; width: 60px;">
                    {{ condition.getShield }}
                </td>
            </tr>
        </table>
        {% endif %}
    </div>
    <div style="width: 33%; float: left;">
        {% if eps %}
        <table class="tcal">
            <tr>
                <th style="text-align: center; width: 20px;">
                    <img src="assets/buttons/modul_8.png" />
                </th>
                <td style="vertical-align: middle; text-align: center;">
                    {% autoescape false %}
                    {{ eps.getEpsStatusBarBig }}
                    {% endautoescape %}
                </td>
                <td style="text-align: center; width: 60px;">
                    {{ eps.getEps }}
                </td>
            </tr>
        </table>
        {% endif %}
    </div>
</div>
<br style="clear: both;" />
<br />
<div style="display: grid; grid-template-columns: 49% 49%; grid-column-gap: 2%">
    <div>
        <table class="tcal">
            <tr>
                <th colspan="4">Crew</th>
            </tr>
            <tr>
                <td colspan="3" class="darkbg">Minimal-Crew</td>
                <td class="darkbg">
                    {% if SHIP.getBuildplan %}
                    {{ SHIP.getBuildplan.getCrew }}
                    {% else %}
                    <span>kA</span>
                    {% endif %}
                </td>
            </tr>
            {% if WRAPPER.get.hasUplink %}
            <tr>
                <td colspan="3" class="darkbg">Belegte Uplinkplätze</td>
                <td class="darkbg">
                    {{ FOREIGNER_COUNT }} / {{ MAX_FOREIGNERS }}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td class="darkbg"></td>
                <td class="darkbg"><strong>Position</strong></td>
                <td class="darkbg"><strong>Name</strong></td>
                <td class="darkbg"><strong>Rang</strong></td>
            </tr>
            {% for data in SHIP.getCrewAssignments %}
            {% set crew = data.getCrew %}
            {% set crewId = crew.getId %}
            <tr>
                <td>
                    <img
                        src="assets/crew/{{ crew.getRace.getGfxPath }}/{{ crew.getGenderShort }}/1_{{ crew.getType }}.png" />
                    {% if data.getCrew.getUser != SHIP.getUser %}
                    <span style="vertical-align: top; color:red; cursor: default;"
                        title="von {{ data.getCrew.getUser.getName|bbcode2txt }}">*</span>
                    <a href="?B_DUMP_CREWMAN=1&id={{ SHIP.getId }}&scid={{ crewId }}&sstr={{ SESSIONSTRING }}"
                        onmouseover="cp('dump_{{ crewId }}','buttons/x2')"
                        onmouseout="cp('dump_{{ crewId }}','buttons/x1')">
                        <img src="/assets/buttons/x2.png" name="dump_{{ crewId }}" title="Crewman entfernen" />
                    </a>
                    {% endif %}
                </td>
                <td>
                    <div>{{ data.getPosition }}</div>
                </td>
                <td style="vertical-align: middle;">
                    {% set CREW = crew %}
                    {% include 'html/ship/crew/crewSlot.twig' %}
                </td>
                <td>
                    <div>{{ data.getCrew.getTypeDescription }}</div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <div class="divhead">Informationen</div>
        <div class="divbody">
            <span>Ersatzbatterie: </span>
            {% if eps %}
            <span>{{ eps.getMaxBattery }}</span>
            {% endif %}
            <br />
            <span>Trefferchance (eff.): {{ computer.getHitChance }}%</span><br />
            <span>Ausweichchance (eff.): {{ computer.getEvadeChance }}%</span><br />
            <span>Schildregeneration: {{ WRAPPER.getShieldRegenerationRate }}</span><br />
            {% if reactor %}
            <span>Reaktorleistung: {{ reactor.get.getTheoreticalReactorOutput }}</span><br />
            {% endif %}
            {% if lss %}
            <span>Sensorreichweite: {{ lss.getSensorRange }}</span><br />
            {% endif %}
            {% if SHIP.canMove %}
            <span>Flugkosten: {{ SHIP.getRump.getFlightEcost }}</span><br />
            {% endif %}
            <span>Beamfaktor: {{ SHIP.getRump.getBeamFactor }}</span><br />
            <span>Raumschiffmasse: {{ SHIP.getRump.getTractorMass|numberWithThousandSeperator }}</span><br />
            <span>Traktortraglast: {{ TRACTOR_PAYLOAD|numberWithThousandSeperator }}</span><br />
            <span>Energiewaffensalven: {{ SHIP.getRump.getPhaserVolleys }}</span><br />
            {% if energyWeapon %}
            <span>Energiewaffenbasisschaden: {{ energyWeapon.getBaseDamage }}</span><br />
            {% endif %}
            <span>Torpedolevel: {{ SHIP.getRump.getTorpedoLevel }}</span><br />
            <span>Torpedosalven: {{ SHIP.getRump.getTorpedoVolleys }}</span><br />
            {% if launcher %}
            <span>Schilddurchdringung: {{ launcher.getShieldPenetration / 100}}%</span><br />
            {% endif %}
            {% if SHIP.getTorpedo %}
            <span>Torpedobasisschaden: {{ SHIP.getTorpedo.getBaseDamage }}</span><br />
            {% endif %}
            <span>Torpedokapazität: {{ SHIP.getMaxTorpedos }}</span><br />
            {% if SHIP.isStation %}
            <span>Dockplätze: {{ SHIP.getRump.getDockingSlots }}</span><br />
            {% endif %}
        </div>
        <br />
        <div class="divhead">Systemstatus</div>
        <div class="divbody">
            {% for data in SHIP.getSystems %}
            <div>
                <img style="vertical-align: middle" title="{{ data.getName }}" class="{{ data.getCssClass }}"
                    src="assets/system/{{ data.getSystemType.value }}.png" />
                {{ data.getName }}: {{ data.getStatus }}%
            </div>
            {% endfor %}
        </div>
    </div>
</div>