{% if SHOW_ALLIANCE %}
{% from 'html/macros.twig' import translationSwitcher, userAvatar, pmWindow %}
<div class="allianceDetail">
  <div>
    <h1>{{ ALLIANCE.getName|bbcode }}</h1>
    <div class="allianceActions">
      <div>
        <a href="alliance.php?showlist=1" class="linkbutton">Allianzliste</a>
        {% if IS_IN_ALLIANCE %}
        <a href="alliance.php?SHOW_BOARDS=1" class="linkbutton">Forum</a>
        {% if hasAlliancePermission([4,5]) %}
        <a href="alliance.php?SHOW_RELATIONS=1" class="linkbutton">Diplomatie</a>
        {% endif %}
        {% if hasAlliancePermission(7) %}
        <a href="javascript:void(0);" onclick="switchInnerContent('EDIT_ALLIANCE', 'Allianz editieren');"
          class="linkbutton">Editieren</a>
        {% endif %}
        {% if hasAlliancePermission(8) %}
        <a href="alliance.php?SHOW_APPLICATIONS=1" class="linkbutton">Bewerbungen anzeigen</a>
        {% endif %}
        {% if hasAlliancePermission([9,10,11,12,13]) %}
        <a href="alliance.php?SHOW_MANAGEMENT=1" class="linkbutton">Verwaltung</a>
        {% endif %}
        {% endif %}
        {{ translationSwitcher(ALLIANCE.hasTranslation, 'allianceDescription', 'Allianzbeschreibung übersetzen') }}
      </div>
      <div class="allianceActionsJoinLeave">
        {% if CAN_LEAVE_ALLIANCE %}
        <a href="alliance.php?B_LEAVE_ALLIANCE=1&sstr={{ SESSIONSTRING }}" class="linkbutton negative">Allianz
          verlassen</a>
        {% endif %}
        {% if CAN_SIGNUP %}
        <a href="alliance.php?B_SIGNUP_ALLIANCE=1&id={{ ALLIANCE.getId }}&sstr={{ SESSIONSTRING }}"
          class="linkbutton positive">Bewerben</a>
        {% endif %}
      </div>
    </div>
    {% if DESCRIPTION %}
    <div class="allianceDescription translatable-content" id="allianceDescription" style="overflow-wrap: break-word;">
      {% autoescape false %}
      {{ DESCRIPTION|nl2br }}
      {% endautoescape %}</div>
    {% else %}
    <div class="allianceDescriptionMissing">Keine Allianz-Beschreibung hinterlegt
    </div>
    {% endif %}
  </div>
  <div>
    <div class="allianceHeader">Leitung</div>
    <div class="allianceLead">
      {% for job in ALLIANCE_LEADERSHIP_JOBS %}
      {% for user in job.getUsers %}
      {% if job.hasFounderPermission %}
      <div class="allianceMinister alliancePresident" style="margin-bottom: 10px;">
        {{ userAvatar(user) }}
        <div class="namePresident">{{ user.getName|bbcode }}</div>
        <div class="jobDescription">{{ job.getTitle }}</div>
      </div>
      {% else %}
      <div class="allianceMinister" style="margin-bottom: 10px;">
        {{ userAvatar(user) }}
        <div class="name">{{ user.getName|bbcode }}</div>
        <div class="jobDescription">{{ job.getTitle }}</div>
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
    <div class="allianceHeader">Mitglieder</div>
    <div class="allianceMemberList">
      {% for data in MEMBERS %}
      <div class="allianceMember">
        {{ userAvatar(data.wrapper.getUser) }}
        <div>
          <div>{{ data.wrapper.getUser.getName|bbcode }}</div>
          {% if data.jobs|length > 0 %}
          <div style="font-size: 85%; margin-top: 2px;">
            {{ data.jobs|join(', ') }}
          </div>
          {% endif %}
        </div>
        <div class="allianceMemberButtons" id="{{ data.wrapper.getUserId }}">
          {{ pmWindow(USER, data.wrapper.getUser.getId) }}
          <img src="assets/rassen/{{ data.wrapper.getUser.getFactionId }}s.png" />
        </div>
        {% if IS_IN_ALLIANCE %}
        <div class="{{ data.wrapper.getOnlineStateCssClass }}"> </div>
        {% else %}
        <div> </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% if ALLIANCE_RELATIONS %}
    <div class="allianceRelationList">
      <div class="allianceHeader">Diplomatische Beziehungen</div>
      {% for wrapper in ALLIANCE_RELATIONS %}
      <div class="allianceRelation">
        <div class="allianceRelationImage"><img
            src="/assets/alliance/relation_types/{{ wrapper.getType.getImage }}.png" />
        </div>
        <div class="allianceRelationOpponentName">{{ wrapper.getDescription|bbcode }}</div>
        <div class="allianceRelationDate">
          seit {{ wrapper.getDate|stuDate }}
          {% if wrapper.hasText %}
          <div style="margin-top: 5px;">
            <a href="javascript:void(0);" onclick="showRelationText({{ wrapper.getId }});" class="linkbutton"
              style="font-size: 85%;">Vertragswerk</a>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="allianceHeader">Info</div>
    <div>
      Gegründet: {{ ALLIANCE.getDate|stuDate }}
    </div>
  </div>
</div>
{% endif %}
{% include 'html/alliance/allianceList.twig' %}