{% from 'html/macros.twig' import onClickColony %}

{% if COLONY_LIST %}

<table id="colonylist" class="tcal">
	<tr>
		<th id="headlinecolonyimage" style="width: 120px;"></th>
		<th id="headlinecolonyname">Name</th>
		<th id="headlinecolonysignature">Signaturen</th>
		<th id="headlinecolonycrew" title="aktuell/maximal (in Ausbildung)">Crewman
			<img src="assets/buttons/info2.png" style="height:16px;" />
		</th>
		<th id="headlinecolonypopulation" title="aktuell/maximal (Zuwanderung)">Bevölkerung
			<img src="assets/buttons/info2.png" style="height:16px;" />
		</th>
		<th id="headlinecolonyenergy">Energie</th>
		<th id="headlinecolonystorage">Lager</th>
	</tr>
	{% for colony in COLONY_LIST %}
	{% set colonyId = colony.getId %}
	<tr class="row">
		<td id="colonyimage" style="text-align: center;">
			<a {{ onClickColony(colony) }}>
				{% include 'html/colony/component/colonyImageBase.twig' %}
			</a>
		</td>
		<td id="colonyname" style="vertical-align: middle;">
			{% set system = colony.getSystem %}
			<a {{ onClickColony(colony) }} style="font-size: 120%">
				{% if colony.isBlocked %}
				<img src="assets/buttons/block2.png" title="Kolonie wird blockiert" style="height: 20px;" /><span>
				</span>
				{% endif %}
				{% if colony.isDefended %}
				<img src="assets/buttons/defend1.png" title="Kolonie wird verteidigt" style="height: 20px;" /><span>
				</span>
				{% endif %}
				{{ colony.getName|bbcode }}
			</a>
			<div>
				<img src="assets/map/systemtypes/{{ system.getSystemType.getId }}.png"
					title="{{ system.getSystemType.getDescription }}" style="width: 15px; height: 15px;" />
				{{ colony.getSX }}|{{ colony.getSY }}
				({{ system.getName }}-System {{ system.getCx }}|{{ system.getCy }})
			</div>
		</td>
		<td id="colonysignature" style="vertical-align: middle;">
			{% if colony.getSignatureCount != 0 %}
			<a href="javascript:void(0);" onclick="showColonySectorScanWindow({{ colonyId }});">
				{{ colony.getSignatureCount }}
			</a>
			{% else %}
			<span>0</span>
			{% endif %}
		</td>
		<td id="colonycrew" style="vertical-align: middle;">{{ colony.getCrewAssignmentAmount }}/<span
				style="{{ colony.getCrewLimitStyle }}">{{ colony.getCrewLimit }}</span>
			({{ colony.getCrewTrainingAmount }})</td>
		<td id="colonypopulation" style="vertical-align: middle;">
			<img src="assets/bev/bev_used_5_{{ USER.getFactionId }}.png" />
			{{ colony.getPopulation }}/{{ colony.getHousing }} ({{ colony.getImmigration }})
		</td>
		<td id="colonyenergy" style="vertical-align: middle;">
			{% autoescape false %}
			{{ colony.getEpsStatusBar }}
			{% endautoescape %}
			{{ colony.getEps }}/{{ colony.getMaxEps }} ({{ colony.getEnergyProduction|addPlusCharacter }})
		</td>
		<td id="colonystorage" style="vertical-align: middle;">
			{% autoescape false %}
			{{ colony.getStorageStatusBar }}
			{% endautoescape %}
			{{ colony.getStorageSum }}/{{ colony.getMaxStorage }}
			({{ colony.getProductionSum|addPlusCharacter }})<br />
			{% for stor in colony.getCommodityUseView %}
			<div>
				<img src="assets/commodities/{{ stor.commodity.getId }}.png" title="{{ stor.commodity.getName }}" />
				<span style="color: #FF0000;">{{ stor.production }}</span> ({{ stor.turnsleft }} Runden)
			</div>
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
</table>
<br />
<div style="float: left; width: 49%;">
	<div style="float: left; margin-bottom: 10px; width: 100%;">
		{% if BUILDINGJOB_LIST %}
		<div id="buildinglist">
			<table class="tcal">
				<tr>
					<th colspan="5">Aktuelle Bauvorgänge</th>
				</tr>
				{% for data in BUILDINGJOB_LIST %}
				{% set colony = data.getHost %}
				<tr>
					<td style="width: 45px; text-align: center;vertical-align: middle">
						<a {{ onClickColony(colony) }}>
							{% include 'html/colony/component/colonyImageBase.twig' %}
						</a>
					</td>
					<td style="width: 45px; text-align:center;">
						<img src="assets/generated/buildings/{{ data.getBuildingId }}/0at.png" />
					</td>
					<td style="vertical-align: middle">
						{{ data.getBuilding.getName }} - Fertigstellung:
						{{ data.getBuildtime|stuDateTime }}
						</br>
						{% if data.getActivateAfterBuild %}
						<span style="color: #4fc202; font-size:80%;">Wird nach dem Bau aktiviert</span>
						{% else %}
						<span style="color: #ce0000; font-size:80%;">Wird nach dem Bau deaktiviert</span>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% endif %}
	</div>
	<div style="float: top; width: 100%;">
		{% if TERRAFORMING_LIST %}
		<div id="terraforminglist">
			<table class="tcal">
				<tr>
					<th colspan="5">Aktuelle Terraformingvorgänge</th>
				</tr>
				{% for data in TERRAFORMING_LIST %}
				{% set terraforming = data.getTerraforming %}
				<tr>
					<td style="width: 45px; text-align: center;vertical-align: middle">
						<img src="assets/planets/{{ data.getColony.getColonyClassId }}.png"
							title="{{ data.getColony.getName|bbcode2txt }}" />
					</td>
					<td style="width: 45px; text-align:center;">
						<img src="assets/generated/fields/{{ terraforming.getFromFieldTypeId }}.png" />
					</td>
					<td style="vertical-align: middle; width: 40px; text-align: center;">=&gt;</td>
					<td style="width: 45px; text-align:center;">
						<img src="assets/generated/fields/{{ terraforming.getToFieldTypeId }}.png" />
					</td>
					<td style="vertical-align: middle">
						{{ terraforming.getDescription }} -
						Fertigstellung: {{ data.getFinishDate|stuDateTime }}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% endif %}
	</div>
</div>
<div style="float: right; margin-left: 10px; width: 30%;">
	{% if PRODUCTION_LIST %}
	<div id="productionlist">
		<table class="tcal">
			<tr>
				<th>Ware</th>
				<th>Gesamtproduktion</th>
			</tr>
			{% for prod in PRODUCTION_LIST %}
			<tr class="row">
				<td style="vertical-align: middle;">
					<div style="display: table-cell; width: 55px;">
						<img src="assets/commodities/{{ prod.commodity_id }}.png" title="{{ prod.commodity_name }}" />
					</div>
					<div style="display: table-cell; vertical-align: middle">{{ prod.commodity_name }}
					</div>
				</td>
				<td style="vertical-align: middle; text-align: center;">
					{% autoescape false %}
					{{ prod.amount|formatProductionValue }}
					{% endautoescape %}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}
</div>
<div style="float: right; width: 20%;">
	{% if MODULE_LIST %}
	<div id="modulelist">
		<table class="tcal" style="text-align: center;">
			<tr>
				<th colspan="3">Modulproduktion</th>
			</tr>
			<tr>
				<th>Modul</th>
				<th>Ort</th>
				<th>Menge</th>
			</tr>
			{% for mod in MODULE_LIST %}
			<tr class="row">
				<td style="vertical-align: middle;">
					<img src="assets/commodities/{{ mod.getModule.getCommodityId }}.png"
						title="{{ mod.getModule.getCommodity.getName }}" />
				</td>
				<td style="vertical-align: middle;">
					{% set colony = mod.getColony %}
					<a {{ onClickColony(colony) }}>
						{% include 'html/colony/component/colonyImageBase.twig' %}
					</a>
				</td>
				<td style="vertical-align: middle;">
					{{ mod.getAmount }}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}

</div>
{% if isFeatureGranted(USER.getId, 'COLONY_SANDBOX') %}
<div style="text-align: center; margin-top: 10px; width: 200px" class="fabutton">
	<a href="javascript:void(0);" onclick="switchInnerContent('SHOW_COLONY_SANDBOX', 'Kolonie-Sandbox');"
		class="fabutton">
		Kolonie Sandbox öffnen</a>
</div>
</br>
{% endif %}
{% else %}
<table id="nocolony">
	<tr>
		<th>Meldung</th>
	</tr>
	<tr>
		<td>Du besitzt derzeit keine Kolonien</td>
	</tr>
</table>
{% endif %}