<div style="width: 75%; float: left; margin-right: 1%">
  {% set navigationMacro = 'knNavigation' %}
  {% include 'html/communication/kn.twig' %}
</div>
<div style="width: 24%; float: left">
  {% if KN_START %}
  <div class="box">
    <div class="box_title">Kommunikations-Netzwerk</div>
    <div class="box_body">
      <a href="javascript:void(0);" onclick="switchInnerContent('WRITE_KN', 'Beitrag schreiben');"
        onmouseover="cp('writekn','buttons/knedit2', 'png')" onmouseout="cp('writekn','buttons/knedit1', 'png')">
        <img src="/assets/buttons/knedit1.png" title="+ Beitrag" name="writekn" />
        Beitrag schreiben
      </a>
      <br /><br />
      <strong>Übersicht</strong><br />
      <ul>
        {% if HAS_NEW_KN_POSTINGS %}
        <li>
          <span style="color: #cecece">></span> <a href="?user_mark=1">Neue Beiträge ab
            Lesezeichen:</a> {{ NEW_KN_POSTING_COUNT }}
        </li>
        {% endif %}
        <li>
          <span style="color: #cecece">></span> <a href="?">Alle Beiträge</a> (<a
            href="?mark={{ KN_START }}">aufsteigend</a>)
        </li>
      </ul>
      <div class="seperator"> </div>
      <ul>
        <li>
          <strong>RPG Plots</strong>
        </li>
        <li>
          <span style="color: #cecece">></span> <a href="?SHOW_MYPLOTS=1">Liste meiner
            Plots</a>
        </li>
        <li>
          <span style="color: #cecece">></span> <a href="?SHOW_PLOTLIST=1">Liste aller
            Plots</a>
        </li>
        <li>
          <span style="color: #cecece">></span> <a href="?SHOW_CREATE_PLOT=1">Neuen
            Plot erstellen</a>
        </li>
      </ul>
    </div>
  </div>
  {% endif %}

  {% if AVAILABLE_ARCHIVE_VERSIONS %}
  <br />
  <div class="box">
    <div class="box_title">KN-Archiv</div>
    <div class="box_body">
      <strong>Verfügbare Versionen</strong><br />
      <ul>
        {% for versionData in AVAILABLE_ARCHIVE_VERSIONS %}
        <li>
          <span style="color: #cecece">></span>
          <a href="?{{ SHOW_ARCHIVE_VIEW }}=1&version={{ versionData.version }}">{{ versionData.display }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <br />
  <div class="box">
    <div class="box_title">Suche</div>
    <div class="box_body">
      <form method="post" action="comm.php" name="knsearchform">
        <input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
        <ul>
          <li>
            <input type="text" name="search" style="width: 150px;" onkeypress="return event.keyCode != 13;" />
          </li>
          <li>
            <a href="javascript:void(0);" onClick="searchKn('SHOW_USER_SEARCH');" class="linkbutton">
              nach Spieler-ID suchen
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" onClick="searchKn('SHOW_POSTID_SEARCH');" class="linkbutton">
              nach Beitrag-ID suchen
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" onClick="searchKn('SHOW_POST_SEARCH');" class="linkbutton">
              nach Text suchen
            </a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>