{% from 'html/database/macros.twig' import categoryEntries %}
<input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
<div style="width: 300px; float: left;">
	<div class="divhead">Schiffe & Stationen</div>
	<div class="divbody">
		{{ categoryEntries(RUMP_LIST) }}
		<br />
		{{ categoryEntries(RPG_SHIP_LIST) }}
	</div>
</div>
<div style="width: 300px; margin-left: 5px; float: left;">
	<div class="divhead">Karte</div>
	<div class="divbody">
		{{ categoryEntries(MAP_LIST) }}
	</div>
</div>
<div style="width: 300px; margin-left: 5px; float: left;">
	<div class="divhead">Wichtige Orte</div>
	<div class="divbody">
		{{ categoryEntries(POI_LIST) }}
	</div>
</div>
<div style="clear: both;"></div>
<br />
<div style="width: 300px; float: left;">
	<div class="divhead">Highscores</div>
	<div class="divbody">
		<div>Siedler</div>
		<div class="divbody">
			<a href="?SHOW_TOP_DISCOVER=1">Die 10 besten Entdecker</a><br />
			<a href="?SHOW_TOP_RESEARCH=1">Die 10 besten Forscher</a><br />
			<a href="?SHOW_TOP_RPG=1">Die 10 bestbewerteten RPG-Schreiber</a><br />
			<a href="?SHOW_TOP_PIRATE_WRATH=1">Die 10 meistgehassten Siedler der Kazon</a><br />
		</div>
		<div>Schiffe (anonym)</div>
		<div class="divbody">
			<a href="?SHOW_TOP_FLIGHTS=1">Die Top 10 der Vielflieger</a><br />
			<a href="?SHOW_TOP_CREW=1">Die Top 10 der Ausbilder</a><br />
		</div>
		<div>Handel</div>
		<div class="divbody">
			<a href="?SHOW_TOP_LATINUM=1">Die 10 Söhne des Nagus</a><br />
			<a href="?SHOW_TOP_ACTIV_TRADEPOST=1">Die 10 aktivsten Handelsposten</a><br />
		</div>
		<div>Kolonien</div>
		<div class="divbody">
			<a href="?SHOW_COLONY_WORTH=1">Die Top 10 der Architekten</a><br />
			<a href="?SHOW_COLONY_PRODUCTION_WORTH=1">Die Top 10 der Produzenten</a><br />
			<a href="?SHOW_SATISFIED_WORKER=1">Die Top 10 der besten Arbeitgeber</a><br />
		</div>
	</div>
</div>
<div id="sonstiges" style="width: 300px; margin-left: 5px; float: left;">
	<div class="divhead">Sonstiges</div>
	<div class="divbody">
		<a href="?SHOW_PRESTIGELOG=1">Prestigehistorie</a><br />
		<a href="?SHOW_SETTLERLIST=1">Siedlerliste</a><br />
		<a href="?SHOW_NPCLIST=1">NPCs & Administrator</a><br />
		<a href="javascript:void(0);" onclick="openStatistics();">Statistiken</a><br />
		<a href="?SHOW_COMMODITIES_OVERVIEW=1">Warenübersicht</a>
	</div>
</div>