{% if LAYERS %}
<div id="userStarmap" class="userStarmap" data-layer-id="{{ LAYER.getId }}"
    data-layer-width="{{ LAYER.getWidth }}" data-layer-height="{{ LAYER.getHeight }}" data-cell-size="{{ CELL_SIZE }}"
    data-fields-per-section="{{ FIELDS_PER_SECTION }}"
    data-image-url="starmap.php?SHOW_USER_STARMAP_IMAGE=1&amp;layerid={{ LAYER.getId }}"
    data-data-url="starmap.php?SHOW_USER_STARMAP_DATA=1&amp;layerid={{ LAYER.getId }}"
    data-realtime-url="starmap.php?SHOW_USER_STARMAP_REALTIME=1&amp;layerid={{ LAYER.getId }}">
    <div class="userStarmapToolbar">
        <select id="userStarmapLayer">
            {% for layer in LAYERS %}
            <option value="{{ layer.getId }}" {% if layer.getId == LAYER.getId %}selected="selected" {% endif %}>
                {{ layer.getName }}
            </option>
            {% endfor %}
        </select>
        <button type="button" id="userStarmapRefresh" class="linkbutton">Aktualisieren</button>
        <button type="button" id="userStarmapFit" class="linkbutton">Einpassen</button>
        <span id="userStarmapStatus" class="userStarmapStatus">Bereit</span>
    </div>

    <div class="userStarmapLayout">
        <div class="userStarmapStage">
            <canvas id="userStarmapCanvas"></canvas>
            <div id="userStarmapLoading" class="userStarmapLoading">Lade Karte. 0%</div>
            <div id="userStarmapTooltip" class="userStarmapTooltip"></div>
        </div>

        <aside class="userStarmapPanel">
            <div class="userStarmapPanelSection">
                <div class="userStarmapPanelTitle">Ansicht</div>
                <div class="userStarmapZoomControls" aria-label="Kartenzoom">
                    <button type="button" id="userStarmapZoomIn" title="Hineinzoomen">+</button>
                    <button type="button" id="userStarmapZoomOut" title="Herauszoomen">-</button>
                </div>
                <div class="starmapSectionControls userStarmapControls">
                    <label>
                        <input type="checkbox" id="userStarmapShowTerritory" checked="checked" />
                        Territorium
                    </label>
                    <label>
                        <input type="checkbox" id="userStarmapShowImpassable" />
                        Unpassierbar
                    </label>
                    <label>
                        <input type="checkbox" id="userStarmapShowEffects" />
                        Effekte
                    </label>
                    <label>
                        <input type="checkbox" id="userStarmapShowGrid" checked="checked" />
                        Raster
                    </label>
                    <label>
                        <input type="checkbox" id="userStarmapShowOwnShips" />
                        Eigene Schiffe
                    </label>
                    <label>
                        <input type="checkbox" id="userStarmapShowOwnStations" />
                        Eigene Stationen
                    </label>
                    <label>
                        <input type="checkbox" id="userStarmapShowAllianceShips" />
                        Verbündete Schiffe
                    </label>
                    <label>
                        <input type="checkbox" id="userStarmapShowAllianceStations" />
                        Verbündete Stationen
                    </label>
                    <label>
                        <input type="checkbox" id="userStarmapShowSensorContacts" />
                        Sensor-Livekontakte
                    </label>
                    <label>
                        <input type="checkbox" id="userStarmapShowSensorCoverage" />
                        Sensorbereich
                    </label>
                    <label class="userStarmapSectorControl">
                        <span>Sektor</span>
                        <select id="userStarmapSectorHighlight">
                            <option value="0">Kein Sektor</option>
                            {% for row in SECTIONS %}
                            {% for section in row %}
                            <option value="{{ section }}">Sektor {{ section }}</option>
                            {% endfor %}
                            {% endfor %}
                        </select>
                    </label>
                </div>
            </div>

            <div class="userStarmapPanelSection">
                <div class="userStarmapPanelTitle">Feld</div>
                <div id="userStarmapFieldDetails" class="userStarmapFieldDetails">
                    <div class="userStarmapEmpty">Feld anklicken</div>
                </div>
            </div>
        </aside>
    </div>
</div>
<script>
    if (typeof initUserStarmap === 'function') {
        initUserStarmap();
    } else if (typeof appendJsAsync === 'function') {
        appendJsAsync('{{ JAVASCRIPTPATH }}/js/userStarmap.js?v=user-full-starmap-signature-effects', function () {
            if (typeof initUserStarmap === 'function') {
                initUserStarmap();
            }
        });
    }
</script>
{% endif %}
