<div class="optionsView">
    <form action="options.php" method="post">
        <table class="tcal">
            <tr>
                <th colspan="2">Siedlername</th>
            </tr>
            <tr>
                <td style="width: 50%;">
                    <input type="text" style="width: 75%;" name="uname" value="{{ REAL_USER.getName }}" class="text"
                        maxlength="255" />
                    <input type="submit" name="B_CHANGE_NAME" value="ändern" class="button" />
                </td>
                <td style="width: 50%;">Vorschau: {{ REAL_USER.getName|bbcode }}
                </td>
            </tr>
            <tr>
                <td colspan="2">Dein Spielername ist im Spiel an allen Ecken zu finden. Beachte
                    deshalb bei der Wahl des Namens bitte die <a href="{{ WIKI }}/index.php?title=Spielregeln"
                        target="_blank">Regeln</a><br />
                    Du kannst BB-Code ([b][/b], [i][/i], [color][/color]) verwenden um
                    Deinen Namen zu designen.</td>
            </tr>
        </table>
    </form>
    <br />
    <form action="options.php" method="post">
        <table class="tcal">
            <tr>
                <th colspan="2">Passwort</th>
            </tr>
            <tr>
                <td style="width: 200px;">Aktuelles Passwort eingeben</td>
                <td><input type="password" style="width: 150px;" name="oldpass" class="text" />
                </td>
            </tr>
            <tr>
                <td>Neues Passwort eingeben</td>
                <td><input type="password" style="width: 150px;" name="pass" class="text" />
                </td>
            </tr>
            <tr>
                <td>Neues Passwort wiederholen</td>
                <td><input type="password" style="width: 150px;" name="pass2" class="text" />
                    <input type="submit" name="B_CHANGE_PASSWORD" value="ändern" class="button" />
                </td>
            </tr>
            <tr>
                <td colspan="2">Das Passwort muss aus mindestens 6 Zeichen bestehen. Bitte gib
                    Dein Passwort niemals an andere Personen weiter.</td>
            </tr>
        </table>
    </form>
    <br />
    <form action="options.php" method="post">
        <table class="tcal">
            <tr>
                <th>E-Mailadresse</th>
            </tr>
            <tr>
                <td><input type="text" style="width: 250px;" name="email" class="text"
                        value="{{ REAL_USER.getRegistration.getEmail }}" /> <input type="submit" name="B_CHANGE_EMAIL"
                        value="ändern" class="button" /></td>
            </tr>
            <tr>
                <td>Beachte bitte, dass diese Adresse gültig ist und benutze keine Wegwerf
                    E-Mailadressen. Nachrichten und Löschbestätigungen können Dir sonst
                    unter Umständen nicht zugestellt werden.</td>
            </tr>
        </table>
    </form>
    <br />
    {% for setting in DISTINCT_SETTING_WRAPPERS %}
    <form action="options.php" method="post" {% if setting.encType %}enctype="{{ setting.getEnctype }}" {% endif %}>
        <table class="tcal">
            <tr>
                <th colspan="2">{{ setting.getType.getTitle }}</th>
            </tr>
            {% include setting.getType.getTemplate %}
        </table>
    </form>
    <br />
    {% endfor %}
    <form action="options.php" method="post">
        <table class="tcal">
            <tr>
                <th>Siedlerbeschreibung</th>
            </tr>
            <tr>
                <td><textarea name="description"
                        style="width: 100%; height: 200px;">{% autoescape false %}{{ REAL_USER.getDescription }}{% endautoescape %}</textarea>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="ändern" name="B_CHANGE_DESCRIPTION" class="button" /></td>
            </tr>
        </table>
    </form>
    <br />
    <form action="options.php" method="post">
        <table class="tcal">
            <th colspan="2">Accounteinstellungen</th>
            {% for setting in SETTING_WRAPPERS %}
            <tr>
                <td>{% include setting.getType.getTemplate %}</td>
                <td>{{ setting.getType.getDescription }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <input type="submit" class="button" value="Tutorial Neustart" name="B_CREATE_TUTORIALS" />
                </td>
                <td>
                    Setzt alle Tutorials zurück, sodass diese erneut durchlaufen werden
                    können.
                </td>
            </tr>
            <tr>
                <td><input type="submit" class="button" value="Tutorials beenden" name="B_DELETE_TUTORIALS" />
                </td>
                <td>Beendet alle Tutorials sofort.</td>
            </tr>
            <tr>
                <td colspan="4">
                    <input type="submit" class="button" value="Einstellungen ändern" name="B_CHANGE_SETTINGS" />
                </td>
            </tr>

        </table>
    </form>
    <br />
    <form action="options.php" method="post">
        <input type="hidden" name="B_ACTIVATE_VACATION" value="1" />
        <table class="tcal">
            <th colspan="4">Urlaubsmodus</th>
            <tr>
                <td>Der Urlaubsmodus friert den Account ein. Andere Spieler können nicht mehr
                    mit Schiffen oder Kolonien von dir interagieren.</td>
            </tr>
            <tr>
                <td>Die Aktivierung findet erst nach 48 Stunden ohne Login statt!</td>
            </tr>
            <tr>
                <td>Die Aktivierung hängt überall eine Info an den Usernamen an.</td>
            </tr>
            <tr>
                <td>Diese Aktion ist danach für eine Woche nicht ausführbar.</td>
            </tr>
            <tr>
                <td>Der Klick auf den Button führt den Logout durch.</td>
            </tr>
            <tr>
                <td>Ein erneuter Login deaktiviert den Urlaubsmodus wieder.</td>
            </tr>
            <tr>
                <td style="width: 100px;"><input type="submit" class="button" value="Urlaubsmodus aktivieren" />
                </td>
            </tr>
        </table>
    </form>
    <br />
    <form action="options.php" method="post">
        <input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
        <input type="hidden" name="B_DELETE_ACCOUNT" value="1" />
        <table class="tcal">
            <tr>
                <td style="width: 100px;"><input type="submit" class="button" value="Accountlöschung" /></td>
                <td>Um eine Löschung durchzuführen muss diese bestätigt werden. Dies geschieht
                    via eines Links in einer Email</td>
            </tr>
        </table>
    </form>
</div>