{% from 'html/macros.twig' import useravatar, userinfo, contactModeSwitcher %}

<script src="{{ JAVASCRIPTPATH }}/js/comm.js"></script>
<form action="pm.php" method="post" name="pmlist" id="pmlist">
  <input type="hidden" name="runtime" id="formaction" value="1" />
  <input type="hidden" name="formaction" value="1" />
  <input type="hidden" name="move_pm" id="move_pm" value="0" />
  <input type="hidden" name="deletion_mark" id="deletion_mark" value="" />
  <input type="hidden" name="pmcat" id="pmcat" value="{{ CATEGORY.getId }}" />
  <div style="float: left; width: 75%;">
    {% include 'html/communication/pmNavigation.twig' %}
    <br />
    {% for post in PM_LIST %}
    {% set postId = post.getId %}
    {% set sender = post.getSender %}
    <div style="overflow: hidden; text-overflow: ellipsis">
      <div class="box">
        <div class="box_title" style="padding-top: 5px; padding-bottom: 5px; font-size: 110%;">
          {% if CATEGORY.isPMOutDir %}
          An:
          {% else %}
          Von:
          {% endif %}
          {{ userinfo(sender) }}
        </div>
        <div class="box_body" style="margin: 0; padding: 0;">
          <div class="pmGrid">
            <div class="knGridText">
              <div style=" padding: 10px;">
                <span class="translatable-content" id="message{{ postId }}">
                  {% autoescape false %}
                  {{ post.getText|bbcode|nl2br }}
                  {% endautoescape %}
                </span>
              </div>
              {% if post.getHref %}
              <div style="padding: 10px;">
                <a href="{{ post.getHref }}&sstr={{ SESSIONSTRING }}" title="ansehen"
                  onmouseover="cp('forward{{ postId }}','buttons/lupe2', 'png');"
                  onmouseout="cp('forward{{ postId }}','buttons/lupe1', 'png');">
                  <img src="/assets/buttons/lupe1.png" style="height: 24px;" name="forward{{ postId }}" />
                </a>
              </div>
              {% endif %}
            </div>
            <div class="knGridUser">
              <div class="segment">
                {% if not post.getNew %}
                {{ post.getDate|datetime }}
                {% endif %}
                {% if post.isMarkableAsNew %}
                <span class="negative">{{ post.getDate|datetime }}</span>
                {% endif %}
              </div>
              {% if post.isMarkableAsReceipt %}
              <div class="segment">
                <img src="/assets/buttons/double_checked.png" title="Nachricht gelesen" />
              </div>
              {% endif %}
              <div class="segment">
                {% if sender.isNpc %}
                <div>NPC</div>
                {% endif %}
                <div class="pmUserAvatar">
                  <a href="/userprofile.php?uid={{ sender.getId }}">
                    {{ useravatar(sender) }}
                  </a>
                </div>
              </div>
              <div class="segment">
                {% set id = sender.getId %}
                {% if post.displayUserLinks %}
                {% if post.hasTranslation %}
                <a onmouseover="cp('translate{{ postId }}','buttons/translate1', 'png')"
                  onmouseout="cp('translate{{ postId }}','buttons/translate0', 'png')">
                  <img src="assets/buttons/translate0.png" alt="Übersetzen" style="cursor:pointer; margin-left: 5px;"
                    onclick="toggleTranslation('message{{ postId }}')" name="translate{{ postId }}" />
                </a>
                {% endif %}
                <a href="?WRITE_PM=1&reply={{ postId }}" onmouseover="cp('reply{{ postId }}','buttons/msg2', 'png');"
                  onmouseout="cp('reply{{ postId }}','buttons/msg1', 'png');">
                  <img src="/assets/buttons/msg1.png" name="reply{{ postId }}" title="Antwort verfassen" />
                </a>
                {% endif %}
                <input type="checkbox" name="deleted[]" value="{{ postId }}" />
                <a href="?B_DELETE_PMS=1&pmcat={{ CATEGORY.getId }}&delete_single={{ postId }}"
                  onmouseover="cp('del{{ postId }}','buttons/x2', 'png')"
                  onmouseout="cp('del{{ postId }}','buttons/x1', 'png')">
                  <img src="/assets/buttons/x1.png" name="del{{ postId }}" title="Nachricht löschen" />
                </a>
              </div>
              <div class="segment">
                {% if sender.isContactable and post.senderIsContact %}
                <span id="contact{{ postId }}">
                  {{ contactModeSwitcher(post.senderIsContact, 'contact' ~ postId) }}
                </span>
                {% endif %}
                {% if not CATEGORY.isPMOutDir %}
                {% include 'html/communication/pmMoveSelector.twig' %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
    {% endfor %}
    {% include 'html/communication/pmNavigation.twig' %}
  </div>
</form>
<div style="float: left; width: 24%; margin-left: 1%">
  {% set markcat = true %}
  {% include 'html/communication/pmSidebar.twig' %}
</div>
