{% from 'html/macros.twig' import userAvatar, pmWindow, contactModeSwitcher %}

<div style="width: 530px; float: left;">
	{% set alliance = PROFILE.getAlliance %}
	<div class="userProfileView">
		{{ userAvatar(PROFILE) }}
		{% if not IS_PROFILE_CURRENT_USER %}
		{% set userId = PROFILE.getId %}
		<div style="width: 100%;">
			<br />
			<br />
			<br />
			<div style="margin: auto; width: 530px;" class="divhead">Aktionen</div>
			<div style="margin: auto; width: 530px; text-align: left;" class="divbody">
				<table style="width: 100%;" cellpadding="0" cellspacing="0">
					<tr>
						<td style="text-align: center; width: 6%">
							{{ pmWindow(USER, userId) }}
						</td>
						<td style="text-align: center; width: 47%">
							{% set handle = getUniqId() %}
							{% if CONTACT %}
							<span id="{{ handle }}">
								{{ contactModeSwitcher(CONTACT, handle) }}
							</span>
							{% else %}
							{% set divname = 'selector_' ~ handle %}
							{% set div = handle %}
							{% include 'html/user/contactButton.twig' %}
							{% endif %}
						</td>
						<td style="text-align: center; width: 47%">
							{% set div = 'ignore' %}
							{% include 'html/user/ignoreButton.twig' %}
						</td>
					</tr>
				</table>
			</div>
		</div>
		{% endif %}
	</div>
	<div style="float: left;">
		<div style="width: 350px;">
			<div class="divhead">Name</div>
			<div class="divbody">
				<img src="assets/rassen/{{ PROFILE.getFactionId }}s.png" />
				{{ PROFILE.getName|bbcode }}
			</div>
			<br />
			{% if alliance %}
			<div class="divhead">Allianz</div>
			<div class="divbody">
				<a href="alliance.php?id={{ alliance.getId }}">
					{{ alliance.getName|bbcode }}
				</a>
			</div>
			{% endif %}
			<br />
			<div class="divhead">Siedler seit</div>
			<div class="divbody">{{ PROFILE.getCreationDate|stuDateTime }}</div>
		</div>
	</div>

	<br style="clear: both;" />
	<br />
	{% if DESCRIPTION %}
	<div class="divhead" style="width: 530px;">Beschreibung
		{% if PROFILE.hasTranslation %}
		<a onmouseover="cp('translate','buttons/translate1', 'png')"
			onmouseout="cp('translate','buttons/translate0', 'png')">
			<img src="assets/buttons/translate0.png" alt="Übersetzen" style="cursor:pointer; margin-left: 5px;"
				onclick="toggleTranslation('description')" name="translate" />
		</a>
		{% endif %}
	</div>
	<div id="description" class="divbody translatable-content" style="width: 530px; overflow-wrap: break-word;">
		{% autoescape false %}
		{{ DESCRIPTION|nl2br }}
		{% endautoescape %}
	</div>
	<br />
	{% endif %}
	<div style="width: 530px;">
		<table class="tcal">
			<tr>
				<th>Plots</th>
			</tr>
			{% if not RPG_PLOTS %}
			<tr>
				<td>Keine</td>
			</tr>
			{% endif %}
			{% for data in RPG_PLOTS %}
			<tr class="row">
				<td>
					<a href="comm.php?SHOW_PLOT=1&plotid={{ data.getPlotId }}">
						{{ data.getRpgPlot.getTitle }}
					</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

<div style="float: left;">
	<div style="margin-left: 5px;">
		<table class="tcal">
			<tr>
				<th style="width: 300px;">Freunde</th>
			</tr>
			<tr>
				<td>
					{% if FRIENDS %}
					{% for user in FRIENDS %}
					{{ userAvatar(user) }}
					{% endfor %}
					{% else %}
					<div class="darkbg" style="text-align: center;">Keine
					</div>
					{% endif %}
				</td>
			</tr>
		</table>
	</div>
	<div style="margin-left: 5px; margin-top: 20px;">
		<table class="tcal">
			<tr>
				<th style="width: 300px;">Awards</th>
			</tr>
			<tr>
				<td>
					{% if not PROFILE.getAwards %}
					<div class="darkbg" style="text-align: center;">Keine
					</div>
					{% endif %}
					{% for data in PROFILE.getAwards %}
					<img src="assets/awards/{{ data.getAward.getId }}.png" title="{{ data.getAward.getDescription }}"
						style="width: 65px; height: 65px; padding: 5px;" />
					{% endfor %}
				</td>
			</tr>
		</table>
	</div>
	{% if not IS_PROFILE_CURRENT_USER %}
	<table style="width: 300px; margin-left: 5px; margin-top: 20px;">
		<tr>
			<th>Koordinatenliste</th>
		</tr>
		<tr>
			<td>
				<div style="padding-left: 5px; display: table-cell; vertical-align:top;">
					{% if COLONYSCANLIST is empty %}
					<p>Keine Daten gesammelt.</p>
					{% else %}
					<table class="use" style="width: 300px;">
						<tr>
							<th></th>
							<th>Koloniename</th>
							<th>Koordinaten</th>
							<th>Letzter Scan</th>
							<th>Scanner</th>
							<th></th>
						</tr>
						{% for csl in COLONYSCANLIST %}
						<tr id="colonyScan_{{ csl.getId }}">
							<td><a href="javascript:void(0);" onclick="showColonySurface({{ csl.getId() }});"><img
										src="assets/planets/{{ csl.getColony.getColonyClassId }}.png" /></a></td>
							<td><span>{{ csl.getColonyName | bbcode }}</span></td>
							<td>
								{{ csl.getColony.getSx }}|{{ csl.getColony.getSy }}
								({{ csl.getColony.getSystem.getCx }}|{{ csl.getColony.getSystem.getCy }})</br>
								{{ csl.getColony.getSystem.getName }}</td>
							<td><span>{{ csl.getDate | date('Y-m-d H:i:s') }}</span></td>
							<td><span>{{ csl.getUser.getName | bbcode }}</span></td>
							<td>
								{% if csl.getUserId == USER.getId %}
								{% set iconId = delColScan ~ csl.getId %}
								<a href="javascript:void(0)" onclick="deleteColonyScan({{ csl.getId }});"
									onmouseover="cp('{{ iconId }}','buttons/x2')"
									onmouseout="cp('{{ iconId }}','buttons/x1')">
									<img src="assets/buttons/x1.png" name="{{ iconId }}" title="Scan Löschen" />
								</a>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</table>
					{% endif %}
				</div>
			</td>
		</tr>
	</table>
	{% endif %}

</div>

<div id="charactersContainer" style="float: left; width: 500px; margin-left: 20px;">
	<div class="divhead">
		Spieler Charaktere
		{% if IS_PROFILE_CURRENT_USER %}
		<img src="/assets/buttons/char_new1.png" alt="Neuen Charakter hinzufügen" id="addCharacterButton"
			onmouseover="this.src='/assets/buttons/char_new2.png';"
			onmouseout="this.src='/assets/buttons/char_new1.png';" style="cursor: pointer; float: right;"
			title="Neuen Charakter hinzufügen">
		{% endif %}
	</div>
	{% for character in PROFILE.getCharacters %}
	<table class="tcal" style="width: 100%; margin-top: 3px;">
		<tr class="character-bar" data-character-id="{{ character.getId }}" style="cursor: pointer;">
			<th>
				{{ character.getName }}
				{% if IS_PROFILE_CURRENT_USER %}
				(ID {{ character.getId }})
				<img src="/assets/buttons/char_edit1.png" alt="Charakter bearbeiten" class="edit-character-button"
					data-character-id="{{ character.getId }}" style="cursor: pointer; float: right;"
					onmouseover="this.src='/assets/buttons/char_edit2.png';"
					onmouseout="this.src='/assets/buttons/char_edit1.png';" title="Charakter bearbeiten">

				<img src="/assets/buttons/char_del1.png" alt="Charakter löschen" class="delete-character-button"
					data-character-id="{{ character.getId }}" style="cursor: pointer; float: right; margin-right: 5px;"
					onmouseover="this.src='/assets/buttons/char_del2.png';"
					onmouseout="this.src='/assets/buttons/char_del1.png';" title="Charakter löschen">

				{% endif %}
			</th>
		</tr>
		<tr id="character-{{ character.getId }}" class="character-content" style="display: none;"
			data-character-name="{{ character.getName }}" data-character-description="{{ character.getDescription|e }}">
			<td>
				<div style="overflow: hidden;">
					{% if character.getAvatar %}
					<img src="avatare/characters/{{ character.getAvatar }}.png" alt="Avatar"
						style="float: left; width: 200px; margin-right: 10px; margin-bottom: 10px;">
					{% endif %}
					<p class="translatable-content" style="margin: 0;">{{ character.getDescription|bbcode|nl2br|raw }}
					</p>
				</div>
			</td>
		</tr>
	</table>
	{% else %}
	<p>Keine Charaktere gefunden</p>
	{% endfor %}
</div>
