{% block body %}
{% for quest in QUEST_LIST %}
<div class="plotListItem">
  <div>
    <div class="plotTitle">
      <a href="?SHOW_QUEST=1&questid={{ quest.getId }}">{{ quest.getTitle }}</a>
      {% if SHOW_STATUS == 'active' and quest.getId not in USER_QUEST_IDS %}
      {% set currentTime = "now"|date('U') %}
      {% if quest.getApplicationEnd > currentTime %}
      <span style="color: #15ff00; font-size: 90%; margin-left: 10px;">Bewerbung möglich</span>
      {% endif %}
      {% endif %}
      {% if SHOW_STATUS == 'active' and quest.getId in USER_QUEST_IDS %}
      {% set userQuestData = quest.getQuestUsers|filter(u => u.getUserId == app.user.getId)|first %}
      {% if userQuestData and userQuestData.getMode.value == 3 %}
      <span style="color: #c2b942; font-size: 90%; margin-left: 10px;">Eingeladen</span>
      {% endif %}
      {% endif %}
    </div>
    <div>
      {% set activeMembersCount = quest.getQuestUsers|filter(u => u.getMode.value == 1)|length %}
      {{ activeMembersCount }} Teilnehmer
      {% if quest.getApplicantMax %} / {{ quest.getApplicantMax }}{% endif %}

      {% if quest.getId in USER_QUEST_IDS %}
      {% set userQuestData = quest.getQuestUsers|filter(u => u.getUserId == app.user.getId)|first %}
      {% if userQuestData %}
      - <span style="color: #c2b942;">{{ userQuestData.getMode.getDescription }}</span>
      {% endif %}
      {% endif %}
    </div>
  </div>
  <div>
    <div>
      Start: {{ quest.getStart|stuDateTime }}
    </div>
    <div>
      <span>Status:</span>
      {% if quest.getEnd is null %}
      <span style="color: #15ff00;">Aktiv</span>
      {% else %}
      <span>Beendet am {{ quest.getEnd|stuDateTime }}</span>
      {% endif %}
    </div>
    {% if quest.getPlot %}
    <div>
      <span>Plot:</span> <a href="/comm.php?SHOW_PLOT=1&plotid={{ quest.getPlot.getId }}" target="_blank">{{
        quest.getPlot.getTitle }}</a>
    </div>
    {% endif %}
  </div>
  <div>
    {% set hasRewards = quest.getPrestige or quest.getCommodityReward or quest.getSpacecrafts or quest.getAwardId %}
    {% if hasRewards %}
    {% set rewardCount = 0 %}
    {% if quest.getPrestige %}{% set rewardCount = rewardCount + 1 %}{% endif %}
    {% if quest.getCommodityReward %}{% set rewardCount = rewardCount + quest.getCommodityReward|length %}{% endif %}
    {% if quest.getSpacecrafts %}{% set rewardCount = rewardCount + quest.getSpacecrafts|length %}{% endif %}
    {% if quest.getAwardId %}{% set rewardCount = rewardCount + 1 %}{% endif %}

    <div style="max-height: 100px; overflow: hidden;">
      {% if quest.getPrestige %}
      <div style="margin-bottom: 3px;">
        <img src="/assets/buttons/prestige.png" title="Prestige" style="vertical-align: middle;" /> {{ quest.getPrestige
        }}
      </div>
      {% endif %}

      {% if quest.getCommodityReward %}
      {% for commodityId, amount in quest.getCommodityReward %}
      {% set commodity = COMMODITIES[commodityId] is defined ? COMMODITIES[commodityId] : null %}
      <div style="margin-bottom: 3px;">
        <img src="/assets/commodities/{{ commodityId }}.png" title="{{ commodity ? commodity.getName : 'Ware' }}"
          style="vertical-align: middle;" /> {{ amount }}
      </div>
      {% endfor %}
      {% endif %}

      {% if quest.getSpacecrafts %}
      {% for buildplanId, amount in quest.getSpacecrafts %}
      {% set buildplan = BUILDPLANS[buildplanId] is defined ? BUILDPLANS[buildplanId] : null %}
      <div style="margin-bottom: 3px;">
        {{ amount }}x
        {% if buildplan %}
        <img src="/assets/ships/{{ buildplan.getRump.getId }}.png" title="{{ buildplan.getName }}"
          style="vertical-align: middle;" />
        {% else %}
        <img src="/assets/buttons/bauplan.png" title="Unbekannter Bauplan" style="vertical-align: middle;" />
        {% endif %}
      </div>
      {% endfor %}
      {% endif %}

      {% if quest.getAwardId %}
      <div style="margin-bottom: 3px;">
        Award ID: {{ quest.getAwardId }}
      </div>
      {% endif %}
    </div>
    {% if rewardCount > 4 %}
    <div style="font-size: 90%;">...</div>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endfor %}
{% endblock %}