<input type="hidden" name="buildmenu{{ menutype }}_offset" id="buildmenu{{ menutype }}_offset"
    value="{{ scrolloffset }}" />
<div>{{ menu.name }}</div>
<div class="arrow" onclick="buildMenuScrollUp({{ menutype }},{{ scrolloffset }})" title="Hochblättern">
    <table style="width:100%; height: 100%;">
        <tr>
            <td style="text-align: center;">
                <img src="/assets/buttons/pup.png" />
            </td>
        </tr>
    </table>
</div>
<ul class="menu" style="width: 10vw;">
    {% for building in menu.buildings %}
    <li>
        <div id="{{ building.getName }}" onclick="openBuildingInfo(this, {{ building.getId }});">
            <img src="/assets/generated/buildings/{{ building.getId }}/{{ building.getBuildingType }}at.png" /><br />
            <span style="word-wrap: break-word; white-space: normal;">
                {{ building.getName }}
            </span>
        </div>
    </li>
    {% endfor %}
</ul>
<div class="arrow" onclick="buildMenuScrollDown({{ menutype }},{{ scrolloffset }})" title="Runterblättern">
    <table style="width:100%; height: 100%;">
        <tr>
            <td style="text-align: center;">
                <img src="/assets/buttons/pdown.png" />
            </td>
        </tr>
    </table>
</div>
