<table class="use" style="width: 433px;">
    <tr>
        <th>
            <span>Lager:</span> {{ STORAGE_SUM }}/{{ MAX_STORAGE }}
            ({{ STORAGE_SUM_PERCENT }}%)
        </th>
        <td>
            {% autoescape false %}
            {{ PRODUCTION_SUM|formatProductionValue }}
            {% endautoescape %}
        </td>
    </tr>
    {% for stor in STORAGE %}
    <tr class="row">
        <td style="vertical-align: middle;">
            <div style="display: table-cell; width: 55px;">
                <a href="javascript:void(0);" onclick="getCommodityLocations({{ stor.commodity.getId }})">
                    <img src="/assets/commodities/{{ stor.commodity.getId }}.png"
                        title="{{ stor.commodity.getName }}" />
                </a>
            </div>
            <div style="display: table-cell; width: 40px; vertical-align:middle;">
                {% if stor.storage %}
                {{ stor.storage.getAmount }}
                {% else %}
                0
                {% endif %}
            </div>
            <div style="display: table-cell; vertical-align: middle">{{ stor.commodity.getName }}</div>
        </td>
        <td style="vertical-align: middle;">
            {% if stor.production %}
            <span class="{{ stor.production.getCssClass }}">{{ stor.production.getProductionDisplay }}</span>
            {% else %}
            -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
