{% extends "html/sitedefaults.twig" %}
{% from 'html/shipmacros.twig' import shipimagewithoutwarp %}

{% block body %}
{% include 'html/colony/initialJs.twig' %}
{% include 'html/breadcrumb.twig' %}

<form action="colony.php" method="post" name="colmanform">
	<input type="hidden" name="SHOW_SHIP_DISASSEMBLY" value="1" />
	<table class="tcal">
		<tr>
			<th>Klasse</th>
			<th>Name</th>
			<th></th>
		</tr>
		{% for ship in SHIP_LIST %}
		<tr class="row">
			<td>
				<input type="hidden" name="ships[]" value="{{ ship.getId }}" />
				{{ shipimagewithoutwarp(ship) }}
			</td>
			<td>{{ ship.getName|bbcode }}</td>
			<td>
				<div>
					<a
						href="?id={{ COLONY.getId }}&B_DISASSEMBLE_SHIP=1&ship_id={{ ship.getId }}&fid={{ FIELD.getFieldId }}">Demontieren</a>
				</div>
			</td>
		</tr>
		{% endfor %}
	</table>
	<br />
</form>
{% endblock %}
