{# needs following variables: HEAD_ROW, MAP_FIELDS) #}
{% from 'html/executeJavascript.twig' import executeJs %}

{{ executeJs(EXECUTEJSAJAXUPDATE) }}
<table id="starmapsectiontable" class="use starmapSectionTable">
    <tr>
        <th>x|y</th>
        {% for head in HEAD_ROW %}
        <th>{{ head }}</th>
        {% endfor %}
    </tr>
    {% for yrow in MAP_FIELDS %}
    <tr>
        <th>{{ yrow.getRow }}</th>
        {% for data in yrow.getFields %}
        <td class="starmap" style="{{ data.getTerritoryStyle }}" id="{{ data.getCx }}_{{ data.getCy }}"
            data-starmap-tooltip="{{ data.getTooltip|e('html_attr') }}"
            data-starmap-effects="{{ data.hasEffects ? '1' : '0' }}"
            data-starmap-impassable="{{ data.isImpassable ? '1' : '0' }}"
            data-starmap-territory="{{ data.hasTerritory ? '1' : '0' }}">
            {% if data.getIcon %}
            <div class="starmapInner">
                <img src="/assets/map/{{ data.getFieldImagePath }}" class="starmapFieldImage" width="28" height="28"
                    loading="lazy" decoding="async" alt="" draggable="false" />
                {% if data.getHref %}
                <a href="javascript:void(0);" onclick="{{ data.getHref }}" class="starmapIconLink">
                    <img src="/assets/map/{{ data.getIcon }}.png" class="starmapIconImage" width="28" height="28"
                        loading="lazy" decoding="async" alt="" draggable="false" />
                </a>
                {% else %}
                <img src="/assets/map/{{ data.getIcon }}.png" class="starmapIconImage" width="28" height="28"
                    loading="lazy" decoding="async" alt="" draggable="false" />
                {% endif %}
            </div>
            {% else %}
            <div class="starmapInner">
                <img src="/assets/map/{{ data.getFieldImagePath }}" class="starmapFieldImage" width="28" height="28"
                    loading="lazy" decoding="async" alt="" draggable="false" />
            </div>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<script>
    if (typeof initStarmapSectionInfo === 'function') {
        initStarmapSectionInfo();
    }
</script>
