<div id="fachead_{{ factionId }}">
    <img src="assets/rassen/{{ factionId }}s.png" /> <strong>{{ faction.getName }}</strong>
    {% if faction.getPlayerLimit %}
    ({{ faction.getPlayerCount }}/{{ faction.getPlayerLimit }})
    {% endif %}
</div>
<div id="facinfo_{{ factionId }}" style="display: none;">
    {% if not faction.hasFreePlayerSlots %}
    <div style="font-weight: bold"><br />Diese Fraktion kann nicht
        ausgewählt werden da alle vorgesehen Spielerslots belegt sind</div>
    {% endif %}
    <br />
    {{ faction.getDescription }}
</div>
