<div id="fachead_{{ factionId }}">
    <img src="assets/rassen/{{ factionId }}s.png" /> <strong>{{ data.getName }}</strong>
    {% if data.getPlayerLimit %}
    ({{ data.getPlayerCount }}/{{ data.getPlayerLimit }})
    {% endif %}
</div>
<div id="facinfo_{{ factionId }}" style="display: none;">
    {% if not data.hasFreePlayerSlots %}
    <div style="font-weight: bold"><br />Diese Fraktion kann nicht
        ausgewählt werden da alle vorgesehen Spielerslots belegt sind</div>
    {% endif %}
    <br />
    {{ data.getDescription }}
</div>
