{% extends "html/index/indexDefaults.twig" %}

{% block body %}
<div style="width: 100%;">
  <h3>Verantwortlich nach §5 TMG</h3>
  {{ IMPRINT_NAME }}<br />
  {{ IMPRINT_ADDRESS }}<br />
  {{ IMPRINT_ZIP }} {{ IMPRINT_CITY }}<br />
  {{ IMPRINT_COUNTRY }}<br /><br />
  {{ IMPRINT_EMAIL }}
  <br />
  {{ IMPRINT_PHONE }}
</div>
<div style="width: 100%;">
  <h4>Hinweis</h4>
  Dieses Spiel ist ein Fan-Projekt und nicht profitorientiert.<br />
  Bitte beachtet dazu auch den Copyright Hinweis.
</div>
<div>
  <h3>Datenschutzerklärung</h3>
  <div>
    Bitte lies Dir diese Datenschutzerklärung aufmerksam durch. Diese erläutert explizit wie wir mit
    personenbezogenen Daten, die uns von Dir übermittelt worden sind, umgehen.<br />
    Wenn Du unter 16 Jahre alt bist, darfst Du uns deine personenbezogenen Daten nur mit ausdrücklicher Zustimmung
    durch rechtliche Vertreter*innen übermitteln. Wir behalten uns das Recht vor, die Bedingungen unserer
    Datenschutzerklärung von Zeit zu Zeit anzupassen. Wenn wir grundlegende Änderungen vornehmen, werden wir Dich
    mittels einer Ankündigung auf unserer Website informieren, bevor die Änderung in Kraft tritt.
  </div>
  <h4>
    Was sind personenbezogen Daten?
  </h4>
  <div>
    "Personenbezogen Daten? umfasst alle Informationen, die sich auf eine identifizierte oder identifizierbare
    natürliche Person beziehen (wie Name, Adresse, Telefonnummer, Mobilnummer, E-Mail-Adresse) und Informationen zu
    Standort und/oder Aktivitäten dieser Person, wie Informationen zu deren Nutzung des Service oder IP-Adresse,
    wenn diese direkt mit persönlich identifizierbaren Daten verknüpft sind.
  </div>
  <h4>
    Welche personenbezogenen Daten sammeln wir?
  </h4>
  <h5>
    Aktive Sammlung
  </h5>
  <div>
    Personenbezogene Daten können auf vielfältige Weise gesammelt werden, wenn Du unsere Website (www.stuniverse.de)
    (im folgenden STU genannt) besuchst oder nutzt. Zum Beispiel können wir Deinen Benutzernamen, die E-Mail-Adresse
    oder andere Kontakt- und demografische Informationen sammeln, wenn du dich registrierst und ein Konto
    einrichtest oder wenn Du uns aus anderen Gründen per E-Mail kontaktierst.
    <br /><br />Im Zuge der Registrierung benötigen wir zur Identifikation deine Mobilnummer. An diese Nummer senden
    wir dir deinen persönlichen Bestätigungscode. Solltest du nach Ablauf von 3 (drei) Tagen deine Anmeldung nicht
    bestätigt haben, löschen wir alle mit dir in Verbindung stehenden Daten.
    <br /><br />Personenbezogene Daten können auch gesammelt werden, wenn Du solche Informationen in Zusammenhang
    mit dem Anlegen eines Profils, durch das Hinterlassen von Kommentaren, Posten von Inhalten, Versand einer E-Mail
    oder einer Nachricht an einen anderen Benutzer bereitstellen oder durch Deine Teilnahme an interaktiven
    Chat-Räumen, Foren, oder anderen Funktionen der Website, oder wenn Du STU nutzt.
    <br /><br />Darüber hinaus können wir von Zeit zu Zeit ggf. demografische, Kontakt- oder andere personenbezogen
    Daten sammeln, die Du in Zusammenhang mit der freiwilligen Teilnahme an Umfragen, Gewinnspielen, Spielen oder
    anderen Aktivitäten bereitstellst. Du kannst auf einen bestimmten Teil unseres Angebots zugreifen, ohne dass Du
    uns personenbezogene Angaben machen.
    <br /><br />Allerdings können bestimmte Funktionen nicht genutzt werden, die eine Registrierung voraussetzen und
    Du kannst bestimmte Materialien nicht erhalten, wenn nicht bestimmte Informationen bereitgestellt werden. Die
    Verarbeitung dieser personenbezogenen Daten ist rechtmäßig, weil sie zur Wahrung unserer berechtigten Interessen
    in Zusammenhang mit dem Service erforderlich ist. 6.1.(b) der DSGVO.
    <br />Wenn die Verarbeitung nicht zur Wahrung unserer berechtigten Interessen in Zusammenhang mit dem Service
    erforderlich ist, wird Deine Einwilligung zu einer solchen Verarbeitung erbeten. Von Zeit zu Zeit können wir die
    erforderlichen Daten zur Registrierung oder hinsichtlich bestimmter Funktionen oder Services verändern, und
    daher erhebt diese Liste keinen Anspruch auf Vollständigkeit.
  </div>
  <h5>
    Protokolldateien
  </h5>
  <div>
    Wenn Du STU nutzt, werden einige Daten auch automatisch gesammelt, beispielsweise Deine
    Internetprotokoll-(IP)-Adresse, Dein Betriebssystem, der Typ Deines Browsers oder Mobilgerätes sowie die
    Sprache, die Zugriffszeiten, die Adresse einer verweisenden Website und Deine Aktivität auf unserer Seite.
  </div>
  <h4>
    Tracking-Technologien
  </h4>
  <div>
    Durch die Nutzung von STU stimmt Du zu, dass wir automatisch bestimmte Daten durch die Verwendung von „Cookies“
    oder Tracking-Technologien sammeln, um Trends zu analysieren, die Website zu verwalten und die Bewegungen der
    Nutzer auf der Website zu kontrollieren. Benutzer können die Verwendung von Cookies auf individueller
    Browserebene kontrollieren.
    <br />Cookies sind kleine Datendateien, die auf Anforderung durch eine Website oder einen Service auf der
    Festplatte eines Benutzers gespeichert werden, damit die Website jene Benutzer erkennen kann, die die Website
    zuvor besucht haben, und um bestimmte Informationen zu bewahren, wie Präferenzen und Verlauf. Wenn wir Cookies
    kombinieren oder diese mit persönlich identifizierbaren Daten verknüpfen, werden wir solche Informationen als
    personenbezogene Daten behandeln. Zählpixel (auch Web Bug oder Tracking-Pixel genannt) sind kleine, unsichtbare
    grafische Bilder, die auf der Website oder in E-Mails in Zusammenhang mit STU verwendet werden können, um
    bestimmte Informationen zu sammeln und um die Benutzeraktivitäten auf der Website zu überwachen. Wenn Du Cookies
    blockierst, löscht oder über informiert werden möchtest, ziehe bitte die Anleitungen Deines Browsers oder
    Mobilgerätes hinzu. Weiterführende Informationen über die Verwendung von Cookies und Zählpixel findest Du in
    unserer Cookie-Richtlinie. Weiterführende Informationen zur Änderung der Cookie-Einstellungen in Deinem Browser
    findest Du unter www.allaboutcookies.org.
  </div>
  <h4>
    Zu welchen anderen Zwecken verwenden wir personenbezogene Daten?
  </h4>
  <div>
    Generell nutzen wir die personenbezogenen Daten, die wir sammeln, um Anfragen zu verarbeiten, um die von Dir
    angeforderten Informationen bereitzustellen, und zu dem Zweck, zu dem die Daten bereitgestellt wurden. Zum
    Beispiel können wir die Daten, die wir sammeln, folgendermaßen verwenden:
    <ul>
      <li>um Dir eine Begrüßungs-E-Mail zu senden und um Dich hinsichtlich der Nutzung zu kontaktieren</li>
      <li>um Dir die Interaktion mit anderen Mitgliedern in STU, in unserem Forum, Chat oder vergleichbaren
        Angeboten zu erlauben</li>
      <li>um technische Unterstützung (Support) bereitzustellen</li>
      <li>um E-Mails, Einsendungen, Anfragen oder Reklamationen zu beantworten</li>
      <li>um tatsächlichen oder vermuteten Betrug, Hacken, Verstöße gegen die Spielregeln oder anderes Fehlverhalten
        in Zusammenhang mit STU zu verhindern oder zu untersuchen</li>
    </ul>
    Die vorstehenden Zwecke sind zur Wahrung unserer berechtigten Interessen in Zusammenhang mit dem Service
    erforderlich und rechtmäßig. 6.1.(b) der DSGVO.
    <br /><br />
    Wenn Du uns personenbezogene Daten von Dritten übermittelst, musst Du sicherstellen, dass Du zuvor deren
    Einwilligung eingeholt hast. In einem solchen Fall oder falls andere uns Deine Daten übermitteln, werden wir
    diese Daten nur für den spezifischen Zweck nutzen, zu dem sie uns zur Verfügung gestellt wurden.
  </div>
  <h4>
    Teilen wir personenbezogene Daten?
  </h4>
  <div>
    Wir verwenden personenbezogenen Daten ausschließlich in der Weise, wie in dieser Datenschutzerklärung erläutert.
    Wir verkaufen oder handeln keine personenbezogenen Daten über unsere Besucher oder Nutzer an Dritte/mit Dritten.
    Wir können personenbezogene Daten erlangen, offenlegen oder aufbewahren, einschließlich des Inhalts Deiner
    Kommunikation, wenn wir in gutem Glauben annehmen, dass wir dazu rechtmäßig autorisiert sind, an öffentliche
    Behörden oder wenn wir dazu verpflichtet sind bspw. der Durchsetzung gesetzlicher Vorgaben oder wenn dies
    erforderlich oder angemessen ist, um dem Gesetz, einem Gerichtsverfahren oder den Behörden Folge zu leisten,
    juristische Verfahren zu unterstützen oder zum Schutz unserer Nutzer vor der betrügerischen, missbräuchlichen,
    unangemessen oder ungesetzlichen Nutzung unserer Website. Du verstehst, dass wir die Community-Funktionen von
    STU, Informationen, die Du in öffentlichen oder privaten Gruppen, Foren und anderen interaktiven Bereichen der
    Website veröffentlichst sowie alle Daten, die Du mit natürlichen Personen über STU austauschst, den anderen
    Benutzern zur Verfügung stellen und in einigen Fällen (wenn Sie einem öffentlichen Bereich veröffentlicht
    wurden) auch öffentlich verfügbar machen können. Wir empfehlen, dass Du hinsichtlich der Herausgabe von
    personenbezogenen Daten an andere oder dem Teilen solcher Daten in öffentlichen oder privaten Online-Foren
    Vorsicht walten lässt. Wir sind nicht verantwortlich für die Handlungen von Dritten, denen Du deine
    personenbezogenen Daten bereitstellst. Um Deine personenbezogenen Daten aus unseren Community-Foren oder anderen
    öffentlichen Bereichen entfernen zu lassen kontaktiere uns bitte. Selbst, wenn Du Informationen, die Du im
    gepostet hast, entfernst, können Kopien davon auf zwischengespeicherten oder archivierten Seiten von STU
    verbleiben und das gilt auch, wenn andere Benutzer diese Informationen kopiert oder gespeichert haben. In
    einigen Fällen sind wir ggf. nicht in der Lage, Deine personenbezogenen Daten zu löschen, und in einem solchen
    Fall werden wir Dich entsprechend darüber und über die Gründe dafür informieren.
  </div>
  <h4>
    Welche Schritte ergreifen wir, um Deine personenbezogenen Daten online zu schützen?
  </h4>
  <div>
    STU ist bestrebt, alle erforderlichen Vorkehrungen zu treffen, um die personenbezogenen Daten, die wir sammeln,
    zu schützen und zu sichern.<br />Wir haben physikalische, elektronische und betriebliche Verfahren
    implementiert, die den unautorisierten Zugriff, Verlust oder Missbrauch verhindern sollen.
    <br /><br />
    Darüber hinaus beschränken wir den internen Zugriff auf personenbezogene Daten auf jene, die diese Daten zur
    Erfüllung ihrer Pflichten benötigen. Der unautorisierte Zugriff auf oder die unautorisierte Nutzung solcher
    Daten ist verboten.
    <br /><br />
    Überprüfung, Aktualisierung, Korrektur oder Löschung von personenbezogenen Daten Auf Ersuchen können
    personenbezogenen Daten eingesehen werden, die STU besitzt. Um diese Informationen anzufordern, kontaktiere uns
    bitte.
    <br />Du hast das Recht von uns Auskunft hinsichtlich des Zugriffs auf Deine personenbezogenen Daten zu
    verlangen sowie das Recht auf Berichtigung oder Löschung Deiner personenbezogen Daten, Überprüfung der
    Rechtmäßigkeit der Verarbeitung, ein Widerspruchsrecht hinsichtlich der Verarbeitung sowie das Recht auf
    Datenübertragbarkeit; kontaktiere uns bitte diesbezüglich.
    <br />Bitte beachte, dass bestimmte Arten von personenbezogenen Daten notwendig sind, um die
    Teilnahmeberechtigung zu überprüfen, beispielsweise E-Mail-Adresse, und dass diese Daten nicht gelöscht werden
    können, sofern Du deinen Account nicht schließt/löscht. Um Zugriff auf Deine personenbezogenen Daten zu
    erlangen, musst Du auf Anforderung durch uns einen ausreichenden Identifikationsnachweis erbringen, und wir
    behalten uns das Recht vor, den Zugriff durch einen neuen Benutzer zu unterbinden, wenn wir Zweifel an Deiner
    Identität haben sollten. Wir werden alle Zugriffsanfragen innerhalb von 30 Tagen beantworten. Darüber hinaus
    behalten wir uns das Recht vor, Deine Daten in unseren Unterlagen aufzubewahren, wenn wir glauben, dass dies in
    Zusammenhang mit der Beilegung von Streitfällen, der Durchsetzung der Nutzungsbedingungen und hinsichtlich
    relevanter technischer und rechtlicher Anforderungen und Einschränkungen von STU notwendig oder ratsam ist.
    Dort, wo die Verarbeitung auf Deine Einwilligung basiert, hast Du das Recht, Deine Einwilligung jederzeit zu
    widerrufen.
    <br />Darüber hinaus hast Du das Recht zur Beschwerde bei der übergeordneten Stelle.
  </div>
  <h4>
    Datenspeicherung
  </h4>
  <div>
    Deine Registrierungsdaten und alle Spieldaten, die aus der Aktivität Deines Kontos generiert werden, werden so
    lange aufbewahrt, wie Dein Konto aktiv ist oder bis STU den Betrieb einstellt. Wenn Du dich entscheidest, Dein
    Konto zu schließen, werden Deine Daten zum Zeitpunkt des Schließens des Kontos anonymisiert und zwei (2) Jahre
    lang aufbewahrt.
  </div>
  <h4>
    Sicherheit
  </h4>
  <div>
    Wir befolgen die allgemein akzeptierten Standards zum Schutz von personenbezogenen Daten, die uns übermittelt
    werden, sowohl während der Übertragung als auch dann, wenn wir sie erhalten. Allerdings ist kein Verfahren zur
    Übertragung über das Internet und keine Methode der elektronischen Speicherung zu 100 % sicher. Deshalb können
    wir keine absolute Sicherheit gewährleisten. Wenn Du Fragen zur Sicherheit von STU hast, kannst du uns
    kontaktieren.
    <br /><br />
    Durch die Nutzung von STU und die Bereitstellung von Daten erteilst Du uns die Zustimmung zur Übertragung,
    Speicherung und Verarbeitung Deiner Daten in der Art und Weise, wie dies in dieser Richtlinie beschrieben wird.
    BürgerInnen aus der Europäischen Union oder Schweiz mit Fragen oder Beschwerden hinsichtlich dieser
    Datenschutzerklärung sollten sich zuerst an uns wenden.
  </div>
  <h4>
    Kontakt
  </h4>
  <div>
    Falls Du Fragen, Bedenken oder Anmerkungen hinsichtlich dieser Richtlinie hast, kontaktieren uns bitte per
    E-Mail an die im Impressum genannte Adresse.
    <br /><br />Stand 09.05.2022
  </div>
</div>
{% endblock %}
