{% extends "html/index/indexDefaults.twig" %}

{% block body %}
<div style="width: 100%;">
	<h3>Willkommen in den Weiten von Star Trek Universe.</h3>
	Star Trek Universe ist ein kostenloses, rundenbasiertes Online-Strategiespiel mit vielen Rollenspielelementen. Es befindet sich aktuell in seiner dritten Version.
	<br /><br />
	Bist Du neu hier?<br />
	- <a href="?SHOW_REGISTRATION=1">Registrierung</a><br />
	- <a href="{{ WIKI }}/index.php?title=Spielregeln" target="_blank">Regeln</a><br />
	- <a href="?SHOW_HELP=1">Hilfe</a>
</div>
<br />
<div style="width: 100%;">
	<h3>Aktuelles</h3>
</div>
{% if SYSTEM_NEWS %}
{% for data in SYSTEM_NEWS %}
<div style="background-color: #121212; padding: 5px; margin-bottom: 10px;">
	<div style="font-weight: bold;">
		{% autoescape false %}
		{{ data.getSubject }}
		{% endautoescape %}
	</div>
	<div style="font-size: 80%; color: #686868;">vom {{ data.getDate|stuDateTime }}</div>
	<br />
	<div>
		{% autoescape false %}
		{{ data.getText|nl2br }}
		{% endautoescape %}
	</div>
	{% if data.getLinks %}
	<div>
		<br />
		<div style="font-size: 80%; color: #686868;">Links</div>
		<ul style="margin: 0; padding: 0; padding-left: 5px; list-style-type: none;">
			{% for link in data.getLinks %}
			<li>
				- <a href="{{ link }}" target="_blank">{{ link }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
</div>
{% endfor %}
{% endif %}
{% endblock %}
