<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:stu="stu">
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#000000" />
    <title>{{ PAGETITLE }}</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <meta name="description" content="Star Trek Universe - Ein Star Trek Browsergame" />
    <meta name="keywords" content="star trek, star, trek, spiel, browsergame, rollenspiel, rpg, online" />
    <meta name="author" content="Wolverine" />
    <meta name="robots" content="index" />
    <meta name="robots" content="follow" />
    <meta name="publisher" content="Wolverine" />
    <meta name="language" content="de" />
    <meta name="Copyright" content="Wolverine" />
    <meta name="Page-Topic" content="star trek, star, trek, rollenspiel, online, rpg, spiel, browsergame" />
    <script src="{{ JAVASCRIPTPATH }}/js/prototype.js"></script>
    <script src="{{ JAVASCRIPTPATH }}/js/scriptaculous.js"></script>
    <script src="{{ JAVASCRIPTPATH }}/js/main.js"></script>
</head>

<body onload="if ($('login')) $('login').focus(); updateBannerImage();">
    <div style="width: 100%">
        <div style="margin: auto;">
            <div id="banner">
                <img id="bannerImg" src="" border="0" title="Star Trek Universe" />
            </div>
            <div style="width: 1160px; margin: auto;">
                <div style="width: 880px; float: left;">
                    <div class="mainbar_box_header">Navigation</div>

                    <div class="mainbar_box_content topnav">
                        <a href="/index.php">Hauptseite</a>
                        <a href="/index.php?SHOW_REGISTRATION=1">Registrieren</a>
                        <a href="/index.php?SHOW_HELP=1">Hilfe</a>
                        <a href="/index.php?SHOW_INFOS=1">Impressum</a>
                        <a href="{{ FORUM }}" target="_blank">Forum</a>
                        <a href="{{ CHAT }}" target="_blank">Chat</a>
                        <a href="{{ FORUM }}/viewforum.php?f=12" target="_blank">Changelog</a>
                        <a href="/index.php?SHOW_PARTNER_SITES=1">Partnerseiten</a>
                    </div>
                    <br />
                    <div class="mainbar_box_header">{{ PAGETITLE }}</div>
                    <div class="mainbar_box_content mainbar_box_content_border">
                        <div style="margin: 5px">
                            {% block body %}
                            ...
                            {% endblock %}
                        </div>
                    </div>
                </div>

                <div style="float: left; width: 250px; position: relative;">
                    <div class="sidebar_box_header">Spielstatus</div>
                    <div class="sidebar_box_content">
                        <div id="gamestate_{{ GAME_STATS.gameState }}">{{ GAME_STATS.gameStateTextual }}</div>
                    </div>
                    <br />
                    {% if THIS.hasUser %}
                    <div class="sidebar_box_header">Willkommen zurück</div>
                    <div class="sidebar_box_content">
                        {% autoescape false %}
                        {{ USER.getName }}
                        {% endautoescape %}
                        <br /><br />
                        <a href="/maindesk.php" class="linkbutton">Zum Maindesk</a>
                    </div>
                    {% else %}
                    <div class="sidebar_box_header">Login</div>
                    <div class="sidebar_box_content">
                        {% if THIS.getLoginError %}
                        <div>
                            <span style="color: red;">{{ THIS.getLoginError }}</span>
                        </div>
                        {% endif %}
                        <form action="/index.php" method="post" name="f" id="defaultform">
                            <table>
                                <tr>
                                    <td title="Loginname oder Spieler-ID" style="width: 100px;">Siedler <img
                                            src="assets/buttons/info2.png" style="height:16px;" /></td>
                                    <td>
                                        <input type="text" id="login" size="15" class="text" name="login" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Passwort</td>
                                    <td>
                                        <input type="password" size="15" class="text" name="pass" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding-top: 10px;">
                                        <input type="submit" value="Login" class="button" name="B_LOGIN"
                                            style="cursor: pointer" />
                                        <a href="/?SHOW_LOST_PASSWORD=1" class="lostpassword">Passwort
                                            vergessen?</a>
                                    </td>
                                </tr>
                            </table>
                        </form>

                    </div>
                    {% endif %}
                    <br />
                    <div class="sidebar_box_header">Statistiken</div>
                    <div class="sidebar_box_content">
                        Spieler: {{ GAME_STATS.player }}<br />
                        Online: {{ GAME_STATS.playeronline }}<br />
                        Runde: {{ GAME_STATS.currentTurn }}<br />
                    </div>
                    <br />
                    <div class="sidebar_box_header">Links</div>
                    <div class="sidebar_box_content">
                        <a href="https://www.v2.6.stuniverse.de" target="_blank">STU V2.6</a><br />
                        <a href="https://nicotintel.de" target="_blank">
                            <img src="/assets/buttons/blog.png" />
                            <span>Hux's Blog</span>
                        </a><br />
                        <a href="https://www.facebook.com/groups/185062741732" target="_blank">Facebook</a><br />
                    </div>
                    <br />
                    <iframe src="https://discord.com/widget?id=486609699870081026&theme=dark" width="230" height="400"
                        allowtransparency="true" frameborder="0"
                        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                    <br />
                    <br />
                    <div class="sidebar_box_header">Copyright</div>
                    <div class="sidebar_box_content">
                        Star Trek is a registered trademark of Paramount Pictures.<br /><br />
                        This site is a fan project and therefor strictly non-profit.<br />
                        No copyright infringement is intended.<br />
                        &copy; 2001 - now STU-Team
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>
