{% extends "html/index/indexDefaults.twig" %}

{% block body %}
<div style="width: 100%;">
	<h3>Unsere Partnerseiten</h3>
	<br /><br />
</div>
{% for site in PARTNERSITES %}
<div style="width: 100%;">
	<h4>{{ site.name }}</h4>
	<div>{{ site.description }}</div>
	<a href="{{ site.url }}">
		<img src="{{ site.banner_path }}" alt="{{ site.name }}" title="{{ site.name }}" />
	</a>
	<br />
</div>
{% endfor %}
<!-- DSi Bannertausch Code Anfang -->
<table border="0" width="400" bgcolor="#000080" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td width="100%" colspan="2"><a href="http://www.startrek-index.de/banner/bx_click.php?id=1973"
				target="_blank"><img border="0" src="http://www.startrek-index.de/banner/bx_show.php?id=1973"
					width="400" height="40" alt="Mitglied beim DSi Bannertausch" /></a></td>
	</tr>
	<tr>
		<td width="50%">
			<a href="http://www.startrek-index.de/banner/" style="font-family: Verdana; font-size: 7pt; color: #fff;"
				target="_blank">Mitglied beim DSi
				Bannertausch</a>
		</td>
		<td width="50%" bgcolor="#003399" align="right">
			<a href="http://www.startrek-index.de/banner/bx_report.php?id=1973"
				style="font-family: Verdana; font-size: 7pt; color: #fff;" target="_blank">Kein Banner zu sehen?
				Hier klicken!</a>
		</td>
	</tr>
</table>
<!-- DSi Bannertausch Code Ende -->
{% endblock %}
