{% from 'html/macros.twig' import userAvatar, pmWindow %}

<div class="statisticsToplist">
    <div>
        <ul class="statistics">
            {% for entry in PIRATE_WRATH_LIST %}
            <li>
                <div class="userGrid">
                    <div class="placement">
                        <span class="placement{{ loop.index }}">{{ loop.index }}.</span>
                    </div>
                    <div class="userprofile">
                        {{ userAvatar(entry.getUser) }}
                    </div>
                    <div class="userName">{{ entry.getUser.getName|bbcode }}</div>
                    {% if entry.entry.getGradientColor %}
                    <div
                        style="width: 20px; height: 20px; background-color: {{ entry.entry.getGradientColor }}; border: 1px solid black;">
                    </div>
                    {% endif %}
                    <div>
                        {{ pmWindow(USER, entry.getUser.getId) }}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h1>Feinde der Kazon</h1>
        <p>In dieser Liste werden die 10 Spieler mit den höchsten Kazon-Modifikatoren geführt. Der
            Modfikator steigt, wenn ein Spieler ein Schiff der Kazon zerstört.
            Zerstören die Kazon jedoch ein Schiff des Siedlers, so sinkt er wieder ab. Außerdem sinkt der
            Modifikator um 2% jede Nacht.
            Der Modifikator hat Auswirkung auf die Kampfstärke der Kazon Piraten sowie über die Länge des
            Nicht Angriffspaktes den man beim großen Nagus erhandeln kann.
        </p>
        <br />
        <p>Dein eigener Modifikator: {{ USER_WRATH }}%</p>
        <p>Zerstörte Piratenschiffe: {{ DESTROYED_PIRATES }}</p>
        <p>Durch die Piraten zerstörte Schiffe: {{ DESTROYED_BY_PIRATES }}</p>
        <br />
        <p>Diese Liste ist immer aktuell.</p>
    </div>
</div>
