{% from 'html/macros.twig' import userAvatar, pmWindow %}

<div class="statisticsToplist">
    <div>
        <ul class="statistics">
            {% for entry in PRODUCERS_LIST %}
            <li>
                <div class="userGrid">
                    <div class="placement">
                        <span class="placement{{ loop.index }}">{{ loop.index }}.</span>
                    </div>
                    <div class="userprofile">
                        {{ userAvatar(entry.getUser) }}
                    </div>
                    <div class="userName">{{ entry.getUser.getName|bbcode }}</div>
                    <div>
                        Punkte: {{ entry.getPoints }}
                    </div>
                    <div>
                        {{ pmWindow(USER, entry.getUser.getId) }}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h1>Produzenten</h1>
        <p>In dieser Liste werden die 10 Spieler mit der ergiebigsten Produktion im Spiel aufgeführt.
        </p>
        <p>Der Wert aller produzierter Waren von sämtlichen Kolonien wird aufsummiert und in Relation zu
            allen Spielern gesetzt.
            Der Punktestand kann jeden Tick variieren.</p>
        <br />
        <p>Dein eigener Punktestand:
            {% if USER_POINTS %}
            {{ USER_POINTS }}
            {% else %}
            0.00
            {% endif %}
        </p>
        <br />
    </div>
</div>
