{% from 'html/macros.twig' import onClickSpacecraft %}

<input type="hidden" name="id" value="{{ MANAGER_ID }}" />
<input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
<input type="hidden" name="SHOW_SPACECRAFT_MANAGEMENT" value="1" />
<table class="tcal">
  <tr>
    <th>Klasse</th>
    <th>Name</th>
    <th>Crew</th>
    <th>Batterie</th>
    <th>Warpkern</th>
    <th>Torpedo-Transfer</th>
    <th>Shuttle-Transfer</th>
  </tr>
  {% for group in SPACECRAFT_GROUPS %}
  <tr>
    <td colspan="7">
      {{ group.getName|bbcode }}
      {% if group.getUser %}
      <span> von </span>
      {{ group.getUser.getName|bbcode }}
      {% endif %}
    </td>
  </tr>
  {% for wrapper in group.getWrappers %}
  {% set ship = wrapper.get %}
  {% set shipId = ship.getId %}
  {% set rumpId = ship.getRumpId %}
  <tr class="row">
    <td>
      <input type="hidden" name="spacecrafts[]" value="{{ ship.getId }}" />
      {% if wrapper.isSelectable %}
      <a {{ onClickSpacecraft(ship) }}>
        <img src="assets/ships/{{ rumpId }}.png" title="{{ ship.getRumpName }}" />
      </a>
      {% else %}
      <img src="assets/ships/{{ rumpId }}.png" title="{{ ship.getRumpName }}" />
      {% endif %}
    </td>
    {% if wrapper.isSelectable %}
    <td>
      <a {{ onClickSpacecraft(ship) }}>{{ ship.getName|bbcode }}</a>
    </td>
    {% else %}
    <td>{{ ship.getName|bbcode }}</td>
    {% endif %}
    {% if not ship.isDestroyed %}
    {% include 'html/ship/management/crewManagement.twig' %}
    <td>
      {% set eps = wrapper.getEpsSystemData %}
      {% if eps %}
      <div>
        <img class="center" onclick="this.up('div').down('input').value={{ eps.getMaxBattery }}"
          src="assets/buttons/batt.png" title="Ersatzbatterie" />
        <input type="text" size="3" name="batt[{{ shipId }}]" />
        {% if wrapper.isSelectable %}
        {{ eps.getBattery }}/{{ eps.getMaxBattery }}
        {% endif %}
      </div>
      {% endif %}
    </td>
    <td>
      {% set reactor = wrapper.getReactorWrapper %}
      {% if reactor %}
      <div>
        <img class="center" onclick="this.up('div').down('input').value={{ reactor.getCapacity }}"
          src="assets/buttons/{{ reactor.get.getIcon }}" title="Reaktorladung" />
        <input type="text" size="3" name="reactor[{{ shipId }}]" />
        {% if wrapper.isSelectable %}
        <span style="{{ reactor.getReactorLoadStyle }}">{{ reactor.getLoad }}/{{ reactor.getCapacity }}</span>
        {% endif %}
      </div>
      {% endif %}
    </td>
    <td>
      {% if ship.getMaxTorpedos > 0 %}
      <div>
        {% if ship.getTorpedoCount %}
        <img class="center" src="assets/commodities/{{ ship.getTorpedo.getCommodityId }}.png"
          title="{{ ship.getTorpedo.getName }}" />
        {% else %}
        <img class="center" onclick="this.up('div').down('input').value={{ ship.getMaxTorpedos }}"
          src="assets/buttons/torp.png" title="Torpedos" />
        {% endif %}
        {% if wrapper.isSelectable %}
        <input type="text" size="3" name="torp[{{ shipId }}]" value="{{ ship.getTorpedoCount }}" />
        <span>Max.</span> {{ ship.getMaxTorpedos }}
        {% else %}
        <input type="text" size="3" name="torp[{{ shipId }}]" />
        {% endif %}
        {% if not ship.getTorpedoCount %}
        {% for data in wrapper.getPossibleTorpedoTypes %}
        <img class="center" src="assets/commodities/{{ data.getCommodityId }}.png" title="{{ data.getName }}" />
        {% if loop.first %}
        <input type="radio" name="torp_type[{{ shipId }}]" checked="true" value="{{ data.getId }}" />
        {% else %}
        <input type="radio" name="torp_type[{{ shipId }}]" value="{{ data.getId }}" />
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
      {% endif %}
    </td>
    <td>
      {% if ship.hasShuttleRamp %}
      {% if ship.isShuttleRampHealthy %}
      <div>
        <a href="javascript:void(0);" onclick="openShuttleManagement(this, {{ shipId }}, {{ MANAGER_ID }});">
          Shuttle-Management öffnen
        </a>
      </div>
      {% else %}
      <div>
        <span>Shuttle-Rampe ist defekt</span>
      </div>
      {% endif %}
      {% endif %}
    </td>
    {% endif %}
  </tr>
  {% endfor %}
  {% endfor %}
</table>
<br />
<input type="submit" style="cursor: pointer" name="B_MANAGE_SPACECRAFTS" value="Ausführen" />
