{% if systemWrapper.isActivated %}
<a href="javascript:void(0);"
    onClick="actionToInnerContent('B_DEACTIVATE_{{ name }}', 'id={{ spacecraftId }}&sstr={{ SESSIONSTRING }}');"
    onmouseover="cp('{{ icon }}','buttons/{{ icon }}2');" onmouseout="cp('{{ icon }}','buttons/{{ icon }}1');">
    <img src="/assets/buttons/{{ icon }}1.png" name="{{ icon }}" /> {{ description }} deaktivieren</a>
{% else %}
<a href="javascript:void(0);"
    onClick="actionToInnerContent('B_ACTIVATE_{{ name }}', 'id={{ spacecraftId }}&sstr={{ SESSIONSTRING }}');"
    onmouseover="cp('{{ icon }}','buttons/{{ icon }}1');" onmouseout="cp('{{ icon }}','buttons/{{ icon }}2');">
    <img src="/assets/buttons/{{ icon }}2.png" name="{{ icon }}" /> {{ description }} aktivieren</a>
{% endif %}
