<table style="width: 100%; height: 100%;">
    <tr>
        <td style="text-align: center;">
            {% block above %}
            ...
            {% endblock %}
        </td>
    </tr>
    <tr>
        {% set sourceId = TRANSFER_INFO.getSourceId %}
        {% set targetId = TRANSFER_INFO.getTargetId %}
        {% set sourceEntityType = TRANSFER_INFO.getSourceType.value %}
        {% set targetEntityType = TRANSFER_INFO.getTargetType.value %}
        {% set transferType = TRANSFER_INFO.getTransferType.value %}
        {% set icon = TRANSFER_INFO.isUpIcon ? 'b_up' : 'b_down' %}
        {% set isUnload = TRANSFER_INFO.isUnload ? 0 : 1 %}
        <td style="text-align: center; height: 10%;">
            <a href="javascript:void(0);"
                onclick="showTransfer({{ sourceId }}, '{{ sourceEntityType }}', {{ targetId }}, '{{ targetEntityType }}', {{ transferType }}, {{ isUnload }}, true);"
                title="Richtung wechseln" onmouseover="cp('beamtrigger','buttons/{{ icon }}2');"
                onmouseout="cp('beamtrigger','buttons/{{ icon }}1');">
                <img src="assets/buttons/{{ icon }}1.png" name="beamtrigger" />
            </a>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            {% block below %}
            ...
            {% endblock %}
        </td>
    </tr>
</table>
