{% macro entity(entity, isColony, isOwn, sourceShipId) %}
{% if isColony %}
{% set colonyClassId = entity.getColonyClassId %}
{% if isOwn %}
<a href="colony.php?SHOW_COLONY=1&id={{ entity.getId }}&target={{ sourceShipId }}">
    <img src="assets/planets/{{ colonyClassId }}.png" />
</a>
{% else %}
<img src="assets/planets/{{ colonyClassId }}.png" />
{% endif %}
{% else %}
{% set rumpId = entity.getRump.getId %}
{% if isOwn %}
<a href="?SHOW_SHIP=1&id={{ entity.getId }}">
    <img src="assets/ships/{{ rumpId }}.png" />
</a>
{% else %}
<img src="assets/ships/{{ rumpId }}.png" />
{% endif %}
{% endif %}
{% endmacro %}
