<tr>
    {% if TRANSFER_INFO.isOtherGoodTransferPossible %}

    {% set sourceId = TRANSFER_INFO.getSourceId %}
    {% set targetId = TRANSFER_INFO.getTargetId %}
    {% set sourceEntityType = TRANSFER_INFO.getSourceType.value %}
    {% set targetEntityType = TRANSFER_INFO.getTargetType.value %}
    {% set isUnload = TRANSFER_INFO.isUnload ? 1 : 0 %}
    <td colspan="3">
        {% if TRANSFER_INFO.isCommodityTransferPossible %}
        <a href="javascript:void(0);"
            onclick="showTransfer(null, {{ sourceId }}, '{{ sourceEntityType }}', {{ targetId }}, '{{ targetEntityType }}', 1, {{ isUnload }}, true);"
            onmouseover="cp('commoditybeamtrigger','buttons/lager_2');"
            onmouseout="cp('commoditybeamtrigger','buttons/lager_1');">
            <img src="assets/buttons/lager_1.png" name="commoditybeamtrigger" title="Waren beamen" />
        </a>
        {% endif %}
        {% if TRANSFER_INFO.isCrewTransferPossible %}
        <a href="javascript:void(0);"
            onclick="showTransfer(null, {{ sourceId }}, '{{ sourceEntityType }}', {{ targetId }}, '{{ targetEntityType }}', 2, {{ isUnload }}, true);"
            onmouseover="cp('crewbeamtrigger','buttons/crew_2');" onmouseout="cp('crewbeamtrigger','buttons/crew_1');">
            <img src="assets/buttons/crew_1.png" name="crewbeamtrigger" title="Crew beamen" />
        </a>
        {% endif %}
        {% if TRANSFER_INFO.isTorpedoTransferPossible %}
        {% if TRANSFER_INFO.isFriend %}
        <a href="javascript:void(0);"
            onclick="showTransfer(null, {{ sourceId }}, '{{ sourceEntityType }}', {{ targetId }}, '{{ targetEntityType }}', 3, {{ isUnload }}, true);"
            onmouseover="cp('torpedobeamtrigger','buttons/act_torp1');"
            onmouseout="cp('torpedobeamtrigger','buttons/torp');">
            <img src="assets/buttons/torp.png" name="torpedobeamtrigger" title="Torpedos beamen" />
        </a>
        {% else %}
        <a href="javascript:void(0);" onclick="toggleTransferMessage('torpedo');"
            onmouseover="cp('torpedobeamtrigger','buttons/act_torp1');"
            onmouseout="cp('torpedobeamtrigger','buttons/torp');">
            <img src="assets/buttons/torp.png" name="torpedobeamtrigger" title="Torpedos beamen" />
        </a>
        {% endif %}
        {% endif %}
        <div id="torpedoTransferMessage" style="display: none;">Torpedotransfer nur zu befreundeten Schiffen</div>
    </td>
    {% endif %}
</tr>
