<tr>
    {% if TRANSFER_INFO.isOtherGoodTransferPossible %}
    
    {% set isUnload = TRANSFER_INFO.isUnload ? 1 : 0 %}
    {% set isColonyTarget = TRANSFER_INFO.isColonyTarget ? 1 : 0 %}
    <td colspan="3">
        {% if TRANSFER_INFO.isCommodityTransferPossible %}
        <a href="javascript:void(0);"
            onclick="showTransfer({{ TRANSFER_INFO.getTargetId }}, 1, {{ isUnload }}, {{ isColonyTarget }}, true);"
            onmouseover="cp('commoditybeamtrigger','buttons/lager_2');"
            onmouseout="cp('commoditybeamtrigger','buttons/lager_1');">
            <img src="assets/buttons/lager_1.png" name="commoditybeamtrigger" title="Waren beamen" />
        </a>
        {% endif %}
        {% if TRANSFER_INFO.isCrewTransferPossible %}
        <a href="javascript:void(0);"
            onclick="showTransfer({{ TRANSFER_INFO.getTargetId }},2, {{ isUnload }}, {{ isColonyTarget }}, true);"
            onmouseover="cp('crewbeamtrigger','buttons/crew_2');" onmouseout="cp('crewbeamtrigger','buttons/crew_1');">
            <img src="assets/buttons/crew_1.png" name="crewbeamtrigger" title="Crew beamen" />
        </a>
        {% endif %}
        {% if TRANSFER_INFO.isTorpedoTransferPossible %}
        {% if TRANSFER_INFO.isFriend %}
        <a href="javascript:void(0);"
            onclick="showTransfer({{ TRANSFER_INFO.getTargetId }},3 , {{ isUnload }}, {{ isColonyTarget }}, true);"
            onmouseover="cp('torpedobeamtrigger','buttons/act_torp1');"
            onmouseout="cp('torpedobeamtrigger','buttons/torp');">
            <img src="assets/buttons/torp.png" name="torpedobeamtrigger" title="Torpedos beamen" />
        </a>
        {% else %}
        <a href="javascript:void(0);" onclick="toggleTransferMessage('torpedo');"
            onmouseover="cp('torpedobeamtrigger','buttons/act_torp1');"
            onmouseout="cp('torpedobeamtrigger','buttons/torp');">
            <img src="assets/buttons/torp.png" name="torpedobeamtrigger" title="Torpedos beamen" />
        </a>
        {% endif %}
        {% endif %}
        <div id="torpedoTransferMessage" style="display: none;">Torpedotransfer nur zu befreundeten Schiffen</div>
    </td>
    {% endif %}
</tr>
